Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

drivers: i2c-filter: update driver structure
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

drivers: i2c-filter: fix the null access hang
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

drivers/crypto: Aspeed rsa driver
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/rsa_aspeed.c
  drivers/crypto/rsa_aspeed_priv.h
  drivers/crypto/rsa_shell.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/crypto/aspeed,rsa.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

drivers: clock: add aspeed 10X0 rsa clock
  include/dt-bindings/clock/ast10x0_clock.h
Labels: area: Devicetree Binding, area: API

include/crypto: RSA abstraction header
  include/crypto/rsa.h
  include/crypto/rsa_structs.h
Labels: area: API

include/crypto: Hash abstraction header
  include/crypto/hash.h
  include/crypto/hash_structs.h
Labels: area: API

drivers/crypto: Aspeed hash driver
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/hace_aspeed.c
  drivers/crypto/hace_aspeed.h
  drivers/crypto/hash_aspeed.c
  drivers/crypto/hash_aspeed_priv.h
  drivers/crypto/hash_shell.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/crypto/aspeed,hace.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

boards: arm: aspeed: Default enable assert.
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast1030_evb/ast1060_evb_defconfig
  boards/arm/ast2600_evb/ast2600_evb_defconfig
Labels: area: Boards

drivers: i2c-filter: update filter shell cmd
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_filter.c
  include/drivers/i2c/pfr/i2c_filter.h
Labels: area: I2C, area: API

drivers/i3c/slave: revise queue pointer update
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

dts/bindings/i3c: add default value for i2c & i3c scl frequency
  dts/bindings/i3c/i3c-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding

samples/drivers/i3c: revise the loopback test code
  samples/drivers/i3c/src/main.c
Labels: area: Samples

drivers/i3c: make i2c scl clock duty be 40-60
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: gpio: Change the unit of deb interval
  drivers/gpio/gpio_aspeed.c
  dts/bindings/gpio/aspeed,gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

tests: ast1030: gpio: Move gpio basic test to CI.
  tests/boards/ast1030/CMakeLists.txt
  tests/boards/ast1030/boards/ast1030_evb.overlay
  tests/boards/ast1030/dts/bindings/test,gpio_basic_api.yaml
  tests/boards/ast1030/src/gpio.c
  tests/boards/ast1030/src/test_gpio/test_callback_manage.c
  tests/boards/ast1030/src/test_gpio/test_callback_trigger.c
  tests/boards/ast1030/src/test_gpio/test_gpio.h
  tests/boards/ast1030/src/test_gpio/test_gpio_port.c
Labels: area: Tests

tests: boards: ast1030: increase CI timeout time.
  tests/boards/ast1030/src/main.c
Labels: area: Tests

tests: boards: ast1030: Change return value.
  tests/boards/ast1030/src/adc.c
  tests/boards/ast1030/src/jtag.c
  tests/boards/ast1030/src/peci.c
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Tests

pin_list: Change into zephyr define
  soc/arm/aspeed/ast26xx/sig_def_list.h
Labels: none

pinctrl: aspeed: Fix the compiler opt for pinctrl
  boards/arm/ast1030_evb/fun_def_list.h
  boards/arm/ast2600_evb/fun_def_list.h
  soc/arm/aspeed/ast10x0/sig_def_list.h
  soc/arm/aspeed/ast26xx/sig_def_list.h
Labels: area: Boards

samples: ast1030_evb: console: enable USB ASPEED configs
  samples/boards/ast1030_evb/demo/prj.conf
  samples/boards/ast1030_evb/usb/console/prj.conf
Labels: area: Samples

usb: aspeed: fix rx dma offset calculation
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

ft: spi: Add SPI flash test for FT stage
  tests/boards/ast1030/src/spi.c
Labels: area: Tests

tests: adc: pass the gv and tolerance to function.
  tests/boards/ast1030/src/adc.c
Labels: area: Tests

drivers: i2c-snoop: add i2c snoop support
  drivers/i2c/pfr/Kconfig
  drivers/i2c/pfr/Kconfig.snoop
  drivers/i2c/pfr/i2c_snoop.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c-snoop.yaml
  include/drivers/i2c/pfr/i2c_snoop.h
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: API

tests: gpio/pwm_tach: Return pass if the test type not CI.
  tests/boards/ast1030/src/gpio.c
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Tests

drivers: i2c-snoop: update snoop enable
  drivers/i2c/pfr/i2c_snoop.c
  include/drivers/i2c/pfr/i2c_snoop.h
Labels: area: I2C, area: API

drivers: i2c-snoop: update i2c snoop update
  drivers/i2c/pfr/i2c_snoop.c
  include/drivers/i2c/pfr/i2c_snoop.h
Labels: area: I2C, area: API

drivers: i2c-snoop: update i2c shell for snoop
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_snoop.c
  include/drivers/i2c/pfr/i2c_snoop.h
Labels: area: I2C, area: API

usb: aspeed: call status callback func if reset/suspend/resume
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

drivers: i2c-snoop: fix the compile error
  drivers/i2c/pfr/i2c_snoop.c
  include/drivers/i2c/pfr/i2c_snoop.h
Labels: area: I2C, area: API

samples: cpld: vme: Add the configure.
  samples/cpld/vme/prj.conf
Labels: area: Samples

drivers: i2c-snoop: fix typo and update api
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_snoop.c
  include/drivers/i2c/pfr/i2c_snoop.h
Labels: area: I2C, area: API

board: remove i2c 14 and i2c 15 pin assigned
  boards/arm/ast1030_evb/fun_def_list.h
Labels: area: Boards

drivers: i2c-snoop
  drivers/i2c/pfr/CMakeLists.txt
Labels: area: I2C

tests: pwm_tach: Fix missing channel 14 test.
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Tests

samples: ast1030_evb: overlay: Enable sgpiom.
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

drviers: misc/mbox_aspeed: Fix mismatching parenthesis
  drivers/misc/aspeed/mbox_aspeed.c
Labels: none

dts: ast10x0: set fmc_cs0 partition for dfu
  boards/arm/ast1030_evb/ast1030_evb.dts
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/mtd/jedec,spi-nor.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

usb: dfu: skip boot_request_upgrade() after flashing done
  subsys/usb/class/dfu/usb_dfu.c
Labels: none

samples: ast1030_evb: demo: enable USB DFU related configs
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Samples
