Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

drivers: usb: disable usb shell cmds
  drivers/usb/CMakeLists.txt
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

soc:arm:aspeed: remove unused variable
  soc/arm/aspeed/ast26xx/soc.c
Labels: none

soc: arm: aspeed: fix mismatching uart index and its signal name
  soc/arm/aspeed/ast26xx/sig_def_list.h
Labels: none

dts: arm: aspeed: fix missing pinctrl data for uart11
  dts/arm/aspeed/ast26xx-pinctrl.dtsi
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

boards: arm: ast2600_evb: add missing properties for uart11
  boards/arm/ast2600_evb/ast2600_evb.dts
  boards/arm/ast2600_evb/fun_def_list.h
Labels: area: Devicetree, area: Boards

soc: arm: aspeed: add DEBUG_HALT macro for JTAG debug
  soc/arm/aspeed/aspeed_util.h
Labels: none

arch: give "Cache type" choice a name
  arch/Kconfig
Labels: none

soc: arm: aspeed:Move gen uart bin command to 10x0
  soc/arm/aspeed/CMakeLists.txt
  soc/arm/aspeed/ast10x0/CMakeLists.txt
Labels: none

soc: arm: aspeed: support cache driver
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast2600_evb/ast2600_evb_defconfig
  drivers/cache/CMakeLists.txt
  drivers/cache/Kconfig
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_ast10x0.c
  drivers/cache/cache_ast26xx.c
  soc/arm/aspeed/ast10x0/CMakeLists.txt
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.series
  soc/arm/aspeed/ast10x0/Kconfig.series
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast26xx/CMakeLists.txt
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.series
  soc/arm/aspeed/ast26xx/Kconfig.series
  soc/arm/aspeed/ast26xx/soc.c
Labels: area: Boards

cache: refactor cached memory address code
  drivers/cache/cache_ast10x0.c
  drivers/cache/cache_ast26xx.c
Labels: none

cache: merge cache_ast26xx.c and cache_ast10x0.c
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast2600_evb/ast2600_evb_defconfig
  drivers/cache/CMakeLists.txt
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_aspeed.c
  drivers/cache/cache_ast10x0.c
  drivers/cache/cache_ast26xx.c
Labels: area: Boards

drivers: uart: aspeed: Select interrupt driven method
  drivers/serial/Kconfig.aspeed
Labels: none

drivers: clock: Avoid compiler warning
  drivers/clock_control/clock_fixed_factor.c
Labels: none

drivers: clock: Remove unused attribute
  drivers/clock_control/clock_fixed_factor.c
Labels: none

tests: boards: add ast1030 evb tests
  tests/boards/ast1030_evb/CMakeLists.txt
  tests/boards/ast1030_evb/ast1030_evb.overlay
  tests/boards/ast1030_evb/prj.conf
  tests/boards/ast1030_evb/src/adc.c
  tests/boards/ast1030_evb/src/espi.c
  tests/boards/ast1030_evb/src/gpio.c
  tests/boards/ast1030_evb/src/i2c.c
  tests/boards/ast1030_evb/src/i3c.c
  tests/boards/ast1030_evb/src/jtag.c
  tests/boards/ast1030_evb/src/main.c
  tests/boards/ast1030_evb/src/peci.c
  tests/boards/ast1030_evb/src/pwm.c
  tests/boards/ast1030_evb/src/spi.c
  tests/boards/ast1030_evb/src/tach.c
  tests/boards/ast1030_evb/src/uart.c
  tests/boards/ast1030_evb/src/usb.c
Labels: area: Tests

boards: arm: aspeed: select soc according to the board config
  boards/arm/ast2600_evb/Kconfig.board
  boards/arm/ast2600_evb/Kconfig.defconfig
  soc/arm/aspeed/ast26xx/Kconfig.soc
Labels: area: Boards

boards: arm: aspeed: select soc by the board configuration
  boards/arm/ast1030_evb/Kconfig.board
  boards/arm/ast1030_evb/Kconfig.defconfig
  soc/arm/aspeed/ast10x0/Kconfig.soc
Labels: area: Boards

boards: arm: aspeed: cleanup ast2600_evb_defconfig
  boards/arm/ast2600_evb/ast2600_evb_defconfig
Labels: area: Boards

soc: arm: aspeed: deassert CA7 reset if ast2605
  soc/arm/aspeed/ast26xx/soc.c
Labels: none

boards: arm: ast1030_evb: set USB device pid/vid
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

tests: boards: ast1030: refactor to 2 configurations
  tests/boards/ast1030/CMakeLists.txt
  tests/boards/ast1030/boards/ast1030_evb.conf
  tests/boards/ast1030/boards/ast1030_evb.overlay
  tests/boards/ast1030/boards/ast1030_slt.conf
  tests/boards/ast1030/boards/ast1030_slt.overlay
  tests/boards/ast1030/prj.conf
  tests/boards/ast1030/src/adc.c
  tests/boards/ast1030/src/espi.c
  tests/boards/ast1030/src/gpio.c
  tests/boards/ast1030/src/i2c.c
  tests/boards/ast1030/src/i3c.c
  tests/boards/ast1030/src/jtag.c
  tests/boards/ast1030/src/main.c
  tests/boards/ast1030/src/peci.c
  tests/boards/ast1030/src/pwm.c
  tests/boards/ast1030/src/spi.c
  tests/boards/ast1030/src/tach.c
  tests/boards/ast1030/src/uart.c
  tests/boards/ast1030/src/usb.c
Labels: area: Tests

Revert "boards: arm: aspeed: select soc according to the board config"
  boards/arm/ast2600_evb/Kconfig.board
  boards/arm/ast2600_evb/Kconfig.defconfig
  soc/arm/aspeed/ast26xx/Kconfig.soc
Labels: area: Boards

Revert "boards: arm: aspeed: select soc by the board configuration"
  boards/arm/ast1030_evb/Kconfig.board
  boards/arm/ast1030_evb/Kconfig.defconfig
  soc/arm/aspeed/ast10x0/Kconfig.soc
Labels: area: Boards

boards: arm: add ast2605_evb
  boards/arm/ast2600_evb/Kconfig.defconfig
  boards/arm/ast2600_evb/ast2605_evb.dts
  boards/arm/ast2600_evb/ast2605_evb.yaml
  boards/arm/ast2600_evb/ast2605_evb_defconfig
Labels: area: Devicetree, area: Boards

board:arm:aspeed: add CONFIG_BOARD_AST2605_EVB
  boards/arm/ast2600_evb/Kconfig.board
Labels: area: Boards

dts: i2c
  boards/arm/ast1030_evb/ast1030_evb.dts
  drivers/i2c/i2c_shell.c
Labels: area: Devicetree, area: I2C, area: Boards

ARM: dts: ast10x0: Add snoop to device tree
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

dt-bindings: aspeed: Add LPC Snoop
  dts/bindings/misc/aspeed,snoop.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: misc/aspeed: Add LPC snoop driver
  drivers/misc/CMakeLists.txt
  drivers/misc/Kconfig
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/snoop_aspeed.c
  include/drivers/misc/aspeed/snoop_aspeed.h
Labels: area: API

drivers: misc/aspeed: Add LPC mailbox support
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/mbox_aspeed.c
  include/drivers/misc/aspeed/mbox_aspeed.h
Labels: area: API

ARM: dts: ast10x0: Add mailbox to device tree
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

dt-bindings: aspeed: Add LPC Mailbox
  dts/bindings/misc/aspeed,mbox.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers/misc: aspeed: Add inclusion guard
  include/drivers/misc/aspeed/mbox_aspeed.h
  include/drivers/misc/aspeed/snoop_aspeed.h
Labels: area: API

dts: ymal: Add i2c filter
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c-filter.yaml
Labels: area: Devicetree, area: Devicetree Binding

adc: aspeed: Add necessary delay.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

adc: aspeed: Fix the init flow.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

drivers: i2c: Remove unnecessary printk
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

adc: aspeed: Remove unused variable.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

hwinfo: aspeed: remove redundant print
  drivers/hwinfo/hwinfo_aspeed.c
Labels: none

boards: arm: ast1030_evb: Remain mandatory config.
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
