Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

usb: dfu: aspeed: Add DFU support for ast1030_evb sample app
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/prj.conf
  samples/boards/ast1030_evb/demo/src/usb_shell.c
  subsys/usb/device/class/dfu/usb_dfu.c
Labels: area: Samples

scripts: west: ast1030_evb: Add dfu runner commands
  boards/arm/ast1030_evb/board.cmake
  scripts/west_commands/runners/dfu.py
Labels: area: Boards

i3c: Add MIPI I3C pending read notification API
  include/zephyr/drivers/i3c.h
  include/zephyr/drivers/i3c/target_device.h
Labels: area: API

i3c: Add I3C target mqueue driver
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/target/CMakeLists.txt
  drivers/i3c/target/Kconfig
  drivers/i3c/target/Kconfig.i3c_target_mqueue
  drivers/i3c/target/i3c_target_mqueue.c
  dts/bindings/i3c/i3c-target-mqueue.yaml
  include/zephyr/drivers/i3c/target/i3c_target_mqueue.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

i3c: target: mqueue: Use CONFIG_I3C_TARGET_INIT_PRIORITY
  drivers/i3c/target/i3c_target_mqueue.c
Labels: none

i3c: Add Aspeed I3C controller driver
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/Kconfig.aspeed
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: Remove the bitfield 48-bit for pid
  include/zephyr/drivers/i3c.h
Labels: area: API

dts: arm: ast10x0: Add I3C controllers
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

i3c: aspeed: Add uint64_t casting for 48-bit PID
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Check if target_config exists before calling the callback
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: Add dummy device driver
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/i3c_dummy_device.c
  dts/bindings/i3c/i3c-dummy-device.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: Add i3c shell
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/i3c_shell.c
Labels: none

samples: ast1030_evb/demo: Enable I3C devices
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Samples

i3c: Add SETHID and DEVCTRL CCC ID
  include/zephyr/drivers/i3c/ccc.h
Labels: area: API

drivers: crypto: ecdsa: add more testcases
  drivers/crypto/ecdsa_aspeed.c
  drivers/crypto/ecdsa_shell.c
Labels: none

drivers: crypto: ecdsa: add reset engine in trigger flow
  drivers/crypto/ecdsa_aspeed.c
  drivers/crypto/ecdsa_shell.c
Labels: none

drivers: crypto: ecdsa: add more testcases
  drivers/crypto/ecdsa_aspeed.c
  drivers/crypto/ecdsa_shell.c
Labels: none

drivers: crypto: ecdsa: add reset engine in trigger flow
  drivers/crypto/ecdsa_aspeed.c
  drivers/crypto/ecdsa_shell.c
Labels: none

spi_monitor: Enable SPI CS push-pull mode when unprovision
  drivers/spi/spi_monitor_aspeed.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
Labels: area: SPI, area: Samples

spi_monitor: Enable SPI CS push-pull mode when unprovision
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

drivers: gpio: Support aspeed gpio.
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig
  drivers/gpio/Kconfig.aspeed
  drivers/gpio/gpio_aspeed.c
  drivers/gpio/gpio_aspeed.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/gpio/aspeed,gpio.yaml
  include/zephyr/dt-bindings/gpio/aspeed-gpio.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API

usb: ast1030_evb: aspeed: Turn on ASPEED USB in ast1030_evb samples
  samples/boards/ast1030_evb/usb/cdc_acm/prj.conf
Labels: area: Samples

flash: Fix bug for accessing different flashes
  drivers/flash/spi_nor_multi_dev.c
Labels: none

tests: gpio: Change the dual edge interrupt test flow
  tests/drivers/gpio/gpio_basic_api/src/test_callback_trigger.c
Labels: area: Tests

tests: drivers: gpio_basic_api: add overlays for ast1030
  tests/drivers/gpio/gpio_basic_api/boards/ast1030_evb.overlay
Labels: area: Tests

drivers: gpio: aspeed: Connect interrupt in build time.
  drivers/gpio/gpio_aspeed.c
Labels: none

AST1060: Add AST1060 platform
  boards/arm/ast1060_evb/Kconfig.board
  boards/arm/ast1060_evb/Kconfig.defconfig
  boards/arm/ast1060_evb/ast1060_evb.dts
  boards/arm/ast1060_evb/ast1060_evb.yaml
  boards/arm/ast1060_evb/ast1060_evb_defconfig
  boards/arm/ast1060_evb/board.cmake
  boards/arm/ast1060_evb/tools/ast1030_uart_download.sh
  boards/arm/ast1060_evb/tools/ast1030_uart_download.ttl
  boards/arm/ast1060_evb/tools/sb_full_build.py
  drivers/misc/aspeed/pfr_shell.c
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  samples/boards/ast1030_evb/demo/src/demo_wdt.c
  samples/boards/ast1060_evb/demo_dcscm/CMakeLists.txt
  samples/boards/ast1060_evb/demo_dcscm/Kconfig
  samples/boards/ast1060_evb/demo_dcscm/README.rst
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_dcscm/prj.conf
  samples/boards/ast1060_evb/demo_dcscm/sample.yaml
  samples/boards/ast1060_evb/demo_dcscm/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_gpio.h
  samples/boards/ast1060_evb/demo_dcscm/src/demo_i2c_filter.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spi_read.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_swmbx.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_wdt.c
  samples/boards/ast1060_evb/demo_dcscm/src/main.c
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.ast1060
  soc/arm/aspeed/ast10x0/Kconfig.soc
  soc/arm/aspeed/ast10x0/soc.c
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards, area: Samples, area: Documentation

spi_monitor: Fix bug for ISR callback function statement
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

spi_monitor: Always keep SCU0F0[11:8]
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

spi_monitor: Update the comment related to push-pull
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

drivers: i2c: Update cache invalid api
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

driver: clock: Add fixed factor clk for common use
  drivers/clock_control/CMakeLists.txt
  drivers/clock_control/clock_fixed_factor.c
Labels: none

drivers: i2c: Add i2c_get_config function
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivces: adc: Add adc driver for aspeed ast10x0
  drivers/adc/CMakeLists.txt
  drivers/adc/Kconfig
  drivers/adc/Kconfig.aspeed
  drivers/adc/adc_shell.c
  drivers/adc/aspeed/adc_aspeed.c
  drivers/adc/aspeed/adc_aspeed.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/adc/aspeed,adc.yaml
  include/zephyr/drivers/adc.h
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: ADC, area: Devicetree, area: Devicetree Binding, area: API, area: Samples

drivers: pwm: Support aspeed ast1030 pwm drivers
  drivers/pwm/CMakeLists.txt
  drivers/pwm/Kconfig
  drivers/pwm/Kconfig.aspeed
  drivers/pwm/aspeed/pwm_aspeed.c
  drivers/pwm/aspeed/pwm_aspeed.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/pwm/aspeed,pwm.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: PWM, area: Devicetree, area: Devicetree Binding, area: Samples

drivers: sensor: Add Aspeed Tach support
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/aspeed/CMakeLists.txt
  drivers/sensor/aspeed/Kconfig
  drivers/sensor/aspeed/tach_aspeed.c
  drivers/sensor/aspeed/tach_aspeed.h
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/sensor/aspeed,tach.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

drivers: pinctrl: Active all pin groups declare in pinctrl-0
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/pinctrl/aspeed,pinctrl.yaml
  dts/bindings/pinctrl/aspeed,pinmux.yaml
  include/zephyr/dt-bindings/pinctrl/ast10x0-pinctrl-groups.h
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  soc/arm/aspeed/ast10x0/pinctrl_soc.h
Labels: area: Devicetree, area: Devicetree Binding, area: API, area: Samples

dts: aspeed: ast10x0: Update ast10x0 dtsi
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

samples: ast1030: Remove i2c pin control
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

dts: aspeed: ast26xx: Update ast26xx dtsi
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree
