Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

hwinfo: aspeed: add soc revision id of ast1060A1
  drivers/hwinfo/hwinfo_aspeed.c
Labels: none

hwinfo: aspeed: add soc revision id of ast1035A1
  drivers/hwinfo/hwinfo_aspeed.c
Labels: none

hwinfo: aspeed: remove soc name from hwinfo driver
  drivers/hwinfo/hwinfo_aspeed.c
Labels: none

soc: arm: aspeed: add function to show soc chip ID
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast10x0/soc.h
  soc/arm/aspeed/ast26xx/soc.c
  soc/arm/aspeed/ast26xx/soc.h
Labels: none

demo: ast1030: show chip id/revision
  samples/boards/ast1030_evb/demo/src/main.c
Labels: area: Samples

cache: aspeed: remove early return from critical section
  drivers/cache/cache_aspeed.c
Labels: none

spi-nor: Add support for 2Gb flash
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

spi-nor: Decrease BIOS SPI clock frequency
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

dcscm: Support SPI2_CS0 and SPI2_CS1 flash
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spi_read.c
Labels: area: Samples

pfr: spi_monitor: Add read flag status register command
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
Labels: area: SPI, area: API, area: Samples

reset: Add a dummy read at deassert function
  drivers/reset_control/reset_control_aspeed.c
Labels: none

drivers: i2c-global: Remove dummy delay
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

spi-nor: Manually assign erase command support
  drivers/flash/spi_nor_multi_dev.c
  include/drivers/spi_nor.h
Labels: area: API

ast10x0: defconfig: Remove LOG_BACKEND_UART=y
  samples/boards/ast1030_evb/demo/prj.conf
  samples/boards/ast1030_evb/uart_bin_xfer/prj.conf
  samples/boards/ast1060_evb/demo_dcscm/prj.conf
  samples/boards/ast1060_evb/demo_extmux/prj.conf
  samples/boards/ast1060_evb/demo_passthrough/prj.conf
  tests/boards/ast1030/prj.conf
Labels: area: Samples, area: Tests

drivers: i2c_filter: Fix the clear white list table behavior
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

drivers: i2c_filter: Fix the clear white list index behavior
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

i3c: aspeed: remove IBI threshold interrupt enabling
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: add GETBCR CCC support
  drivers/i3c/i3c_common.c
  include/drivers/i3c/i3c.h
Labels: area: API

samples: drivers: i3c: GETBCR in bus initialization
  samples/drivers/i3c/src/main.c
Labels: area: Samples

tests: boards: ast1030: GETBCR in bus initialization
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

i3c: aspeed: enable IBI with data if BCR[2] is set
  drivers/i3c/i3c_aspeed.c
Labels: none

dts/bindings/i3c: add "ibi-append-pec" property
  dts/bindings/i3c/aspeed,i3c.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: aspeed: revise the procedures of slave ibi transmitting
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

soc: ast10x0: Fix the pin define order of GPIU0~7
  soc/arm/aspeed/ast10x0/pin_def_list.h
Labels: none

i3c: aspeed: add missing response threshold control
  drivers/i3c/i3c_aspeed.c
Labels: none

tests: boards: ast1030: remove data_ready semaphore
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

i3c: aspeed: revise slave sir api
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/slave/i3c_slave_mqueue.c
  include/drivers/i3c/i3c.h
Labels: area: API

spi-nor: Support GigaDevice device without QE bit
  drivers/flash/spi_nor_multi_dev.c
Labels: none

spi: aspeed: Create a config for SPI DMA write operation
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_aspeed.c
Labels: area: SPI

spi-nor: Support QSPI mode for internal flash mx25v8035f
  drivers/flash/spi_nor_multi_dev.c
Labels: none

abr: Get boot indicator support
  drivers/misc/aspeed/abr_aspeed.c
  include/drivers/misc/aspeed/abr_aspeed.h
Labels: area: API

i3c: aspeed: report actual private read length
  drivers/i3c/i3c_aspeed.c
Labels: none

usb: aspeed: enable epn interrupt ctrl correctly
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

test/boards/ast1030: enable IBI PEC for CI
  tests/boards/ast1030/boards/ast1030_evb.overlay
Labels: area: Tests

tests: ast1030: gpio: Change the test pin.
  tests/boards/ast1030/boards/ast1030_evb.overlay
Labels: area: Tests

drivers: i2c: Simplify the i2c base clock divided setting
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

spi-monitor: Add command BBh and BCh support
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

i3c: aspeed: fix typos
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: i2c: Remove abandoned i2c thread code
  drivers/i2c/i2c_shell.c
Labels: area: I2C

spi-monitor: Add Write Enable for Volatile Status Register support
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API
