Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

sensor: tach: Add the sleep for get rpm.
  drivers/sensor/aspeed/tach_aspeed.c
Labels: none

drivers/espi: aspeed: Add eSPI ver2
  drivers/espi/CMakeLists.txt
  drivers/espi/Kconfig.aspeed
  drivers/espi/espi_aspeed.c
  drivers/espi/espi_aspeed_v2.c
  dts/bindings/espi/aspeed,espi-v2.yaml
  include/zephyr/drivers/espi_aspeed.h
  samples/drivers/espi_aspeed/oob/src/main.c
  samples/drivers/espi_aspeed/safs/src/main.c
Labels: area: Devicetree, area: Devicetree Binding, area: API, area: Samples

drivers/espi: aspeed: Relax property requirement
  drivers/espi/espi_aspeed.c
  dts/bindings/espi/aspeed,espi.yaml
  samples/drivers/espi_aspeed/oob/boards/ast1030_evb.overlay
  samples/drivers/espi_aspeed/safs/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

dts: bindings: crypto: add binding for Aspeed AST10x0 HACE
  dts/bindings/crypto/aspeed,hace.yaml
Labels: area: Devicetree, area: Devicetree Binding

boards: arm: ast1030_evb: enable crypto related configures
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

drivers: crypto: add hace crypto & hash driver for Aspeed AST10x0
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/crypto_aspeed.c
  drivers/crypto/crypto_aspeed_priv.h
  drivers/crypto/crypto_shell.c
  drivers/crypto/hace_aspeed.c
  drivers/crypto/hace_aspeed.h
  drivers/crypto/hash_aspeed.c
  drivers/crypto/hash_aspeed_priv.h
  drivers/crypto/hash_shell.c
  include/zephyr/crypto/cipher.h
  include/zephyr/crypto/hash.h
Labels: area: API

drivers: crypto: add rsa driver for Aspeed AST10x0
  drivers/crypto/CMakeLists.txt
  drivers/crypto/rsa_aspeed.c
  drivers/crypto/rsa_aspeed_priv.h
  drivers/crypto/rsa_shell.c
  include/zephyr/crypto/rsa.h
  include/zephyr/crypto/rsa_structs.h
Labels: area: API

boards: arm: ast1030_evb: add hace & rsa & ecdsa device nodes
  boards/arm/ast1030_evb/ast1030_evb.dts
Labels: area: Devicetree, area: Boards

dts: bindings: crypto: add binding for Aspeed AST10x0 RSA
  dts/bindings/crypto/aspeed,rsa.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: bindings: reset: ast10x0: revise cells' name
  dts/bindings/reset/aspeed,ast10x0-reset.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: arm: ast10x0: add crypto engines device node
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

dts: bindings: crypto: add binding for Aspeed AST10x0 ECDSA
  dts/bindings/crypto/aspeed,ecdsa.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: crypto: add ecdsa driver for Aspeed AST10x0
  drivers/crypto/CMakeLists.txt
  drivers/crypto/ecdsa_aspeed.c
  drivers/crypto/ecdsa_aspeed_priv.h
  drivers/crypto/ecdsa_shell.c
  include/zephyr/crypto/ecdsa.h
  include/zephyr/crypto/ecdsa_structs.h
Labels: area: API

hwinfo: aspeed: Add hwinfo driver for Aspeed MCU chip
  drivers/hwinfo/CMakeLists.txt
  drivers/hwinfo/Kconfig
  drivers/hwinfo/hwinfo_aspeed.c
Labels: none

drivers: misc: aspeed: add otp driver
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/otp_aspeed.c
  drivers/misc/aspeed/otp_info_10x0.h
  drivers/misc/aspeed/otp_shell.c
  include/zephyr/drivers/misc/aspeed/otp.h
  include/zephyr/drivers/misc/aspeed/otp_aspeed.h
Labels: area: API

boards: arm: ast1030_evb: add OTP config files for AST1030
  boards/arm/ast1030_evb/otp_config/1030A0_RSA2048_SHA256.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA2048_SHA256_o1.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA2048_SHA256_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA3072_SHA384.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA3072_SHA384_o1.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA3072_SHA384_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA4096_SHA512.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA4096_SHA512_o1.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA4096_SHA512_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA_RSA2048_o2.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA_RSA3072_o2.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA_RSA4096_o2.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA2048_SHA256.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA2048_SHA256_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA2048_SHA256_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA3072_SHA384.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA3072_SHA384_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA3072_SHA384_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA4096_SHA512.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA4096_SHA512_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA4096_SHA512_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_2048_SHA256.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_2048_SHA256_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_2048_SHA256_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_3072_SHA384.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_3072_SHA384_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_3072_SHA384_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_4096_SHA512.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_4096_SHA512_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_4096_SHA512_o2_pub.json
Labels: area: Boards

dts: bindings: misc: add binding for Aspeed AST10x0 OTP
  dts/bindings/misc/aspeed,otp.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: arm: ast10x0: add otp device node
  dts/arm/aspeed/ast10x0.dtsi
  include/zephyr/dt-bindings/otp/ast10x0_otp.h
Labels: area: Devicetree, area: API

subsys: shell: Add md / mw command
  subsys/shell/modules/devmem_service.c
Labels: area: Shell

dts: bindings: i2c-global: Add binding for Aspeed i2c global
  dts/bindings/i2c/aspeed,i2c-global.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: bindings: i2c-global: Add binding for Aspeed i2c
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: arm: ast10x0: add rng device node
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

dts: bindings: rng: add binding for Aspeed AST10x0 RNG
  dts/bindings/rng/aspeed,hwrng.yaml
Labels: area: Devicetree, area: Devicetree Binding

boards: arm: ast1030_evb: set entropy source
  boards/arm/ast1030_evb/ast1030_evb.dts
Labels: area: Devicetree, area: Boards

drivers: entropy: add rng driver for Aspeed AST10x0 RNG
  drivers/entropy/CMakeLists.txt
  drivers/entropy/Kconfig
  drivers/entropy/Kconfig.aspeed
  drivers/entropy/entropy_aspeed_trng.c
  drivers/entropy/random_shell.c
Labels: none

samples: drivers: ipm: Enable Shell.
  samples/drivers/ipm/ipm_aspeed/prj.conf
Labels: area: Samples

dts: Add aspeed ast2700 intc device binding
  dts/bindings/interrupt-controller/aspeed,ast2700-intc.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: aspeed: Reorder AST27x0 device nodes by address order.
  dts/arm/aspeed/ast27x0.dtsi
Labels: area: Devicetree

i2c: aspeed: Add aspeed i2c driver
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_aspeed_shell.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

dts: aspeed: Add AST27x0 interrupt controller devices.
  dts/arm/aspeed/ast27x0.dtsi
  dts/arm/aspeed/ast27x0_ssp.dtsi
  dts/arm/aspeed/ast27x0_tsp.dtsi
Labels: area: Devicetree

i2c: aspeed: Add aspeed i2c driver into driver config
  drivers/i2c/CMakeLists.txt
  drivers/i2c/Kconfig
  drivers/i2c/Kconfig.aspeed
Labels: area: I2C

dts: aspeed: Add i2c global and i2c0 node into dtsi
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

dts: bindings: aspeed-i2c: Add pinctrl support
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: arm: ast10x0: Add I2C pinctrl
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

i2c: aspeed: Add I2C pinctrl
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

sample: board: Add ast1030_evb demo sample
  samples/boards/ast1030_evb/demo/CMakeLists.txt
  samples/boards/ast1030_evb/demo/README.rst
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/prj.conf
  samples/boards/ast1030_evb/demo/sample.yaml
  samples/boards/ast1030_evb/demo/src/main.c
Labels: area: Samples, area: Documentation

dts: aspeed: Extend the i2c dtsi setting
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

samples: boards: aspeed: Add other i2c controllers for ast1030 EVB
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/src/main.c
Labels: area: Samples

soc: arm: ast10x0: Add interface to print the SOC ID
  soc/arm/aspeed/aspeed_util.h
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast10x0/soc.h
Labels: none

samples: boards: ast1030_evb: Print SOC information
  samples/boards/ast1030_evb/demo/src/main.c
Labels: area: Samples

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
