Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

ipm: aspeed_shell: update the read and write shmem APIs
  drivers/ipm/ipm_aspeed_shell.c
Labels: none

dts: arm: aspeed: ast2700_tsp: correct SRAM base address
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
Labels: area: Devicetree, area: Boards

dts: arm: aspeed: ast2700_tsp: Fix SRAM memory base address
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
Labels: area: Devicetree, area: Boards

ipm: shell: update stress test to use shared memory read/write APIs
  drivers/ipm/ipm_aspeed_shell.c
Labels: none

ipm: ipm_ast2700: remove unnessary api
  drivers/ipm/ipm_ast2700.c
  include/zephyr/drivers/ipm_ast.h
Labels: area: API

spi_nor: Support Quad SPI write on MXIC flash
  drivers/flash/spi_nor_multi_dev.c
Labels: none

boards: Add ast2700_fpga
  boards/aspeed/ast2700_fpga/Kconfig.ast2700_fpga
  boards/aspeed/ast2700_fpga/Kconfig.defconfig
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_bootmcu.dts
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_bootmcu.yaml
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_bootmcu_defconfig
  boards/aspeed/ast2700_fpga/board.yml
Labels: area: Devicetree, area: Boards

spi: aspeed: Add SPI monitor CS output pin control policy
  drivers/spi/spi_aspeed.c
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

espi: aspeed: Update VWIRE event initialization with channel and status
  drivers/espi/espi_aspeed.c
Labels: none

espi: aspeed: Update VWIRE event initialization with channel and status
  drivers/espi/espi_aspeed.c
Labels: none

drivers: aspeed: cptra: revise cptra fw upload implementation
  drivers/misc/aspeed/cptra_ipc.c
  drivers/misc/aspeed/cptra_update.c
  include/zephyr/drivers/cptra.h
Labels: area: API

spi: ast2700: Support SPI DMA on BootMCU
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

boards: ast2700_fpga: Add dram speed config
  boards/aspeed/ast2700_fpga/Kconfig.ast2700_fpga
Labels: area: Boards

spi: ast2700: Configure SoC reset lock for FMC004
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

spi: ast2700: Support FMC DMA
  drivers/spi/spi_aspeed_ast2700.c
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: SPI

drivers: aspeed: cptra_dice: add support for GET_FMC_ALIAS_CSR
  drivers/misc/aspeed/cptra_dice.c
  drivers/misc/aspeed/cptra_ipc.c
  include/zephyr/drivers/cptra.h
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
Labels: area: API, area: Samples

samples: ast2700_evb: demo: fix build warnings
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
Labels: area: Samples

ast1060: Keep clock frequency when initialize normal write element
  drivers/spi/spi_aspeed.c
Labels: area: SPI

i3c: Flush the RX FIFO when no callback function is registered
  drivers/i3c/i3c_aspeed.c
Labels: none

sdhc: aspeed_sdhci: Define capability from property
  drivers/sdhc/aspeed_sdhci.c
Labels: none

board: bootmcu_defconfig: Refine manifest load address
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_fpga/Kconfig.ast2700_fpga
Labels: area: Boards

ipm: ast2700: update the printf function call
  drivers/ipm/ipm_ast2700.c
Labels: none

drivers: ipm_bootmcu: Implement the share memory behavior
  drivers/ipm/ipm_bootmcu.c
Labels: none

dts: bootmcu-ipc: add share memory properties
  dts/bindings/ipm/aspeed,bootmcu-ipc.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: ipm_bootmcu: add share memory setting
  drivers/ipm/ipm_bootmcu.c
Labels: none

drivers: misc: aspeed: cptra_ipc: add NS_CA35 IPC support
  drivers/misc/aspeed/cptra_ipc.c
Labels: none

drivers: ipm_ast2700/ipm_bootmcu: Fix missed message
  drivers/ipm/ipm_ast2700.c
  drivers/ipm/ipm_bootmcu.c
Labels: none

dts: ast2700_evb: Add sdrammc mpu node and yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  dts/bindings/riscv/aspeed,ast27xx-mpu.yaml
  dts/bindings/riscv/aspeed,ast27xx-sdrammc.yaml
  dts/riscv/aspeed/ast27xx.dtsi
  include/zephyr/dt-bindings/memory-controller/ast27xx-mpu.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API

yaml: Add sdrammc ecc property
  dts/bindings/riscv/aspeed,ast27xx-sdrammc.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: ast2700_evb: Add example configuration for SDRAM ECC
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

dts: ast2700_evb: Disable ecc
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

cache: add support for AST1040 and fix AST27XX dependency
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_aspeed.c
Labels: none

soc: add support for ASPEED AST1040 SoC
  dts/arm/aspeed/ast1040-irq.h
  dts/arm/aspeed/ast1040.dtsi
  soc/aspeed/ast1040/CMakeLists.txt
  soc/aspeed/ast1040/Kconfig
  soc/aspeed/ast1040/Kconfig.defconfig
  soc/aspeed/ast1040/Kconfig.defconfig.ast1040
  soc/aspeed/ast1040/Kconfig.soc
  soc/aspeed/ast1040/linker.ld
  soc/aspeed/ast1040/sboot.ld
  soc/aspeed/ast1040/soc.c
  soc/aspeed/ast1040/soc.h
  soc/aspeed/soc.yml
Labels: area: Devicetree

boards: add support for Aspeed AST1040 EVB
  boards/aspeed/ast1040_evb/Kconfig.ast1040_evb
  boards/aspeed/ast1040_evb/ast1040_evb.dts
  boards/aspeed/ast1040_evb/ast1040_evb.yaml
  boards/aspeed/ast1040_evb/ast1040_evb_defconfig
  boards/aspeed/ast1040_evb/board.yml
Labels: area: Devicetree, area: Boards

dts: Enable UFS controller and add device node for AST2700
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Boards

soc: ast1040: Set BMC UART selection in SCU1_MISC register
  soc/aspeed/ast1040/soc.c
Labels: none

drivers: i2c: add multi-target behavior support
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dts: ast2700_bootmcu: add the bootmcu read / write memory capability
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

drivers: misc: add ltpi register accessing driver
  drivers/misc/aspeed/ltpi_ipc.c
  include/zephyr/drivers/misc/aspeed/ltpi_ipc.h
Labels: area: API

Makelist: ltpi_ipc: add make list and kconfig
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
Labels: none
