Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

dts: aspeed: riscv: Deduplicate AST1040/AST1080 fmc node
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu.dts
  boards/aspeed/ast1040_haps/ast1040_haps_bootmcu.dts
  boards/aspeed/ast1080_evb/ast1080_evb_bootmcu.dts
  boards/aspeed/ast1080_haps/ast1080_haps_bootmcu.dts
  dts/riscv/aspeed/ast1040.dtsi
  dts/riscv/aspeed/ast1080.dtsi
  dts/riscv/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

dts: aspeed: ast10x0-g2: Add spi0/spi1 SPI controller nodes
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

entropy: aspeed: add NIST TRNG driver for AST2700
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  drivers/entropy/CMakeLists.txt
  drivers/entropy/Kconfig.aspeed
  drivers/entropy/entropy_aspeed_nisttrng.c
  dts/bindings/rng/aspeed,ast2700-nisttrng.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

dtsi: ast10x0-g2: add pinctrl to sgpm0/sgpm1 nodes
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

tests: ast1040_evb: add GPIO loopback test
  tests/boards/ast1040_evb/common/ast_test.h
  tests/boards/ast1040_evb/gpio/CMakeLists.txt
  tests/boards/ast1040_evb/gpio/boards/ast1040_evb_ast1040_cm4.overlay
  tests/boards/ast1040_evb/gpio/prj.conf
  tests/boards/ast1040_evb/gpio/src/main.c
  tests/boards/ast1040_evb/gpio/testcase.yaml
Labels: area: Tests

tests: ast1040_evb: add combined concurrent test suite
  tests/boards/ast1040_evb/all/CMakeLists.txt
  tests/boards/ast1040_evb/all/boards/ast1040_evb_ast1040_cm4.overlay
  tests/boards/ast1040_evb/all/prj.conf
  tests/boards/ast1040_evb/all/src/main.c
  tests/boards/ast1040_evb/all/testcase.yaml
Labels: area: Tests

drivers: misc: otp_ast2700: assign OTP_M0 as bootmcu's OTP master
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

ast2705_evb: Port board variants to ast2705.
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_ssp.dts
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_ssp.yaml
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_ssp_defconfig
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_ssp_tsp.dts
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_ssp_tsp.yaml
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_ssp_tsp_defconfig
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_tsp.dts
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_tsp.yaml
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_tsp_defconfig
Labels: area: Devicetree, area: Boards

ast2705_evb: Fix board naming and remove AST2755
  boards/aspeed/ast2705_evb/Kconfig.ast2705_evb
  boards/aspeed/ast2705_evb/Kconfig.defconfig
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_bootmcu.yaml
  boards/aspeed/ast2705_evb/ast2705_evb_ast2700_bootmcu_defconfig
  boards/aspeed/ast2705_evb/board.yml
  boards/aspeed/ast2755_evb/Kconfig.ast2755_evb
  boards/aspeed/ast2755_evb/Kconfig.defconfig
Labels: area: Devicetree, area: Boards

ast2705_evb: Select AST2705 SoC for AST2705 EVB
  boards/aspeed/ast2705_evb/Kconfig.ast2705_evb
  boards/aspeed/ast2705_evb/Kconfig.defconfig
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_bootmcu.dts
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_bootmcu.yaml
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_bootmcu_defconfig
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_ssp.dts
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_ssp.yaml
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_ssp_defconfig
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_ssp_tsp.dts
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_ssp_tsp.yaml
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_ssp_tsp_defconfig
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_tsp.dts
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_tsp.yaml
  boards/aspeed/ast2705_evb/ast2705_evb_ast2705_tsp_defconfig
  boards/aspeed/ast2705_evb/board.yml
Labels: area: Devicetree, area: Boards

ast2705_evb: Add AST2705 SoC variants
  dts/arm/aspeed/ast2705.dtsi
  dts/arm/aspeed/ast2705_ssp.dtsi
  dts/arm/aspeed/ast2705_tsp.dtsi
  dts/riscv/aspeed/ast2705.dtsi
  soc/aspeed/ast27xx/CMakeLists.txt
  soc/aspeed/ast27xx/Kconfig
  soc/aspeed/ast27xx/Kconfig.defconfig.bootmcu
  soc/aspeed/ast27xx/Kconfig.defconfig.ssp
  soc/aspeed/ast27xx/Kconfig.defconfig.tsp
  soc/aspeed/ast27xx/Kconfig.soc
  soc/aspeed/ast27xx/soc.c
  soc/aspeed/soc.yml
Labels: area: Devicetree

cache: support AST2705 SoC configs
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_ast27xx.c
Labels: none

cptra: support AST2705 SoC configs
  drivers/crypto/Kconfig.aspeed
  drivers/misc/aspeed/Kconfig
Labels: none

spi: Support AST2705 SoC configs
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_monitor_shell.c
Labels: area: SPI

i2c: Support AST2705 SoC configs
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

ipc: Support AST2705 SoC configs
  drivers/ipm/Kconfig.aspeed
  drivers/ipm/ipm_ast2600.c
Labels: none

intc: Support AST2705 SoC configs
  drivers/interrupt_controller/Kconfig.aspeed
Labels: none

dtsi: ast1040-g2: Add LSC and PCC node
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

samples: drivers: misc: pcc: Add ast1040 evb cm4 config
  samples/drivers/misc/aspeed/pcc/boards/ast1040_evb_ast1040_cm4.conf
  samples/drivers/misc/aspeed/pcc/boards/ast1040_evb_ast1040_cm4.overlay
Labels: area: Samples

edaf_bridge: Fix DDR mode address translation
  drivers/misc/aspeed/edaf_bridge_aspeed.c
Labels: none

drivers: misc: pcc: Fix FIFO receive completion and DMA buffer cache coherency
  drivers/misc/aspeed/pcc_aspeed.c
  samples/drivers/misc/aspeed/pcc/boards/ast1040_evb_ast1040_cm4.overlay
Labels: area: Samples

dtsi: ast1040-g2: Add snoop node
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

samples: drivers: misc: snoop: Add ast1040 evb cm4 config
  samples/drivers/misc/aspeed/snoop/boards/ast1040_evb_ast1040_cm4.conf
  samples/drivers/misc/aspeed/snoop/boards/ast1040_evb_ast1040_cm4.overlay
Labels: area: Samples

dtsi: ast1040-g2: Add UART0 to UART11 node
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

dts: aspeed: ast10x0-g2: disable sgpiom child nodes by default
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

drivers: misc: uart_routing: Add ASPEED UART routing driver
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/uart_routing_aspeed.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/misc/aspeed,uart-routing.yaml
  include/zephyr/drivers/misc/aspeed/uart_routing_aspeed.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

drivers: serial: ns16550: Support clk_id phandle on AST1040
  drivers/serial/uart_ns16550.c
Labels: none

samples: drivers: misc: uart_routing: Add UART routing sample
  samples/drivers/misc/aspeed/uart_routing/CMakeLists.txt
  samples/drivers/misc/aspeed/uart_routing/boards/ast1040_evb_ast1040_cm4.conf
  samples/drivers/misc/aspeed/uart_routing/boards/ast1040_evb_ast1040_cm4.overlay
  samples/drivers/misc/aspeed/uart_routing/prj.conf
  samples/drivers/misc/aspeed/uart_routing/sample.yaml
  samples/drivers/misc/aspeed/uart_routing/src/main.c
Labels: area: Samples

dtsi: ast1040-g2: Add LSC mailbox node
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

samples: drivers: misc: mailbox: add ast1040 cm4 evb overlay and config
  samples/drivers/misc/aspeed/mailbox/boards/ast1040_evb_ast1040_cm4.conf
  samples/drivers/misc/aspeed/mailbox/boards/ast1040_evb_ast1040_cm4.overlay
Labels: area: Samples

samples: drivers: misc: mailbox: Changes sample to loopback test
  samples/drivers/misc/aspeed/mailbox/src/main.c
Labels: area: Samples

drivers: ipmi: kcs: Fix the way to set kcs1 and kcs2 address
  drivers/ipmi/kcs_aspeed.c
Labels: none

dtsi: ast1040-g2: Add kcs node
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

samples: ipmi: kcs: Add ast1040 cm4 evb overlay and config
  samples/drivers/ipmi/aspeed/kcs/boards/ast1040_evb_ast1040_cm4.conf
  samples/drivers/ipmi/aspeed/kcs/boards/ast1040_evb_ast1040_cm4.overlay
Labels: area: Samples

samples: ipmi: kcs: Change busy wait to sleep
  samples/drivers/ipmi/aspeed/kcs/src/main.c
Labels: area: Samples

dtsi: ast1040-g2: Add LSC bt node
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

samples: ipmi: bt: Change busy wait to sleep
  samples/drivers/ipmi/aspeed/bt/src/main.c
Labels: area: Samples

samples: ipmi: bt: Add ast1040 cm4 evb support
  samples/drivers/ipmi/aspeed/bt/boards/ast1040_evb_ast1040_cm4.conf
  samples/drivers/ipmi/aspeed/bt/boards/ast1040_evb_ast1040_cm4.overlay
Labels: area: Samples

i2c: aspeed: update the shift define for AST1040 / AST1080
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: misc: otp_ast2700: bound wait_complete() with a timeout
  drivers/misc/aspeed/otp_ast2700.c
Labels: none
