Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

soc/arm/aspeed: Add SPDX header
  soc/arm/aspeed/ast10x0/tools/gen_uart_booting_image.sh
Labels: none

soc/arm/aspeed: remove additional blank lines
  soc/arm/aspeed/ast10x0/soc.c
Labels: none

drivers:i2c:fix the stop condition
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers:i2c:Recovery into correct version
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

spi_monitor: IRQ handler early porting
  drivers/spi/spi_monitor_aspeed.c
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo/src/spi_read.c
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API, area: Samples

spi_monitor: Add static declaration for spim_log_arr array
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

board: ast1030_evb: Add reStructuredText doc
  boards/arm/ast1030_evb/doc/index.rst
Labels: area: Boards, area: Documentation

drivers:i2c:Add to handle slave address received pending
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

spi_monitor: External MUX support
  boards/arm/ast1060_evb/ast1060_evb.dts
  boards/arm/ast1060_evb/fun_def_list.h
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_extmux/CMakeLists.txt
  samples/boards/ast1060_evb/demo_extmux/README.rst
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_extmux/prj.conf
  samples/boards/ast1060_evb/demo_extmux/sample.yaml
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_extmux/src/spi.h
  samples/boards/ast1060_evb/demo_extmux/src/spi_read.c
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards, area: API, area: Samples, area: Documentation

spi_monitor: Get GPIO info from device tree
  drivers/misc/aspeed/pfr_ast1060.c
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_extmux/dts/bindings/demo,gpio_basic_api.yaml
Labels: area: Samples

spi_monitor: Unify the API parameters
  drivers/misc/aspeed/pfr_ast1060.c
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo/src/main.c
  samples/boards/ast1060_evb/demo_extmux/src/main.c
Labels: area: SPI, area: API, area: Samples

Added Azure Cerberus HRoT library
  .gitmodules
Labels: none

spi_monitor: BMC reset notification support
  drivers/misc/aspeed/pfr_ast1060.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo/src/demo_gpio.h
  samples/boards/ast1060_evb/demo/src/main.c
  samples/boards/ast1060_evb/demo/src/spi_read.c
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_extmux/src/demo_gpio.h
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_extmux/src/spi_read.c
Labels: area: API, area: Samples

spi_monitor: Rename demo folder name
  samples/boards/ast1060_evb/demo_passthrough/CMakeLists.txt
  samples/boards/ast1060_evb/demo_passthrough/README.rst
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_passthrough/prj.conf
  samples/boards/ast1060_evb/demo_passthrough/sample.yaml
  samples/boards/ast1060_evb/demo_passthrough/src/demo_gpio.h
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/src/spi.h
  samples/boards/ast1060_evb/demo_passthrough/src/spi_read.c
Labels: area: Samples, area: Documentation

spi_monitor: Add SPI monitor control related commands
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig.spi_monitor_aspeed
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
Labels: area: SPI, area: API, area: Samples

spi_monitor: Reset BMC command support
  drivers/spi/spi_monitor_shell.c
Labels: area: SPI

pfr: Create shell command environment for PFR
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/pfr_shell.c
  drivers/spi/spi_monitor_shell.c
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
Labels: area: SPI, area: Samples

usb: aspeed: use cache api instead
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

spi_monitor: Block invalid command by an extra clock
  drivers/spi/spi_monitor_aspeed.c
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API

boards: ast1030_evb: add dfu runner
  boards/arm/ast1030_evb/board.cmake
Labels: area: Boards

samples: ast1030_evb: add USB_DEVICE_DFU_PID
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Samples

scripts: west: fix dfu runner commands
  scripts/west_commands/runners/dfu.py
Labels: none

drivers: i2c: Arrange the i2c global code
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

drivers: i2c: arrnge define list
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: arrnge define list more
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: fix the tab
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

driver: i2c: add abnormal start / stop handle
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: add reset controller behavior
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

watchdog: WDT standard driver API support
  drivers/spi/spi_monitor_aspeed.c
  drivers/watchdog/wdt_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  dts/bindings/watchdog/aspeed,ast-watchdog.yaml
  samples/boards/ast1060_evb/demo_extmux/Kconfig
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/Kconfig
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
Labels: area: Watchdog, area: Devicetree, area: Devicetree Binding, area: SPI, area: Samples

demo: ast1060: Show boot info
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
Labels: area: Samples

spi_monitor: Rename "valid" command to "allow" command
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API, area: Samples

watchdog: Using WDT2 to dectect system status
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/src/main.c
Labels: area: Samples

watchdog: aspeed: Don't access NULL callback function pointer
  drivers/watchdog/wdt_aspeed.c
Labels: area: Watchdog

init tektagon project, modify CMake File for cerberus and ami_middleware
  lib/CMakeLists.txt
  lib/ami_middleware/CMakeLists.txt
  lib/ami_middleware/Kconfig
  lib/ami_middleware/crypto/hash_aspeed.c
  lib/ami_middleware/crypto/hash_aspeed.h
  tektagon/CMakeLists.txt
  tektagon/README.rst
  tektagon/boards/ast1060_evb.conf
  tektagon/boards/ast1060_evb.overlay
  tektagon/prj.conf
  tektagon/sample.yaml
  tektagon/src/main.c
Labels: area: Documentation

link library from cerberus to tektagon
  tektagon/CMakeLists.txt
  tektagon/src/main.c
Labels: none

spi_monitor: Add SPI_NOR_ADDR_MODE_FALLBACK_DISABLED config
  drivers/flash/Kconfig.multi_dev
  drivers/flash/flash_shell.c
  drivers/flash/spi_nor_multi_dev.c
  drivers/spi/spi_monitor_aspeed.c
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_extmux/src/spi_read.c
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/src/spi_read.c
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Samples

spi_monitor: Create callback function for ISR
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_extmux/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
Labels: area: SPI, area: API, area: Samples

demo: wdt: Extract watchdog timer demo part to a standalone file
  samples/boards/ast1060_evb/demo_extmux/src/demo_wdt.c
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_wdt.c
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
Labels: area: Samples

sample: ast1060: Add i2c filter demo
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
Labels: area: Samples

demo: ast1030: Extract watchdog timer demo part to a standalone file
  samples/boards/ast1030_evb/demo/src/demo_wdt.c
  samples/boards/ast1030_evb/demo/src/main.c
Labels: area: Samples
