Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

boards: arm: ast1030_evb: disable aspeed modules for bringup
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

drivers: serial: driver init move forward to PRE_KERNEL stage
  drivers/serial/uart_aspeed.c
Labels: none

drivers: remove usage of device_pm_control_nop
  drivers/adc/aspeed/adc_aspeed.c
  drivers/clock_control/clock_control_ast10x0.c
  drivers/clock_control/clock_control_ast26xx.c
  drivers/clock_control/clock_fixed_factor.c
  drivers/espi/espi_aspeed.c
  drivers/gpio/gpio_aspeed.c
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
  drivers/i2c/slave/ipmb_slave.c
  drivers/ipmi/bt_aspeed.c
  drivers/ipmi/kcs_aspeed.c
  drivers/jtag/jtag_aspeed.c
  drivers/peci/peci_aspeed.c
  drivers/pinmux/aspeed/pinmux_aspeed.c
  drivers/pwm/aspeed/pwm_aspeed.c
  drivers/reset_control/reset_control_aspeed.c
  drivers/sensor/aspeed/tach_aspeed.c
  drivers/serial/uart_aspeed.c
Labels: area: PWM, area: ADC, area: I2C

clocks: function rename
  soc/arm/aspeed/aspeed_util.h
Labels: none

drivers: cmsis_os2.h include path change.
  drivers/jtag/jtag_aspeed.c
  drivers/peci/peci_aspeed.c
  samples/cpld/vme/src/hardware.c
  samples/cpld/vme/src/main.c
Labels: area: Samples

drivers: clock_dev: Remove deprecated macro
  drivers/adc/aspeed/adc_aspeed.c
  drivers/clock_control/clock_fixed_factor.c
  drivers/i2c/i2c_aspeed.c
  drivers/jtag/jtag_aspeed.c
  drivers/pwm/aspeed/pwm_aspeed.c
  drivers/sensor/aspeed/tach_aspeed.c
  drivers/serial/uart_aspeed.c
  soc/arm/aspeed/aspeed_util.h
Labels: area: PWM, area: ADC, area: I2C

boards: arm: ast1030_evb: Enable aspeed drivers
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

uitl: aspeed:Fix read poll timeout paremeter to ms.
  soc/arm/aspeed/aspeed_util.h
Labels: none

tach: aspeed: remove wait tach0c[21] to 1
  drivers/sensor/aspeed/tach_aspeed.c
Labels: none

adc: aspeed: Use more precise delay time.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

board: arm: ast1030_evb: enable early console
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

dts: ast10x0: Change the gpio label name.
  dts/arm/aspeed/ast10x0.dtsi
  tests/drivers/gpio/gpio_basic_api/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Tests

peci: aspeed: fix clock_device error
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  drivers/peci/peci_aspeed.c
Labels: area: Boards

samples: peci: add ast1030_evb.overlay.
  samples/drivers/peci/boards/ast1030_evb.overlay
Labels: area: Samples

jtag: Kconfig: Remove typo error.
  drivers/jtag/Kconfig
Labels: none

boards: ast1030_evb: Add fan node.
  boards/arm/ast1030_evb/ast1030_evb.dts
Labels: area: Devicetree, area: Boards

drivers: peci: Add peci shell command for testing
  drivers/peci/CMakeLists.txt
  drivers/peci/Kconfig
  drivers/peci/peci_shell.c
Labels: none

peci: aspeed: Remove dummy function
  drivers/peci/peci_aspeed.c
Labels: none

drivers: peci: init cmd show the unit of freq.
  drivers/peci/peci_shell.c
Labels: none

drivers: i2c slave
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dts: i2c
  boards/arm/ast1030_evb/ast1030_evb.dts
Labels: area: Devicetree, area: Boards

dts/arm: aspeed: Align UART device name to datasheet
  boards/arm/ast1030_evb/ast1030_evb.dts
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast2600_evb/ast2600_evb.dts
  boards/arm/ast2600_evb/ast2600_evb_defconfig
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree, area: Boards

uitl: aspeed: Fix ms to tick error.
  soc/arm/aspeed/aspeed_util.h
Labels: none

drivers: usb: add usb shell cmds for test
  drivers/usb/CMakeLists.txt
  drivers/usb/Kconfig
  drivers/usb/device/usb_dc_aspeed.c
  drivers/usb/usb_shell.c
Labels: none

boards: arm: ast1030_evb: enable USB_CDC_ACM
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

boards: arm: ast1030_evb: use ns16550 as uart driver temporarily
  boards/arm/ast1030_evb/ast1030_evb.dts
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree, area: Boards

drivers: uart_aspeed: Add interrupt driven support
  drivers/serial/Kconfig.aspeed
  drivers/serial/uart_aspeed.c
Labels: none

arm/dts: aspeed: Add interrupt for UDMA
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

peci: Kconfig: Default enable interrupt driven
  drivers/peci/Kconfig.aspeed
Labels: none

soc: arm: aspeed: Append port command for uart boot
  soc/arm/aspeed/CMakeLists.txt
Labels: none

dts: i2c slave / ast1030_evb
  boards/arm/ast1030_evb/ast1030_evb.dts
  drivers/i2c/slave/Kconfig
Labels: area: Devicetree, area: I2C, area: Boards

sensor: aspeed: Add tach-mode property
  drivers/sensor/aspeed/tach_aspeed.c
  dts/bindings/tach/aspeed,tach.yaml
Labels: area: Devicetree, area: Devicetree Binding

pinctrl/ast10x0: Add pinmux for UART devices
  boards/arm/ast1030_evb/fun_def_list.h
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/serial/aspeed,uart.yaml
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

spi: aspeed: SPI controller driver early porting
  boards/arm/ast1030_evb/ast1030_evb.dts
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  drivers/flash/spi_nor.c
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/spi/aspeed,spi-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards

drivers: usb: add print data shell cmds
  drivers/usb/usb_shell.c
Labels: none

drivers: i2c slave
  drivers/i2c/i2c_shell.c
  drivers/i2c/slave/ipmb_slave.c
  include/drivers/i2c/slave/ipmb.h
Labels: area: I2C, area: API

drivers: i2c
  boards/arm/ast1030_evb/ast1030_evb.dts
  drivers/i2c/i2c_aspeed.c
Labels: area: Devicetree, area: I2C, area: Boards

drivers: dts: dtsi: i2c
  boards/arm/ast1030_evb/ast1030_evb.dts
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_shell.c
  drivers/i2c/slave/Kconfig
  drivers/i2c/slave/Kconfig.eeprom
  drivers/i2c/slave/Kconfig.ipmb
  drivers/i2c/slave/ipmb_slave.c
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree, area: I2C, area: Boards

shell: i2c
  drivers/i2c/i2c_shell.c
Labels: area: I2C

dts: i2c
  boards/arm/ast1030_evb/ast1030_evb.dts
Labels: area: Devicetree, area: Boards

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
