Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

demo: ast1060: Separate each demo feature to a standalone file
  samples/boards/ast1060_evb/demo_extmux/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_spi_read.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_extmux/src/spi.h
  samples/boards/ast1060_evb/demo_passthrough/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_spi_read.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/src/spi.h
Labels: area: Samples

demo: i2c: Extract i2c demo source code to a standalone file
  samples/boards/ast1060_evb/demo_passthrough/src/demo_i2c_filter.c
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
Labels: area: Samples

demo: wdt: Fix wrong grammar
  samples/boards/ast1060_evb/demo_extmux/src/demo_wdt.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_wdt.c
Labels: area: Samples

drivers: i2c: Optimize the clock selection
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

drivers: i2c: Update i2c slave irq
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

boards: ast1030_evb: fix jlink runner
  boards/arm/ast1030_evb/board.cmake
Labels: area: Boards

added config files
  .config
Labels: none

test:i2c:Add random data create
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

adding flash and GPIO API
  lib/ami_middleware/CMakeLists.txt
  lib/ami_middleware/flash/flash_aspeed.c
  lib/ami_middleware/flash/flash_aspeed.h
  lib/ami_middleware/gpio/gpio_aspeed.c
  lib/ami_middleware/gpio/gpio_aspeed.h
Labels: none

change teh new version for DTS define
  lib/ami_middleware/flash/flash_aspeed.c
Labels: none

update project and boards configs
  tektagon/boards/ast1060_evb.conf
Labels: none

usb: dfu: support dfu-utils on Windows host
  subsys/usb/class/dfu/usb_dfu.c
Labels: none

i3c: aspeed: fix typo of the DAT offset
  drivers/i3c/i3c_aspeed.c
Labels: none

sampl3s: drivers: i3c: fix typo
  samples/drivers/i3c/src/main.c
Labels: area: Samples

drivers:ipmb:Fix the abnormal message count control
  drivers/i2c/slave/ipmb_slave.c
Labels: area: I2C

i3c: use ASSERT to do the sanity check
  drivers/i3c/i3c_common.c
Labels: none

i3c: Add API to write I2C/I3C devices
  drivers/i3c/i3c_common.c
  include/drivers/i3c/i3c.h
Labels: area: API

boards: ast2600_evb: Add Jlink board runner arg
  boards/arm/ast2600_evb/board.cmake
Labels: area: Boards

samples: i3c: Add imx/iml3112 test code
  samples/drivers/i3c/Kconfig
  samples/drivers/i3c/boards/ast2600_evb.overlay
  samples/drivers/i3c/overlay-imx3112.conf
  samples/drivers/i3c/src/main.c
Labels: area: Samples

samples: driver: i3c: revise imx3102 sample
  samples/drivers/i3c/boards/ast2600_evb.overlay
  samples/drivers/i3c/src/main.c
Labels: area: Samples

samples: driver: i3c: refactor sample code
  samples/drivers/i3c/src/main.c
Labels: area: Samples

drivers:ipmb:add volatile and critical for ipmb read
  drivers/i2c/slave/ipmb_slave.c
Labels: area: I2C

shell:i2c:add i2c ipmb stress thread
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers:i2c:Add i2c M/S controller issue
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

samples: drivers: i3c: Add i3c_imx3112_select function
  samples/drivers/i3c/src/main.c
Labels: area: Samples

samples: drivers: i3c: refactoe i3c sample code
  drivers/i3c/i3c_common.c
  include/drivers/i3c/i3c.h
  samples/drivers/i3c/CMakeLists.txt
  samples/drivers/i3c/src/i3c-imx3102.c
  samples/drivers/i3c/src/i3c-imx3112.c
  samples/drivers/i3c/src/i3c-spd5118.c
  samples/drivers/i3c/src/main.c
Labels: area: API, area: Samples

spi_monitor: Add API for configuring SCU0F0[3:0]
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

spi_monitor: Fix typo of "master_en"
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

added middle ware and wrapper support
  lib/ami_middleware/CMakeLists.txt
  lib/ami_middleware/crypto/hash_aspeed.c
  lib/ami_middleware/crypto/hash_aspeed.h
  lib/ami_middleware/crypto/rsa_aspeed.c
  lib/ami_middleware/crypto/rsa_aspeed.h
  lib/ami_middleware/flash/flash_aspeed.c
  lib/ami_middleware/flash/flash_aspeed.h
  tektagon/CMakeLists.txt
  tektagon/boards/ast1060_evb.conf
  tektagon/src/common/common.c
  tektagon/src/common/common.h
  tektagon/src/engineManager/engine_manager.c
  tektagon/src/engineManager/engine_manager.h
  tektagon/src/imageVerification/image_verify.c
  tektagon/src/imageVerification/image_verify.h
  tektagon/src/include/definitions.h
  tektagon/src/main.c
  tektagon/src/manifestProcessor/manifestProcessor.c
  tektagon/src/manifestProcessor/manifestProcessor.h
Labels: none

update ceberus link
  .gitmodules
Labels: none

update ceberus link
  .gitmodules
Labels: none

Update manifestProcessor.c to avoid build error
  tektagon/src/manifestProcessor/manifestProcessor.c
Labels: none

spi_monitor: Remove an unused bit
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

Update CMakeLists.txt
  tektagon/CMakeLists.txt
Labels: none

demo: spi_monitor: Remove an extra word
  samples/boards/ast1060_evb/demo_extmux/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_pfr_boot_up.c
Labels: area: Samples

watchdog: Add get_wdt_timeout_status function
  drivers/watchdog/wdt_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: Watchdog, area: API

spi_flash: Add CONFIG_SPI_DMA_SUPPORT_ASPEED support
  drivers/flash/flash_shell.c
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_aspeed.c
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1060_evb/demo_extmux/src/demo_spi_read.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_spi_read.c
Labels: area: Devicetree, area: SPI, area: Samples

demo: spi_flash: Change "spim" to "spi_flash"
  samples/boards/ast1060_evb/demo_extmux/src/demo_spi_read.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_spi_read.c
Labels: area: Samples

demo: spi_flash: Change log module name
  samples/boards/ast1060_evb/demo_extmux/src/demo_spi_read.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_spi_read.c
Labels: area: Samples

update cerberus wrapper function name
  tektagon/src/engineManager/engine_manager.c
Labels: none
