Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

entropy: aspeed: add init workaround to discard first 32 RNG reads
  drivers/entropy/entropy_aspeed_trng.c
Labels: none

ast2700: bootmcu: change zephyr entropy source
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

i2c: i2c_aspeed_shell: update the local parameter usage
  drivers/i2c/i2c_aspeed_shell.c
Labels: area: I2C

i2c: i2c-aspeed: add DMA address mask definition
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i2c: i2c-aspeed: update the AST2700 AC timing calculation
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dts: bindings: pcie: Add property bridge-aliasing
  dts/bindings/pcie/endpoint/aspeed,ast27xx-pcie.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: clock_control: ast10x0_g2: Add I3C clock rate support
  drivers/clock_control/clock_control_ast10x0_g2.c
Labels: none

drivers: i3c: mipi_hci: Route DMA Hot-Join IBIs through the shared workqueue
  drivers/i3c/mipi_hci/dma.c
Labels: none

drivers: i3c: Add Hot-Join enable/disable API
  drivers/i3c/i3c_common.c
  drivers/i3c/i3c_shell.c
  drivers/i3c/mipi_hci/core.c
  include/zephyr/drivers/i3c.h
Labels: area: API

drivers: adc: aspeed: Add AST10x0 G2 engine control support
  drivers/adc/Kconfig.aspeed
  drivers/adc/adc_shell.c
  drivers/adc/aspeed/adc_aspeed.c
  drivers/adc/aspeed/adc_aspeed.h
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/adc/aspeed,ast10x0-g2-adc.yaml
Labels: area: ADC, area: Devicetree, area: Devicetree Binding

spi monitor: aspeed: Fix AST1080 pinmux sharing, init order, and shell parity
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  boards/aspeed/ast1080_evb/ast1080_evb_cm4_defconfig
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed.h
  drivers/spi/spi_aspeed_pin_config.c
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
Labels: area: Devicetree, area: SPI, area: Boards

spi: aspeed: Maintain DMA buffer cache coherency in software
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  boards/aspeed/ast1080_evb/ast1080_evb_cm4_defconfig
  drivers/flash/flash_shell.c
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed.h
Labels: area: SPI, area: Boards

i2c: swmbx: allocate memory for software mailbox and information
  drivers/i2c/pfr/swmbx.c
  include/zephyr/drivers/i2c/pfr/swmbx.h
Labels: area: I2C, area: API

i2c: global_aspeed: remove the SRAM initial behavior
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

i2c: swmbx: fix the buffer initail typo
  drivers/i2c/pfr/swmbx.c
Labels: area: I2C

i2c: aspeed: add cache flush for I2C read path
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

spi monitor: aspeed: Add shell command to clear addr privilege table
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  include/zephyr/drivers/misc/aspeed/ast2700_spim.h
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

spi: aspeed: Fix LOG_ERR/LOG_WRN typo in timing calibration
  drivers/spi/spi_aspeed.c
Labels: area: SPI

drivers: i3c: Defer I3C target driver init until a dynamic address exists
  drivers/i3c/i3c_common.c
  drivers/i3c/i3c_ibi_workq.c
  drivers/i3c/mipi_hci/core.c
  include/zephyr/drivers/i3c.h
Labels: area: API

drivers: i3c: aspeed: Add Hot-Join enable/disable
  drivers/i3c/i3c_aspeed.c
Labels: none

spi monitor: aspeed: Fix ISR sem assert in blocked log parser
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

test: add ast1030_evb jtag/peci/uart/espi smoke tests
  tests/boards/ast1030_evb/common/ast_test.h
  tests/boards/ast1030_evb/espi/CMakeLists.txt
  tests/boards/ast1030_evb/espi/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/espi/prj.conf
  tests/boards/ast1030_evb/espi/src/main.c
  tests/boards/ast1030_evb/espi/testcase.yaml
  tests/boards/ast1030_evb/jtag/CMakeLists.txt
  tests/boards/ast1030_evb/jtag/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/jtag/prj.conf
  tests/boards/ast1030_evb/jtag/src/main.c
  tests/boards/ast1030_evb/jtag/testcase.yaml
  tests/boards/ast1030_evb/peci/CMakeLists.txt
  tests/boards/ast1030_evb/peci/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/peci/prj.conf
  tests/boards/ast1030_evb/peci/src/main.c
  tests/boards/ast1030_evb/peci/testcase.yaml
  tests/boards/ast1030_evb/uart/CMakeLists.txt
  tests/boards/ast1030_evb/uart/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/uart/prj.conf
  tests/boards/ast1030_evb/uart/src/main.c
  tests/boards/ast1030_evb/uart/testcase.yaml
Labels: area: Tests

drivers: misc: otp_ast2700: propagate specific OTP command errors
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

test: add ast1030_evb adc test
  tests/boards/ast1030_evb/adc/CMakeLists.txt
  tests/boards/ast1030_evb/adc/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/adc/prj.conf
  tests/boards/ast1030_evb/adc/src/main.c
  tests/boards/ast1030_evb/adc/testcase.yaml
Labels: area: Tests

test: add ast1030_evb crypto test
  tests/boards/ast1030_evb/crypto/CMakeLists.txt
  tests/boards/ast1030_evb/crypto/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/crypto/prj.conf
  tests/boards/ast1030_evb/crypto/src/main.c
  tests/boards/ast1030_evb/crypto/testcase.yaml
Labels: area: Tests

test: add ast1030_evb spi/fmc flash test
  tests/boards/ast1030_evb/spi/CMakeLists.txt
  tests/boards/ast1030_evb/spi/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/spi/prj.conf
  tests/boards/ast1030_evb/spi/src/main.c
  tests/boards/ast1030_evb/spi/testcase.yaml
Labels: area: Tests

test: add ast1030_evb i2c test
  tests/boards/ast1030_evb/i2c/CMakeLists.txt
  tests/boards/ast1030_evb/i2c/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/i2c/prj.conf
  tests/boards/ast1030_evb/i2c/src/main.c
  tests/boards/ast1030_evb/i2c/testcase.yaml
Labels: area: Tests

test: add ast1030_evb i3c test
  tests/boards/ast1030_evb/i3c/CMakeLists.txt
  tests/boards/ast1030_evb/i3c/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/i3c/prj.conf
  tests/boards/ast1030_evb/i3c/src/main.c
  tests/boards/ast1030_evb/i3c/testcase.yaml
Labels: area: Tests

drivers: cptra: Mark cptra_manifest_ime as packed
  include/zephyr/drivers/cptra.h
Labels: area: API

drivers: clock_control: align AST1040 clocks with hardware
  drivers/clock_control/clock_control_ast10x0_g2.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/riscv/aspeed/ast10x0-g2.dtsi
  include/zephyr/dt-bindings/clock/ast10x0_g2_clock.h
Labels: area: Devicetree, area: API

dts: aspeed: ast10x0-g2: fix spi0/spi1 clock source back to AHB
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

drivers: misc: otp_ast2700: add per-region ECC policy
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

drivers: misc: otp_ast2700: decode OTP_DBG01 ECC status on read
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

spi monitor: aspeed: Add AST10X0-G2 SPI filter controller support
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/spi/aspeed,ast10x0-g2-spi-filter-controller.yaml
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards

dts: bindings: pinctrl: ast10x0-g2: add JTAG master pin groups
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl-groups.h
Labels: area: API

dts: aspeed: ast10x0-g2: split JTAG interrupt into two master lines
  dts/arm/aspeed/ast10x0-g2-irq.h
  dts/riscv/aspeed/ast10x0-g2-irq.h
Labels: area: Devicetree

dts: bindings: reset: add AST10x0-G2 SCU1 reset map
  dts/arm/aspeed/ast10x0-g2.dtsi
  include/zephyr/dt-bindings/reset/ast10x0-g2_reset.h
Labels: area: Devicetree, area: API

dts: aspeed: ast10x0-g2: add JTAG master device nodes
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

serial: aspeed: support UART reset-source via LSC
  drivers/serial/uart_aspeed.c
Labels: none

dts: bindings: uart-aspeed: add LSC properties
  dts/bindings/serial/aspeed,uart.yaml
Labels: area: Devicetree, area: Devicetree Binding
