Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

board: ast2700_fpga: enable IPC device and IPM driver
  boards/arm/ast2700_fpga/ast2700_fpga.dts
  boards/arm/ast2700_fpga/ast2700_fpga_defconfig
Labels: area: Devicetree, area: Boards

samples: drives: ipm: add aspeed ipm sample
  samples/drivers/ipm/ipm_aspeed/CMakeLists.txt
  samples/drivers/ipm/ipm_aspeed/prj.conf
  samples/drivers/ipm/ipm_aspeed/sample.yaml
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

drivers: ipm_ast2700: revise set_enabled and send
  drivers/ipm/ipm_ast2700.c
Labels: none

dts: ast27x0_tsp: add missing properties
  dts/arm/aspeed/ast27x0_tsp.dtsi
Labels: area: Devicetree

boards: ast2700_fpga: add ast2700_tsp_fpga
  boards/arm/ast2700_fpga/Kconfig.board
  boards/arm/ast2700_fpga/Kconfig.defconfig
  boards/arm/ast2700_fpga/ast2700_ssp_fpga.dts
  boards/arm/ast2700_fpga/ast2700_ssp_fpga.yaml
  boards/arm/ast2700_fpga/ast2700_ssp_fpga_defconfig
  boards/arm/ast2700_fpga/ast2700_tsp_fpga.dts
  boards/arm/ast2700_fpga/ast2700_tsp_fpga.yaml
  boards/arm/ast2700_fpga/ast2700_tsp_fpga_defconfig
Labels: area: Devicetree, area: Boards

boards: ast2700: Add board defines for SSP_FPGA and TSP_FPGA
  boards/arm/ast2700_fpga/ast2700_ssp_fpga_defconfig
  boards/arm/ast2700_fpga/ast2700_tsp_fpga_defconfig
Labels: area: Boards

samples: drivers: ipm: Enable SSP and TSP ipm. Disable Shell.
  samples/drivers/ipm/ipm_aspeed/prj.conf
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

dts: aspeed: Add uart0 device to ast27x0 soc
  dts/arm/aspeed/ast27x0.dtsi
Labels: area: Devicetree

boards: ast2700_fpga: Use uart0 as console uart for TSP
  boards/arm/ast2700_fpga/ast2700_ssp_fpga.dts
Labels: area: Devicetree, area: Boards

boards: ast2700_fpga: Add shell prompt for ssp and tsp
  boards/arm/ast2700_fpga/ast2700_ssp_fpga_defconfig
  boards/arm/ast2700_fpga/ast2700_tsp_fpga_defconfig
Labels: area: Boards

soc: arm: aspeed: Fix the source path of Kconfig.soc
  soc/arm/aspeed/Kconfig
Labels: none

dts: bindings: pinctrl: Add binding for Aspeed AST10x0 pinctrl
  dts/bindings/pinctrl/aspeed,pinctrl.yaml
  dts/bindings/pinctrl/aspeed,pinmux.yaml
  include/zephyr/dt-bindings/pinctrl/ast10x0-pinctrl.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

drivers: pinctrl: Add Aspeed pinctrl driver
  drivers/pinctrl/CMakeLists.txt
  drivers/pinctrl/Kconfig
  drivers/pinctrl/Kconfig.aspeed
  drivers/pinctrl/pinctrl_aspeed.c
  soc/arm/aspeed/ast10x0/pinctrl_soc.h
Labels: none

dts: arm: aspeed: Add AST10x0 pinctrl devices
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

boards: ast1030_evb: Enable PINCTRL driver
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

i3c: aspeed: Introduce the IBI done tid for SIR transfer.
  drivers/i3c/i3c_aspeed.c
Labels: none

clock: aspeed: Add missing __fallthrough
  drivers/clock_control/clock_control_ast10x0.c
  drivers/clock_control/clock_control_ast26xx.c
Labels: none

usb: ast1030: Specify ASPEED UDC supports high speed
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Samples

usb: aspeed: fix usb dc driver EP_TX_LEN marco bug
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

ast1060: spim3: Update multiple function pin control
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: none

dts: bindings: reset: add binding for Aspeed AST27xx reset
  dts/bindings/reset/aspeed,ast27xx-reset.yaml
  include/zephyr/dt-bindings/reset/ast27xx_reset.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

drivers: aspeed: otp: add AST1035 support
  drivers/misc/aspeed/otp_aspeed.c
  include/drivers/misc/aspeed/otp_aspeed.h
Labels: area: API

reset:add ast2700 reset driver
  drivers/reset/CMakeLists.txt
  drivers/reset/Kconfig.aspeed
  drivers/reset/reset_ast27xx.c
Labels: none

dts:bindings:clock: add binding for AST27XX clock
  dts/bindings/clock/aspeed,ast27xx-cpu-clock.yaml
  dts/bindings/clock/aspeed,ast27xx-io-clock.yaml
  include/zephyr/dt-bindings/clock/ast27xx_clock.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

clock: add ast2700 clock driver
  drivers/clock_control/CMakeLists.txt
  drivers/clock_control/Kconfig.aspeed
  drivers/clock_control/clock_control_ast27xx_cpu.c
  drivers/clock_control/clock_control_ast27xx_io.c
Labels: none

dtsi: update ast2700 reset
  dts/arm/aspeed/ast27x0.dtsi
Labels: area: Devicetree

dtsi: add ast2700 cpu/io clock in dtsi
  dts/arm/aspeed/ast27x0.dtsi
Labels: area: Devicetree

reset: ast27xx reset driver
  drivers/reset/reset_ast27xx.c
Labels: none

reset: ast27xx reset driver
  drivers/reset/reset_ast27xx.c
Labels: none

defconfig: enable ast2700 reset driver
  boards/arm/ast2700_fpga/ast2700_ssp_fpga_defconfig
Labels: area: Boards

defconfig: enable clock control driver
  boards/arm/ast2700_fpga/ast2700_ssp_fpga_defconfig
  boards/arm/ast2700_fpga/ast2700_tsp_fpga_defconfig
Labels: area: Boards

sample: dcscm: Fix unexpected log behavior
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spim_isr.c
Labels: area: Samples

spi: aspeed: Support pure SPI mode only
  drivers/spi/spi_aspeed.c
  dts/bindings/spi/aspeed,spi-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

spi_monitor: Add support for 1-4-4 read commands
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: SPI, area: API, area: Samples

spi_monitor: Add CMD_WREAR in the 31th slot when it is added
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

i3c: aspeed: Fix the step of the stop condition.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Check the fail of i3c slave enable.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Generate the stop condition when slave disable.
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: serial: Migrate Aspeed UART driver
  drivers/serial/CMakeLists.txt
  drivers/serial/Kconfig.aspeed
  drivers/serial/uart_aspeed.c
  dts/bindings/serial/aspeed,uart.yaml
Labels: area: Devicetree, area: Devicetree Binding

samples: board: ast1030_evb: enable ECDSA_ASPEED configs
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Samples
