Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

spi: aspeed: merge AST2700 implementation into common driver
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed_ast2700.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
Labels: area: Devicetree, area: SPI, area: Samples

Revert "spi: aspeed: merge AST2700 implementation into common driver"
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed_ast2700.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
Labels: area: Devicetree, area: SPI, area: Samples

spi: monitor: Move SCU control logic out of CONFIG_SOC_AST1060
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

spi: aspeed: merge AST2700 implementation into common driver
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed_ast2700.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
Labels: area: Devicetree, area: SPI, area: Samples

spi monitor: Add controller software reset callback
  drivers/spi/spi_monitor_aspeed.c
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
Labels: area: SPI, area: API, area: Samples

spi monitor: Restore spim_passthrough_config function
  drivers/spi/spi_monitor_aspeed.c
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

soc: ast1040: Add pinctrl_soc.h
  soc/aspeed/ast1040/pinctrl_soc.h
Labels: none

drivers: prictrl: Support privilege control 0 memory protection
  drivers/misc/aspeed/prictrl_aspeed.c
Labels: none

drivers: prictrl: Support privilege control 1 memory protection
  drivers/misc/aspeed/prictrl_aspeed.c
  drivers/misc/aspeed/prictrl_aspeed.h
  include/zephyr/dt-bindings/memory-controller/ast27xx-mpu.h
Labels: area: API

dt-bindings: Fix privilege control dram protection master id
  include/zephyr/dt-bindings/memory-controller/ast27xx-mpu.h
Labels: area: API

drivers: prictrl: handle initial aspeed prictrl setup state
  drivers/misc/aspeed/prictrl_aspeed.c
Labels: none

drivers: otp: ast2700: add ROM patch v2/v3/v4 support for AST2700-A2
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

drivers: i2c: add AST2700 slave support back
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

spi: aspeed: Factor SoC variants into ops
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_aspeed.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
  dts/bindings/spi/aspeed,ast1030-spi-controller.yaml
  dts/bindings/spi/aspeed,ast1040-spi-lite-controller.yaml
  dts/bindings/spi/aspeed,ast1060-spi-controller.yaml
  dts/bindings/spi/aspeed,ast2600-spi-controller.yaml
  dts/bindings/spi/aspeed,ast2700-spi-controller.yaml
  dts/bindings/spi/aspeed,ast2700-spi-lite-controller.yaml
  dts/bindings/spi/aspeed,spi-common.yaml
  dts/bindings/spi/aspeed,spi-controller.yaml
  dts/riscv/aspeed/ast1040.dtsi
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

spi: aspeed: Move pin setup to separate helper
  drivers/spi/CMakeLists.txt
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed.h
  drivers/spi/spi_aspeed_pin_config.c
Labels: area: SPI

spi: aspeed: Share calibration buffer across controller instances
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed.h
Labels: area: SPI

cptra: add get_pcr_log and reallocate_dpe_context_limits commands
  drivers/misc/aspeed/cptra_dice.c
  drivers/misc/aspeed/cptra_ipc.c
  include/zephyr/drivers/cptra.h
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
Labels: area: API

Revert: cptra: add get_pcr_log and reallocate_dpe_context_limits commands
  drivers/misc/aspeed/cptra_dice.c
  drivers/misc/aspeed/cptra_ipc.c
  include/zephyr/drivers/cptra.h
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
Labels: area: API

cptra: add get_pcr_log and reallocate_dpe_context_limits commands
  drivers/misc/aspeed/cptra_dice.c
  drivers/misc/aspeed/cptra_ipc.c
  include/zephyr/drivers/cptra.h
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
Labels: area: API

drivers: otp: ast2700: add A2 ROM patch version V5 support
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

i2c: aspeed: add AST2700 multi-target support
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

spi: aspeed: Fix mem_reg not updated after internal MUX remaps cs to 0
  drivers/spi/spi_aspeed.c
Labels: area: SPI

dts: aspeed: Add ast10x0-g2 family layer shared by AST1040/AST1080
  dts/arm/aspeed/ast1040.dtsi
  dts/arm/aspeed/ast10x0-g2-irq.h
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/riscv/aspeed/ast1040.dtsi
  dts/riscv/aspeed/ast10x0-g2-irq.h
  dts/riscv/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

dt-bindings: pinctrl: Add ast10x0-g2 pinctrl headers and pin nodes
  dts/arm/aspeed/ast10x0-g2-pinctrl.dtsi
  dts/arm/aspeed/ast10x0-g2.dtsi
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl-groups.h
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl.h
Labels: area: Devicetree, area: API

drivers: aspeed: Switch DMA address callers to TO_PHY_ADDR/TO_VIR_ADDR
  drivers/misc/aspeed/edaf_bridge_aspeed.c
  drivers/spi/spi_aspeed.c
Labels: area: SPI

soc: aspeed: ast1040: Provide DMA address translation API
  soc/aspeed/ast1040/soc.c
  soc/aspeed/ast1040/soc.h
Labels: none

drivers: gpio: Add ASPEED G7 master GPIO driver
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig.aspeed
  drivers/gpio/gpio_aspeed_g7.c
  dts/bindings/gpio/aspeed,g7-gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: aspeed: ast10x0-g2: Add SCU reset, clock and pinctrl nodes
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

drivers: gpio: Add ASPEED G7 master SGPIOM driver
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig.aspeed
  drivers/gpio/gpio_aspeed_g7_sgpiom.c
  dts/bindings/gpio/aspeed,g7-sgpiom.yaml
Labels: area: Devicetree, area: Devicetree Binding

ast1040_evb: cm4: Enable PECI controller
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

ast1040_evb: cm4: Enable ADC0 and ADC1
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

ast1040_evb: cm4: Enable I2C controllers 0-5
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

dts: aspeed: ast10x0-g2: Add GPIO and SGPIOM controller nodes
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

ast1040_evb: cm4: Enable GPIO and SGPIO master controllers
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
Labels: area: Devicetree, area: Boards

ast1040_evb: cm4: Enable PWM and tach controllers
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

i2c: aspeed: add AST1040 flow define
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

dts: ast27xx: Update SSP and TSP RW region to DRAM
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
Labels: area: Devicetree, area: Boards

wdt: aspeed: Add AST2700 watchdog support
  drivers/watchdog/CMakeLists.txt
  drivers/watchdog/Kconfig
  drivers/watchdog/Kconfig.aspeed
  drivers/watchdog/Kconfig.aspeed_g7
  drivers/watchdog/wdt_aspeed.c
  drivers/watchdog/wdt_aspeed_g7.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast27xx.dtsi
  dts/bindings/watchdog/aspeed,ast-watchdog.yaml
  dts/bindings/watchdog/aspeed,ast2700-watchdog.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Watchdog, area: Devicetree, area: Devicetree Binding

wdt: ast2700: Migrate sys_arch_reboot() to use WDT driver API
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
  soc/aspeed/ast27xx/soc.c
Labels: area: Devicetree, area: Boards, area: Samples

soc: aspeed: Add AST1080 and group AST1040/AST1080 as ast10x0_g2
  boards/aspeed/ast1080_evb/Kconfig.ast1080_evb
  boards/aspeed/ast1080_evb/ast1080_evb_bootmcu.dts
  boards/aspeed/ast1080_evb/ast1080_evb_bootmcu.yaml
  boards/aspeed/ast1080_evb/ast1080_evb_bootmcu_defconfig
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.yaml
  boards/aspeed/ast1080_evb/ast1080_evb_cm4_defconfig
  boards/aspeed/ast1080_evb/board.yml
  boards/aspeed/ast1080_haps/Kconfig.ast1080_haps
  boards/aspeed/ast1080_haps/ast1080_haps_bootmcu.dts
  boards/aspeed/ast1080_haps/ast1080_haps_bootmcu.yaml
  boards/aspeed/ast1080_haps/ast1080_haps_bootmcu_defconfig
  boards/aspeed/ast1080_haps/ast1080_haps_cm4.dts
  boards/aspeed/ast1080_haps/ast1080_haps_cm4.yaml
  boards/aspeed/ast1080_haps/ast1080_haps_cm4_defconfig
  boards/aspeed/ast1080_haps/board.yml
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_aspeed.c
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
  drivers/spi/Kconfig.aspeed
  dts/arm/aspeed/ast1080.dtsi
  dts/riscv/aspeed/ast1080.dtsi
  soc/aspeed/ast1040/Kconfig.soc
  soc/aspeed/ast10x0_g2/CMakeLists.txt
  soc/aspeed/ast10x0_g2/Kconfig
  soc/aspeed/ast10x0_g2/Kconfig.defconfig
  soc/aspeed/ast10x0_g2/Kconfig.defconfig.bootmcu
  soc/aspeed/ast10x0_g2/Kconfig.defconfig.cm4
  soc/aspeed/ast10x0_g2/Kconfig.soc
  soc/aspeed/ast10x0_g2/linker.ld
  soc/aspeed/ast10x0_g2/pinctrl_soc.h
  soc/aspeed/ast10x0_g2/sboot.ld
  soc/aspeed/ast10x0_g2/soc.c
  soc/aspeed/ast10x0_g2/soc.h
  soc/aspeed/soc.yml
Labels: area: Devicetree, area: I2C, area: SPI, area: Boards

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
