Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

dts: spi_monitor: Add 3Bh and 3Ch dual mode read commands
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
Labels: area: Samples

sig_def_list/ast10x0 : Fix the register setting of gpio.
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: none

spi_nor: Configurabled sector size support
  drivers/flash/spi_nor_multi_dev.c
Labels: none

spi: aspeed: Remove an unnecessary log
  drivers/spi/spi_aspeed.c
Labels: area: SPI

spi: aspeed: Add other conditions for using SPI DMA
  drivers/spi/spi_aspeed.c
Labels: area: SPI

board: arm: aspeed: add otp config for 1030A1
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA_RSA2048_o2.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA_RSA3072_o2.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA_RSA4096_o2.json
  boards/arm/ast1030_evb/otp_config/1030A1_ECDSA_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA2048_SHA256.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA2048_SHA256_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA2048_SHA256_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA3072_SHA384.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA3072_SHA384_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA3072_SHA384_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA4096_SHA512.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA4096_SHA512_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSA4096_SHA512_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_2048_SHA256.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_2048_SHA256_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_2048_SHA256_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_3072_SHA384.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_3072_SHA384_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_3072_SHA384_o2_pub.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_4096_SHA512.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_4096_SHA512_o1.json
  boards/arm/ast1030_evb/otp_config/1030A1_RSAPSS_4096_SHA512_o2_pub.json
Labels: area: Boards

board: arm: aspeed: add secure boot test key
  boards/arm/ast1030_evb/key/test_oem_dss_private_key_ecdsa384_0.pem
  boards/arm/ast1030_evb/key/test_oem_dss_private_key_ecdsa384_1.pem
  boards/arm/ast1030_evb/key/test_oem_dss_private_key_ecdsa384_2.pem
  boards/arm/ast1030_evb/key/test_oem_dss_private_key_ecdsa384_3.pem
  boards/arm/ast1030_evb/key/test_oem_dss_private_key_ecdsa384_4.pem
  boards/arm/ast1030_evb/key/test_oem_dss_public_key_ecdsa384_0.pem
  boards/arm/ast1030_evb/key/test_oem_dss_public_key_ecdsa384_1.pem
  boards/arm/ast1030_evb/key/test_oem_dss_public_key_ecdsa384_2.pem
  boards/arm/ast1030_evb/key/test_oem_dss_public_key_ecdsa384_3.pem
  boards/arm/ast1030_evb/key/test_oem_dss_public_key_ecdsa384_4.pem
Labels: area: Boards

drivers/ecdsa: Mbedtls ecdsa sample code
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/ecdsa_shell.c
  samples/boards/ast1030_evb/demo/prj.conf
  tests/boards/ast1030/prj.conf
Labels: area: Samples, area: Tests

spi_nor: Pseudo flash node support
  drivers/flash/spi_nor_multi_dev.c
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Samples

drivers: swmbx/shell: Update description
  drivers/i2c/i2c_shell.c
  drivers/i2c/slave/swmbx_slave.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers: swmbx: Add ebable flag control for swmbx
  drivers/i2c/slave/swmbx_slave.c
Labels: area: I2C

drivers: gpio_shell: Fix gpio remove callback assert issue.
  drivers/gpio/gpio_shell.c
Labels: none

drivers: gpio: include aspeed-pinctrl.yaml
  dts/bindings/gpio/aspeed,gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

soc: ast10x0: Add gpio passthrough pinctrl setting.
  boards/arm/ast1030_evb/fun_def_list.h
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: area: Devicetree, area: Boards

drivers: i2c: Refine i2c slave rx code
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Fix the i2c scan fail issue
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Take care just received stop case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

pfr: Update GPIO config flow for BMC reset
  drivers/misc/aspeed/pfr_ast1060.c
Labels: none

drivers: swmbx: Add SWMBX_LOCK_PROTECT define
  drivers/i2c/slave/swmbx_slave.c
Labels: area: I2C

drivers: shell/swmbx: Reset swmbx into eeprom code
  drivers/i2c/i2c_shell.c
  drivers/i2c/slave/swmbx_slave.c
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: I2C, area: Samples

drivers: swbmx: Add new pfr swmbx file
  drivers/i2c/pfr/CMakeLists.txt
  drivers/i2c/pfr/Kconfig
  drivers/i2c/pfr/Kconfig.mailbox
  drivers/i2c/pfr/Kconfig.snoop
  drivers/i2c/pfr/Kconfig.swmbx
  drivers/i2c/pfr/swmbx.c
  drivers/i2c/slave/swmbx_slave.c
  dts/bindings/i2c/aspeed,swmbx-ctrl.yaml
  dts/bindings/i2c/aspeed,swmbx-dev.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: I2C

drivers: swmbx: Add initial config and data behavior
  drivers/i2c/pfr/swmbx.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers: swmbx: Add notify and fifo structure
  drivers/i2c/pfr/swmbx.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers: swmbx: Extend the array size by device count
  drivers/i2c/pfr/swmbx.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers: swmbx: Fix the parameter typo
  drivers/i2c/pfr/swmbx.c
Labels: area: I2C

drivers: swmbx: Add back swmbx_update_notify, swmbx_flush_fifo, swmbx_update_fifo
  drivers/i2c/pfr/swmbx.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers: swmbx: Add back swmbx_write and swmbx_read functions
  drivers/i2c/pfr/swmbx.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

driver: peci: Add support for PECI 4.0 command.
  include/drivers/peci.h
Labels: area: API

peci: aspeed: Append PECI 4.0 commnad to aw_fcs list.
  drivers/peci/peci_aspeed.c
Labels: none

drivers: swmbx: Add device slave send / get interface
  drivers/i2c/pfr/swmbx.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

spi_nor: Add re-init SPI flash node support
  drivers/flash/spi_nor_multi_dev.c
  dts/bindings/mtd/jedec,spi-nor.yaml
  include/drivers/spi_nor.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

driver: swmbx: Update for compile failed
  drivers/i2c/pfr/swmbx.c
  dts/bindings/i2c/aspeed,swmbx-ctrl.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: I2C

misc: aspeed: Add ABR flow control APIs
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/abr_aspeed.c
  include/drivers/misc/aspeed/abr_aspeed.h
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/src/main.c
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
Labels: area: API, area: Samples

drivers: i2c: swmbx slave driver update
  drivers/i2c/slave/swmbx_slave.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,swmbx-dev.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: Samples

dts: swmbx: Remove old swmbx device yaml
  dts/bindings/i2c/aspeed,swmbx.yaml
Labels: area: Devicetree, area: Devicetree Binding

shell: i2c: Fix the compile warning
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: swmbx: Update write protect behavior
  drivers/i2c/pfr/swmbx.c
  dts/arm/aspeed/ast10x0.dtsi
  include/drivers/i2c/slave/swmbx.h
Labels: area: Devicetree, area: I2C, area: API

drivers: i2c_global: Decrease initial SRAM size
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

drivers: swmbx: Fix protect apply function typo
  drivers/i2c/pfr/swmbx.c
Labels: area: I2C

drivers: i2c: shell: Add new swmbx protect apply sample
  drivers/i2c/i2c_shell.c
Labels: area: I2C

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
