Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

gpio: aspeed: split the dependency of single-ended.
  drivers/gpio/gpio_aspeed.c
Labels: none

spi-flash: Porting spi_nor_op_exec function
  drivers/flash/jesd216.c
  drivers/flash/spi_nor.c
  include/drivers/jesd216.h
  include/drivers/spi.h
  include/drivers/spi_nor.h
Labels: area: API

include: drivers: add i3c interface file
  include/drivers/i3c/i3c.h
Labels: area: API

dts:arm:aspeed: add missing properties of the i3c devices
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

drivers: i3c: update i3c driver
  drivers/i3c/i3c_aspeed.c
Labels: none

samples: drivers: add i3c samples
  samples/drivers/i3c/CMakeLists.txt
  samples/drivers/i3c/README.rst
  samples/drivers/i3c/boards/ast1030_evb.conf
  samples/drivers/i3c/boards/ast1030_evb.overlay
  samples/drivers/i3c/boards/ast2600_evb.conf
  samples/drivers/i3c/boards/ast2600_evb.overlay
  samples/drivers/i3c/prj.conf
  samples/drivers/i3c/sample.yaml
  samples/drivers/i3c/src/main.c
Labels: area: Samples, area: Documentation

dts: arm: aspeed: remove gpio1 in ast2600.
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

drivers: gpio: aspeed: Use child node for gpio.
  drivers/gpio/Kconfig.aspeed
  drivers/gpio/gpio_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast26xx.dtsi
  dts/bindings/gpio/aspeed,gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

spi-flash: Porting aspeed_spi_nor_ops transceive callback
  drivers/flash/spi_nor.c
  drivers/spi/spi_aspeed.c
  include/drivers/jesd216.h
  include/drivers/spi.h
Labels: area: SPI, area: API

dts: i2c: change i2c slaves node define
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  tests/boards/ast1030/boards/ast1030_evb.overlay
Labels: area: Samples, area: Tests

spi-flash: Pass flash size to driver
  drivers/flash/spi_nor.c
Labels: none

dts: fix error
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  tests/boards/ast1030/boards/ast1030_evb.overlay
Labels: area: Samples, area: Tests

spi-flash: QPI SPI mode is not supported
  drivers/flash/spi_nor.c
Labels: none

spi-flash: Fix build error and warning
  drivers/flash/spi_nor.c
Labels: none

drivers: gpio_shell: Fix interrupt setting order.
  drivers/gpio/gpio_shell.c
Labels: none

bindings: aspeed,gpio: Add property for debounce.
  dts/bindings/gpio/aspeed,gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: gpio: aspeed: Support debounce feature.
  drivers/gpio/gpio_aspeed.c
Labels: none

drivers: gpio_shell: Support debounce configure.
  drivers/gpio/gpio_shell.c
Labels: none

spi-flash: QSPI mode support
  drivers/flash/spi_nor.c
  include/drivers/spi_nor.h
Labels: area: API

gpio: aspeed: Remove redundant code.
  drivers/gpio/gpio_aspeed.c
Labels: none

spi_flash: aspeed: spi-flash update demo app early porting
  drivers/flash/spi_nor.c
  include/drivers/flash.h
  samples/drivers/spi_flash_aspeed/CMakeLists.txt
  samples/drivers/spi_flash_aspeed/Kconfig
  samples/drivers/spi_flash_aspeed/README.rst
  samples/drivers/spi_flash_aspeed/prj.conf
  samples/drivers/spi_flash_aspeed/sample.yaml
  samples/drivers/spi_flash_aspeed/src/main.c
Labels: area: API, area: Samples, area: Documentation

spi_flash: Create spi_nor_multi_dev.c
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/Kconfig.multi_dev
  drivers/flash/spi_nor_multi_dev.c
  dts/bindings/spi/aspeed,spi-controller.yaml
  samples/drivers/spi_flash_aspeed/src/main.c
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

dts: Add binding for aspeed sgpio master device.
  dts/bindings/gpio/aspeed,sgpiom.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: sgpiom: Add driver for aspeed sgpiom.
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig.aspeed
  drivers/gpio/gpio_aspeed_sgpiom.c
  drivers/gpio/gpio_aspeed_sgpiom.h
Labels: none

pinmux: aspeed: Add the pinmux setting for sgpio.
  boards/arm/ast1030_evb/fun_def_list.h
  boards/arm/ast2600_evb/fun_def_list.h
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/arm/aspeed/ast26xx-pinctrl.dtsi
  soc/arm/aspeed/ast10x0/sig_def_list.h
  soc/arm/aspeed/ast26xx/sig_def_list.h
Labels: area: Devicetree, area: Boards

arm: dts: ast26xx: Add sgpiom to device tree
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

arm: dts: ast10x0: Add sgpiom to device tree
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

drivers: cache: add check if in irq
  drivers/cache/cache_aspeed.c
Labels: none

samples: ast1030_evb: Enable SGPIOM driver.
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Samples

spi_flash: Multiple spi-flash devices support
  boards/arm/ast1030_evb/fun_def_list.h
  drivers/flash/Kconfig.multi_dev
  drivers/flash/spi_nor_multi_dev.c
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  samples/drivers/spi_flash_aspeed/src/main.c
Labels: area: Devicetree, area: Boards, area: Samples

drivers: cache: add check if in irq
  drivers/cache/cache_aspeed.c
Labels: none

tests: i2c: Add i2c EEPROM test.
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

spi-flash: FMC flash support
  boards/arm/ast1030_evb/fun_def_list.h
  drivers/flash/spi_nor_multi_dev.c
  drivers/spi/spi_aspeed.c
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/bindings/mtd/jedec,spi-nor-common.yaml
  samples/drivers/spi_flash_aspeed/src/main.c
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards, area: Samples

spi_flash: Build SPI flash driver on demo sample
  drivers/flash/Kconfig.multi_dev
  drivers/flash/spi_nor_multi_dev.c
  drivers/spi/Kconfig.aspeed
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Devicetree, area: SPI, area: Samples

tests: i2c: Add i2c IPMB test.
  tests/boards/ast1030/prj.conf
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

spi_flash: Add update test command in flash_shell.c
  drivers/flash/flash_shell.c
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Samples

drivers: i2c slave / shell: update ipmb usage
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  drivers/i2c/i2c_shell.c
  drivers/i2c/slave/ipmb_slave.c
  include/drivers/i2c/slave/ipmb.h
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: I2C, area: Boards, area: API, area: Samples

spi-flash: Revert spi_nor.c to the original one
  drivers/flash/spi_nor.c
Labels: none

samples: drivers: ipmi: Add conf and overlay for Aspeed BT
  samples/drivers/ipmi/aspeed/bt/boards/ast1030_evb.conf
  samples/drivers/ipmi/aspeed/bt/boards/ast1030_evb.overlay
  samples/drivers/ipmi/aspeed/bt/prj.conf
  samples/drivers/ipmi/aspeed/bt/sample.yaml
Labels: area: Samples

spi-flash: Add SPI flash CI test case
  tests/boards/ast1030/prj.conf
  tests/boards/ast1030/src/spi.c
Labels: area: Tests

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
