Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

drivers: crypto: cptra: revise driver registered msg
  drivers/crypto/cptra_ecdsa.c
  drivers/crypto/cptra_sha.c
Labels: none

boards: aspeed: ast2700_evb: enable prepend function name
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex_defconfig
Labels: area: Boards

soc: aspeed: ast27xx: add crypto selftest
  soc/aspeed/ast27xx/CMakeLists.txt
  soc/aspeed/ast27xx/crypto.c
  soc/aspeed/ast27xx/crypto.h
Labels: none

drivers: crypto: hace: combination refactoring
  boards/aspeed/ast1030_evb/ast1030_evb_defconfig
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/crypto_aspeed.c
  drivers/crypto/crypto_aspeed_priv.h
  drivers/crypto/crypto_shell.c
  drivers/crypto/hace_aspeed.c
  drivers/crypto/hace_aspeed.h
  drivers/crypto/hash_aspeed.c
  drivers/crypto/hash_aspeed_priv.h
  drivers/crypto/hash_shell.c
Labels: area: Boards

samples: ast1030_evb: demo: enable shells
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Samples

irot: ast2700: Add support for FMC CS0 read API
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex_defconfig
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.aspeed_ast2700
  drivers/spi/spi_aspeed_ast2700.c
  dts/bindings/spi/aspeed,spi-controller.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards

drivers: gpio: Set the pinmux for specific gpio
  drivers/gpio/gpio_aspeed.c
  drivers/gpio/gpio_aspeed.h
Labels: none

drivers: i2c: Update the enum xfer_mode name
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

irot: ast2700: Add add watchdog driver support
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex_defconfig
  drivers/watchdog/CMakeLists.txt
  drivers/watchdog/Kconfig
  drivers/watchdog/Kconfig.aspeed_g7
  drivers/watchdog/wdt_aspeed_g7.c
  dts/bindings/watchdog/aspeed,ast-watchdog-g7.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Watchdog, area: Devicetree, area: Devicetree Binding, area: Boards

drivers: crypto: cptra_ecdsa: revise DT macro usage
  drivers/crypto/cptra_ecdsa.c
Labels: none

dts: riscv: ast27xx: revise Caliptra related device nodes
  dts/bindings/crypto/aspeed,cptra-sha.yaml
  dts/bindings/misc/aspeed,cptra-mbox.yaml
  dts/bindings/misc/aspeed,cptra-update.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding

drivers: misc: aspeed: add Caliptra FW update driver support
  drivers/crypto/cptra_ecdsa.c
  drivers/crypto/cptra_sha.c
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_update.c
  include/zephyr/drivers/cptra.h
Labels: area: API

boards: aspeed: ast2700_ibex: enable cptra update device node
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex_defconfig
Labels: area: Devicetree, area: Boards

soc: ast27xx: Rename "ibex" to "bootmcu"
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_evb/Kconfig.defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  drivers/crypto/Kconfig.aspeed
  drivers/misc/aspeed/Kconfig
  drivers/timer/CMakeLists.txt
  drivers/timer/Kconfig.aspeed
  drivers/timer/ast2700_bootmcu_timer.c
  dts/bindings/timer/aspeed,ast2700-bootmcu-timer.yaml
  dts/riscv/aspeed/ast27xx.dtsi
  soc/aspeed/ast27xx/Kconfig
  soc/aspeed/ast27xx/Kconfig.defconfig
  soc/aspeed/ast27xx/Kconfig.defconfig.bootmcu
  soc/aspeed/ast27xx/Kconfig.soc
  soc/aspeed/soc.yml
Labels: area: Timer, area: Devicetree, area: Devicetree Binding, area: Boards

ast2700_evb: Add bootmcu cpu cluster
  boards/aspeed/ast2700_evb/board.yml
Labels: area: Boards

boards: ast2700_evb: Correct the board yaml files
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.yaml
  soc/aspeed/ast27xx/Kconfig.defconfig.ibex
Labels: area: Boards

boards: ast2700_evb: Correct the board identifier
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.yaml
Labels: area: Boards

drivers: crypto: add macro to instantiate device driver
  boards/aspeed/ast1030_evb/ast1030_evb.dts
  drivers/crypto/ecdsa_aspeed.c
  drivers/crypto/hace_aspeed.c
  drivers/crypto/rsa_aspeed.c
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Boards, area: Samples

drivers: gpio: Avoid to read the cmd_src_sel register
  drivers/gpio/gpio_aspeed.c
Labels: none

drivers: gpio: Avoid to read the cmd_src_sel register
  drivers/gpio/gpio_aspeed.c
Labels: none

dts: aspeed: Add i2c version property
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: i2c: Add i2c-version property fetching
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dts: aspeed: Add debounce-level into i2c propetry
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: i2c: Add debounce level setting
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

yaml: aspeed-i2c: Change the manual setting into optional
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: i2c: Remove manual timing setting
  drivers/i2c/i2c_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree, area: I2C

rename clock driver from cpu/io to scu0/1
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  drivers/clock_control/CMakeLists.txt
  drivers/clock_control/Kconfig.aspeed
  drivers/clock_control/clock_control_ast27xx_cpu.c
  drivers/clock_control/clock_control_ast27xx_io.c
  drivers/clock_control/clock_control_ast27xx_scu0.c
  drivers/clock_control/clock_control_ast27xx_scu1.c
  drivers/reset/reset_ast27xx.c
  dts/arm/aspeed/ast27xx-a0.dtsi
  dts/arm/aspeed/ast27xx.dtsi
  dts/bindings/clock/aspeed,ast27xx-scu0-clock.yaml
  dts/bindings/clock/aspeed,ast27xx-scu1-clock.yaml
  dts/riscv/aspeed/ast27xx.dtsi
  include/zephyr/dt-bindings/clock/ast27xx_clock.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API

drivers: crypto: cptra: add macro to instantiate device driver
  drivers/crypto/cptra_ecdsa.c
  drivers/crypto/cptra_sha.c
Labels: none

drivers: misc: aspeed: add driver to service trng req
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_ifc.c
Labels: none

dts: riscv: ast27xx: add cptra-ifc device node
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

boards: ast2700_evb: bootmcu: enable CPTRA_IFC config
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

drivers: entropy: aspeed_trng: use driver private data instead
  drivers/entropy/entropy_aspeed_trng.c
Labels: none

boards: ast2700_evb: bootmcu: enable ENTROPY configs
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

drivers: aspeed: cptra_update: remove trng polling request
  drivers/misc/aspeed/cptra_update.c
  dts/bindings/misc/aspeed,cptra-mbox.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding

drivers: i2c: Add ast2700 select clock function
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Add new master clear rule for ast2700
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

clk:add clock calculate.
  drivers/clock_control/clock_control_ast27xx_scu0.c
  drivers/clock_control/clock_control_ast27xx_scu1.c
  dts/arm/aspeed/ast27xx-a0.dtsi
  dts/arm/aspeed/ast27xx.dtsi
  dts/riscv/aspeed/ast27xx.dtsi
  include/zephyr/dt-bindings/reset/ast27xx_reset.h
Labels: area: Devicetree, area: API

defconfig: enable reset driver
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

sdhci: add reset, clock in config
  drivers/sdhc/aspeed_sdhci.c
  dts/bindings/sdhc/aspeed,sdhci.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: aspeed: Avoid to reinitialize the work
  drivers/i3c/i3c_aspeed.c
Labels: none
