Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

i2c: aspeed: Modify the i2c slave into i2c target
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

sample: ast1030_evb: Add i2c virtual target eeprom setting
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

drivers: interrupt_controller: Add Aspeed AST2700 INTC driver.
  drivers/interrupt_controller/CMakeLists.txt
  drivers/interrupt_controller/Kconfig
  drivers/interrupt_controller/Kconfig.aspeed
  drivers/interrupt_controller/intc_aspeed.c
  include/zephyr/drivers/interrupt_controller/intc_aspeed.h
Labels: area: API

borads: Enable interrupt controller.
  boards/arm/ast2700_fpga/ast2700_ssp_fpga_defconfig
  boards/arm/ast2700_fpga/ast2700_tsp_fpga_defconfig
Labels: area: Boards

boards: ast2700_fpga: Status okay in interrupt controller node.
  boards/arm/ast2700_fpga/ast2700_ssp_fpga.dts
  boards/arm/ast2700_fpga/ast2700_tsp_fpga.dts
Labels: area: Devicetree, area: Boards

i2c: aspeed: Add i2c target ipmb support
  drivers/i2c/i2c_aspeed_shell.c
  drivers/i2c/target/CMakeLists.txt
  drivers/i2c/target/Kconfig
  drivers/i2c/target/Kconfig.ipmb
  drivers/i2c/target/ipmb_target.c
  dts/bindings/i2c/aspeed,ipmb.yaml
  include/zephyr/drivers/i2c/target/ipmb.h
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: API

i2c: target: ipmb: Update for new api
  drivers/i2c/target/ipmb_target.c
Labels: area: I2C

smaple: ast1030_evb: Add i2c vitrual target ipmb setting
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

i2c: aspeed: Remove old mode timing setting
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dts: bindings: reset: ast27xx: revise cells' name
  dts/bindings/reset/aspeed,ast27xx-reset.yaml
Labels: area: Devicetree, area: Devicetree Binding

usb: aspeed: udc: Add ASPEED USB device controller support
  boards/arm/ast1030_evb/ast1030_evb.dts
  boards/arm/ast1030_evb/ast1030_evb.yaml
  drivers/usb/device/CMakeLists.txt
  drivers/usb/device/Kconfig
  drivers/usb/device/usb_dc_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/usb/aspeed,udc.yaml
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: Samples

drivers: reset: ast10x0: Use CONFIG_RESET_INIT_PRIORITY
  drivers/reset/reset_ast10x0.c
Labels: none

drivers: clock_control: ast10x0: Use CONFIG_CLOCK_CONTROL_INIT_PRIORITY
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

sample: ast1030_evb: Revise the i2c targets naming
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

wdt: aspeed: Add watchdog support
  drivers/watchdog/CMakeLists.txt
  drivers/watchdog/Kconfig
  drivers/watchdog/Kconfig.aspeed
  drivers/watchdog/wdt_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/watchdog/aspeed,ast-watchdog.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/src/demo_wdt.c
  soc/arm/aspeed/ast10x0/soc.c
Labels: area: Watchdog, area: Devicetree, area: Devicetree Binding, area: Samples

i2c: pfr: Add PFR (SMBus filter / SW mailbox) source code
  drivers/i2c/pfr/CMakeLists.txt
  drivers/i2c/pfr/Kconfig
  drivers/i2c/pfr/Kconfig.filter
  drivers/i2c/pfr/Kconfig.swmbx
  drivers/i2c/pfr/i2c_filter.c
  drivers/i2c/pfr/swmbx.c
  dts/bindings/i2c/aspeed,i2c-filter.yaml
  dts/bindings/i2c/aspeed,i2c-mbx.yaml
  include/zephyr/drivers/i2c/pfr/i2c_filter.h
  include/zephyr/drivers/i2c/pfr/swmbx.h
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: API

dts: aspeed: ast10x0: Add smbus filter node
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

driver: i2c: pfr: Add pfr smbus filter into config anf CMakeLists
  drivers/i2c/CMakeLists.txt
  drivers/i2c/Kconfig
  drivers/i2c/i2c_aspeed_shell.c
Labels: area: I2C

samples: ast1030_evb: Add filter support
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

drivers: i2c: Add PFR sw mailbox access
  drivers/i2c/i2c_aspeed_shell.c
  drivers/i2c/pfr/swmbx.c
Labels: area: I2C

i2c: pfr: Remove unuse device name
  drivers/i2c/pfr/swmbx.c
Labels: area: I2C

dts: aspeed: Add sw mailbox controller and device yaml
  dts/bindings/i2c/aspeed,swmbx-ctrl.yaml
  dts/bindings/i2c/aspeed,swmbx-dev.yaml
Labels: area: Devicetree, area: Devicetree Binding

i2c: target: Add i2c sw mailbox target support
  drivers/i2c/target/CMakeLists.txt
  drivers/i2c/target/Kconfig
  drivers/i2c/target/Kconfig.swmbx
  drivers/i2c/target/swmbx_target.c
Labels: area: I2C

dts: ast10x0: Add sw mailbox into dtsi file
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Samples

i2c: target: Fix the sw mailbox config typo
  drivers/i2c/i2c_aspeed_shell.c
  drivers/i2c/target/Kconfig.swmbx
Labels: area: I2C

sample: ast1030_evb: Remove unnecessary status setting
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

spi_flash: Add spi flash feature support
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/Kconfig.multi_dev
  drivers/flash/flash_shell.c
  drivers/flash/jesd216.c
  drivers/flash/spi_nor_multi_dev.c
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.aspeed
  drivers/spi/Kconfig.spi_monitor_aspeed
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/mtd/jedec,spi-nor-common.yaml
  dts/bindings/mtd/jedec,spi-nor.yaml
  dts/bindings/spi/aspeed,spi-controller.yaml
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/zephyr/drivers/flash.h
  include/zephyr/drivers/jesd216.h
  include/zephyr/drivers/misc/aspeed/abr_aspeed.h
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
  include/zephyr/drivers/spi.h
  include/zephyr/drivers/spi_nor.h
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API, area: Samples

spi_monitor: Fix build errors
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
Labels: area: SPI

watchdog: aspeed: Remove label dts property
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/watchdog/aspeed,ast-watchdog.yaml
  samples/boards/ast1030_evb/demo/src/demo_wdt.c
  soc/arm/aspeed/ast10x0/soc.c
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

misc: Add ABR and PFR shell support
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/abr_aspeed.c
  drivers/misc/aspeed/pfr_ast1060.c
  drivers/misc/aspeed/pfr_shell.c
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/src/main.c
Labels: area: Samples

i3c: aspeed: Reorganize the APIs for entering and exiting the HALT state
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Avoid the bus hang issue when ibi queue overflow.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Reduce the size of DAT related variables
  drivers/i3c/i3c_aspeed.c
Labels: none

dts: add a binding for Aspeed I3C controller
  dts/bindings/i3c/aspeed,i3c-global.yaml
  dts/bindings/i3c/aspeed,i3c.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: Add SETAASA CCC helper
  drivers/i3c/i3c_ccc.c
  include/zephyr/drivers/i3c/ccc.h
Labels: area: API

usb: aspeed: udc: Fix ASPEED UDC driver D-cache bug
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

drivers: crypto: hash: add cache invalidate after HW triggered
  drivers/crypto/hash_aspeed.c
Labels: none

drivers: interrupt_controller: Get INTC_RAW without intc number.
  drivers/interrupt_controller/intc_aspeed.c
Labels: none

Samples: ipm: Enable config_log.
  samples/drivers/ipm/ipm_aspeed/prj.conf
Labels: area: Samples

drivers: interrupt_controller: Set INTC_LOG_LEVEL to ERR.
  drivers/interrupt_controller/intc_aspeed.c
Labels: none

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
