Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

drivers: i2c mbx Add i2c mbx enable function
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers: i2c mbx Add notify / write protect function
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers: i2c mbx Add fifo enable function
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers: i2c mbx Add fifo apply / pirority function
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers: i2c mbx Update fifo isr function
  drivers/i2c/pfr/i2c_mailbox.c
Labels: area: I2C

reset.h: fix typo of additional ';'
  include/dt-bindings/reset/ast26xx_reset.h
Labels: area: Devicetree Binding, area: API

drivers: add aspeed i3c global driver
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/Kconfig.aspeed
  drivers/i3c/i3c_global_aspeed.c
  dts/bindings/i3c/aspeed,i3c-global.yaml
Labels: area: Devicetree, area: Devicetree Binding

clock: aspeed: remove i3c dma clock gating
  include/dt-bindings/clock/ast26xx_clock.h
Labels: area: Devicetree Binding, area: API

drivers: clock: rename aspeed 10x0 clock driver
  drivers/clock_control/clock_control_ast10x0.c
  dts/arm/aspeed/ast10x0.dtsi
  include/dt-bindings/clock/ast10x0_clock.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

drivers: aspeed: rename ast10x0 reset api
  dts/arm/aspeed/ast10x0.dtsi
  include/dt-bindings/reset/ast10x0_reset.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

dts: arm: aspeed: add i3c global controller device
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

clock: aspeed: add i3c clock rate
  drivers/clock_control/clock_control_ast10x0.c
  drivers/clock_control/clock_control_ast26xx.c
Labels: none

shell: gpio: Add the help description.
  drivers/gpio/gpio_shell.c
Labels: none

dts: arm: aspeed: add ast2600 i3c related pins
  boards/arm/ast2600_evb/fun_def_list.h
  dts/arm/aspeed/ast26xx-pinctrl.dtsi
  dts/arm/aspeed/ast26xx.dtsi
  soc/arm/aspeed/ast26xx/sig_def_list.h
Labels: area: Devicetree, area: Boards

soc: arm: aspeed: revise DEBUG_HALT macro
  soc/arm/aspeed/aspeed_util.h
Labels: none

dts: bindings: i3c: initial create i3c dt-binding files
  dts/bindings/i3c/aspeed,i3c.yaml
  dts/bindings/i3c/i3c-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: sort the Kconfig by its name
  drivers/Kconfig
Labels: none

drivers: i3c: initial create aspeed i3c driver
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/i3c_aspeed.c
Labels: none

dts: arm: aspeed: refactor format
  dts/arm/aspeed/ast10x0-irq.h
Labels: area: Devicetree

i3c: add aspeed ast10x0 i3c pin control
  boards/arm/ast1030_evb/fun_def_list.h
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/arm/aspeed/ast10x0.dtsi
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: area: Devicetree, area: Boards

ipmi: aspeed: Add inclusion header for KCS/BT
  drivers/ipmi/bt_aspeed.c
  drivers/ipmi/kcs_aspeed.c
  include/drivers/ipmi/bt_aspeed.h
  include/drivers/ipmi/kcs_aspeed.h
  samples/drivers/ipmi/aspeed/bt/src/main.c
  samples/drivers/ipmi/aspeed/kcs/src/main.c
Labels: area: API, area: Samples

drivers: hwinfo: aspeed: add soc revision id of ast1030A1
  drivers/hwinfo/hwinfo_aspeed.c
Labels: none

drivers: i3c: aspeed: add i3c master configuration parameters
  drivers/i3c/i3c_aspeed.c
  dts/arm/aspeed/ast26xx.dtsi
  dts/bindings/i3c/aspeed,i3c.yaml
  dts/bindings/i3c/i3c-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: i3c: aspeed: add more registers
  drivers/i3c/i3c_aspeed.c
Labels: none

shell: gpio: Add listen command for gpio interrupt
  drivers/gpio/gpio_shell.c
Labels: none

samples: drivers: ipmi: fix aspeed kcs build error
  samples/drivers/ipmi/aspeed/kcs/boards/ast1030_evb.conf
  samples/drivers/ipmi/aspeed/kcs/boards/ast1030_evb.overlay
  samples/drivers/ipmi/aspeed/kcs/prj.conf
  samples/drivers/ipmi/aspeed/kcs/sample.yaml
Labels: area: Samples

dts: arm: aspeed: fix build warning of the i3c global registers
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

boards: arm: ast2600_evb: enable CMSIS RTOS v2 by default
  boards/arm/ast2600_evb/ast2600_evb_defconfig
Labels: area: Boards

drivers: i3c: revise i3c engine initialization
  drivers/i3c/i3c_aspeed.c
Labels: none

tests: boards: ast1030: refine test framework
  tests/boards/ast1030/prj.conf
  tests/boards/ast1030/src/adc.c
  tests/boards/ast1030/src/ast_test.h
  tests/boards/ast1030/src/espi.c
  tests/boards/ast1030/src/gpio.c
  tests/boards/ast1030/src/i2c.c
  tests/boards/ast1030/src/i3c.c
  tests/boards/ast1030/src/jtag.c
  tests/boards/ast1030/src/main.c
  tests/boards/ast1030/src/peci.c
  tests/boards/ast1030/src/pwm_tach.c
  tests/boards/ast1030/src/spi.c
  tests/boards/ast1030/src/uart.c
  tests/boards/ast1030/src/usb.c
Labels: area: Tests

tests: boards: ast1030: add ft to do pre/post init
  tests/boards/ast1030/src/ast_test.h
  tests/boards/ast1030/src/ft.c
  tests/boards/ast1030/src/main.c
  tests/boards/ast1030/src/usb.c
Labels: area: Tests

boards: arm: ast2600_evb: add minicom runscript to download zephyr image
  boards/arm/ast2600_evb/tools/ast2600_download.runscript
Labels: area: Boards

tests: pwm/tach/adc: Fit refine test framework
  tests/boards/ast1030/src/adc.c
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Tests

tests: pwm_tach: Reduce fan test times.
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Tests

tests: boards: ast1030: remove ztest assert verbose setting
  tests/boards/ast1030/prj.conf
Labels: area: Tests

tests: pwm_tach: remove TEST_ROUND_EACH_CHANNEL.
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Tests

tests: boards: ast1030: refine termination test func
  tests/boards/ast1030/src/ast_test.h
  tests/boards/ast1030/src/main.c
Labels: area: Tests

spi-nor: Porting BFP and 4BAI parser
  boards/arm/ast1030_evb/fun_def_list.h
  drivers/flash/Kconfig.nor
  drivers/flash/jesd216.c
  drivers/flash/jesd216.h
  drivers/flash/spi_nor.c
  drivers/flash/spi_nor.h
  drivers/spi/spi_aspeed.c
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/bindings/flash_controller/flash-controller.yaml
  dts/bindings/mtd/jedec,spi-nor.yaml
  dts/bindings/spi/aspeed,spi-controller.yaml
  samples/drivers/jesd216/src/main.c
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards, area: Samples

spi-nor: Add spi-max-width property
  drivers/flash/spi_nor.c
  drivers/flash/spi_nor.h
  dts/bindings/mtd/jedec,spi-nor.yaml
Labels: area: Devicetree, area: Devicetree Binding

spi-nor: Separate parameter from CONFIG_SPI_NOR_SFDP_MINIMAL
  drivers/flash/spi_nor.c
Labels: none

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
