Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

dts: bindings: ast27xx_reset: Correct the UART resets
  include/zephyr/dt-bindings/reset/ast27xx_reset.h
Labels: area: API

spi_monitor: Solve problem for push-pull with enabling passthrough
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

spi_monitor: Solve problem for push-pull with enabling passthrough
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

dts: aspeed: Add uart6 reset property
  dts/arm/aspeed/ast27x0.dtsi
Labels: area: Devicetree

clock_control: ast27xx_io: Fix UART clock rates
  drivers/clock_control/clock_control_ast27xx_io.c
Labels: none

boards: ast2700_tsp_evb: Use uart4 as the console uart
  boards/arm/ast2700_evb/ast2700_tsp_evb.dts
Labels: area: Devicetree, area: Boards

drivers: serial: ns16550: Hot fix of the clock_subsys
  drivers/serial/uart_ns16550.c
Labels: none

i2c: aspeed: Fix the slave TX DMA base initiail flow
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i2c: aspeed: Fix the slave TX DMA base initiail flow
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

samples:boards:ast1060_evb:demo_dcscm fix compiling errors
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

spi_monitor: support to control external mux via multiple pins
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

dts: ipc: ast2600: Add Aspeed IPC node.
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

dts: ast2600: Add reserved memory for ipm rx and tx usage.
  boards/arm/ast2600_evb/ast2600_ssp_evb.dts
  dts/bindings/ipm/aspeed,ast2600-ipc.yaml
  samples/drivers/ipm/ipm_aspeed/boards/ast2600_ssp_evb.overlay
  soc/arm/aspeed/aspeed_util.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: Samples

driver: ipm: Add ast2600 driver code with sample.
  drivers/ipm/CMakeLists.txt
  drivers/ipm/Kconfig.aspeed
  drivers/ipm/ipm_ast2600.c
  samples/drivers/ipm/ipm_aspeed/Kconfig
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

dts: ast2600_ssp_evb: Override sdram1 size in IPM.
  boards/arm/ast2600_evb/ast2600_ssp_evb.dts
  dts/bindings/ipm/aspeed,ast2600-ipc.yaml
  samples/drivers/ipm/ipm_aspeed/boards/ast2600_ssp_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: Samples

dts: ast2700_evb: Fix the NC size and sync clock-frequency(uart4).
  boards/arm/ast2700_evb/ast2700_ssp_evb.dts
  boards/arm/ast2700_evb/ast2700_tsp_evb.dts
Labels: area: Devicetree, area: Boards

boards: aspeed: Remove CONFIG_BOOTLOADER_SRAM_SIZE=0
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast1060_evb/ast1060_evb_defconfig
  boards/arm/ast2700_evb/ast2700_ssp_evb_defconfig
  boards/arm/ast2700_evb/ast2700_tsp_evb_defconfig
Labels: area: Boards

drivers: intc_aspeed: Revise the API name
  drivers/interrupt_controller/intc_aspeed.c
  include/zephyr/drivers/interrupt_controller/intc_aspeed.h
Labels: area: API

wdt: aspeed: Enable WDT_ASPEED option if devices are enabled
  drivers/watchdog/Kconfig.aspeed
Labels: area: Watchdog

wdt: aspeed: Statically connect IRQs
  drivers/watchdog/wdt_aspeed.c
Labels: area: Watchdog

ipm: ast2600: Correct the irq connection macro
  drivers/ipm/ipm_ast2600.c
Labels: none

devicetree: Backport DT_INST_IRQN_BY_IDX
  include/zephyr/devicetree.h
Labels: area: API

sample: ipm: Refine code between ast2600 and ast2700.
  samples/drivers/ipm/ipm_aspeed/Kconfig
  samples/drivers/ipm/ipm_aspeed/sample.yaml
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

dts: ast27x0: Rename ipc to ipc_v2 for the new ipc in AST2700.
  drivers/ipm/Kconfig.aspeed
  drivers/ipm/ipm_ast2700.c
  dts/arm/aspeed/ast27x0.dtsi
  dts/arm/aspeed/ast27x0_ssp.dtsi
  dts/arm/aspeed/ast27x0_tsp.dtsi
  dts/bindings/ipm/aspeed,ast2700-ipc-v2.yaml
  dts/bindings/ipm/aspeed,ast2700-ipc.yaml
Labels: area: Devicetree, area: Devicetree Binding

dtsi: udc: Remove 'label' attribute of udc device tree
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

i3c: aspeed: Ignore IBA NACK error in do_ccc
  drivers/i3c/i3c_aspeed.c
Labels: none

samples: boards: ast1060_evb: Fix compile warning
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

i3c: shell: Add daa command
  drivers/i3c/i3c_shell.c
Labels: none

i3c: aspeed: Fix typo of the IBI_SIR_REQ_REJECT setting
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Fix incorrect DAA issue
  drivers/i3c/i3c_aspeed.c
Labels: none

i2c: aspeed: Remove redundant newline '\n'
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i3c: shell: Enable "tmq" only when CONFIG_I3C_TARGET_MQUEUE is on
  drivers/i3c/i3c_shell.c
Labels: none

i3c: aspeed: Reject priv_xfer if the DA is not assigned
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: i3c: specify start addr when searching for a free addr
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/i3c_cdns.c
  drivers/i3c/i3c_common.c
  include/zephyr/drivers/i3c/addresses.h
Labels: area: API

i3c: aspeed: Rework do_daa
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Add support of hot-join
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Skip ENTDAA if the targets associated with DAT are active
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: crypto: hash: add random size accumulative test
  drivers/crypto/hash_shell.c
Labels: none

drivers: crypto: hash: move cache invalidate at final stage
  drivers/crypto/hash_aspeed.c
Labels: none

samples: ast1030_evb: demo: enable crypto related configs
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Samples

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
