Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

soc: arm: ast2600: Add macro for I/D memory limit
  soc/arm/aspeed/ast26xx/soc.h
Labels: none

openamp: ast2600: Add demo code with dynamic resource table
  samples/subsys/ipc/openamp_ast26xx/CMakeLists.txt
  samples/subsys/ipc/openamp_ast26xx/Kconfig
  samples/subsys/ipc/openamp_ast26xx/README.rst
  samples/subsys/ipc/openamp_ast26xx/boards/ast2600_evb.conf
  samples/subsys/ipc/openamp_ast26xx/boards/ast2600_evb.overlay
  samples/subsys/ipc/openamp_ast26xx/prj.conf
  samples/subsys/ipc/openamp_ast26xx/sample.yaml
  samples/subsys/ipc/openamp_ast26xx/src/main.c
Labels: area: Samples, area: Documentation

soc: arm: aspeed: add ast1060a2 soc id
  soc/arm/aspeed/ast10x0/soc.c
Labels: none

soc: arm: aspeed: export SOC ID
  soc/arm/aspeed/aspeed_util.h
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast26xx/soc.c
Labels: none

dts: bindings: fix typo and format
  dts/bindings/clock/aspeed,ast10x0-clk.yaml
  include/dt-bindings/clock/ast10x0_clock.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

boards: arm: aspeed: enable HWINFO driver by default
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast1060_evb/ast1060_evb_defconfig
  boards/arm/ast2600_evb/ast2600_evb_defconfig
Labels: area: Boards

clk: ast10x0: set PCLK to 31.25M for AST1060A2
  drivers/clock_control/Kconfig.aspeed
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

otp: add 'invalid' function
  drivers/otp/otp_shell.c
Labels: none

drivers/crypto: add comment into Aspeed ecdsa driver
  drivers/crypto/ecdsa_aspeed.c
Labels: none

otp: add 'prog' subcommand
  drivers/otp/CMakeLists.txt
  drivers/otp/Kconfig.aspeed
  drivers/otp/otp_shell.c
  drivers/otp/sha256.c
  drivers/otp/sha256.h
Labels: none

dt-bindings: misc/aspeed-pcc: Add DMA ring buffer size property
  dts/bindings/misc/aspeed,pcc.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: misc/aspeed-pcc: Replace RX handling with callback function
  drivers/misc/aspeed/pcc_aspeed.c
  include/drivers/misc/aspeed/pcc_aspeed.h
Labels: area: API

samples: misc/aspeed-pcc: Revise to fit the callback scheme
  samples/drivers/misc/aspeed/pcc/boards/ast1030_evb.conf
  samples/drivers/misc/aspeed/pcc/boards/ast1030_evb.overlay
  samples/drivers/misc/aspeed/pcc/src/main.c
Labels: area: Samples

drivers: misc/aspeed-snoop: Replace RX handling with callback function
  drivers/misc/aspeed/snoop_aspeed.c
  include/drivers/misc/aspeed/snoop_aspeed.h
Labels: area: API

samples: misc/aspeed-snoop: Revise to use callback function
  samples/drivers/misc/aspeed/snoop/src/main.c
Labels: area: Samples

samples: ast1060_evb: demo_dcscm: add i3c2 slave device
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

drivers: misc/aspeed-pcc: Remove unused structure
  drivers/misc/aspeed/pcc_aspeed.c
Labels: none

drivers: i2c: Add slave irq handle condition
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: crypto: aspeed: add hmac support
  drivers/crypto/hace_aspeed.h
  drivers/crypto/hash_aspeed.c
  drivers/crypto/hash_aspeed_priv.h
  include/crypto/hash.h
  include/crypto/hash_structs.h
Labels: area: API

drivers: crypto: fix build warning
  drivers/crypto/crypto_aspeed.c
Labels: none

samples: ast1060_evb: demo_extmux: enable USB as DFU device
  boards/arm/ast1060_evb/ast1060_evb.dts
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Boards, area: Samples

drivers: otp: add otp info scu
  drivers/otp/otp_info_10xx.h
  drivers/otp/otp_shell.c
Labels: none

samples: ast1060_evb: demo_extmux: enable OTP cmds
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
Labels: area: Samples

drivers: otp: add otp info key for ecdsa
  drivers/otp/otp_shell.c
Labels: none

drivers: otp: export OTP read & program API
  drivers/otp/otp_shell.c
  soc/arm/aspeed/ast10x0/soc.h
Labels: none

subsys: usb: dfu: add different alternate download support
  include/dfu/flash_img.h
  subsys/dfu/img_util/flash_img.c
  subsys/usb/class/dfu/usb_dfu.c
Labels: area: API

samples: ast1060_evb: demo_dcscm/demo_passthrough: enable USB as DFU device
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
Labels: area: Samples

drivers: crypto: Add Aspeed AES/DES support
  drivers/crypto/crypto_aspeed.c
  include/crypto/cipher.h
  include/crypto/cipher_structs.h
Labels: area: API

crypto: add cavp shell commands
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/cavp_shell.c
Labels: none

flash: Enable QE bit in configuration register bit 1
  drivers/flash/spi_nor_multi_dev.c
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

drivers: gpio_shell: Support direction querying
  drivers/gpio/gpio_shell.c
Labels: none

api: gpio: add gpio direction query functions and driver api
  drivers/gpio/Kconfig
  drivers/gpio/gpio_handlers.c
  include/drivers/gpio.h
Labels: area: API

drivers: gpio: aspeed: Add support for gpio_port_get_direction
  drivers/gpio/gpio_aspeed.c
Labels: none

spi: monitor: Add initial value for the return variable
  drivers/spi/spi_monitor_shell.c
Labels: area: SPI

pinmux: aspeed: Fix the coverity warning
  drivers/pinmux/aspeed/pinmux_aspeed.c
Labels: none

drivers: i2c: Remove I2C_MSG_RECV_LEN check
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Arrange the switch case that doesn't have break
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Add default value that need be set into register
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: crypto: disable cavp shell by default
  drivers/crypto/Kconfig
Labels: none

drivers: crypto: cavp: add rsa commands
  drivers/crypto/cavp_shell.c
  drivers/crypto/rsa_aspeed.c
  include/crypto/rsa_structs.h
Labels: area: API
