Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

i3c: aspeed: Avoid to reinitialize the work
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: i2c: Sync the i2c slave irq handle
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

soc: aspeed: ast27xx: Correct the AST2700 system clock
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_tsp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp_defconfig
  soc/aspeed/ast27xx/Kconfig.defconfig.bootmcu
  soc/aspeed/ast27xx/Kconfig.defconfig.ssp
  soc/aspeed/ast27xx/Kconfig.defconfig.tsp
Labels: area: Boards

soc: ast27xx: crypto: fix no mbedtls config file build error
  soc/aspeed/ast27xx/crypto.c
Labels: none

boards: ast2700_evb: Remove CONFIG_SYS_CLOCK_EXIST
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

boards: ast2700_evb: configure SHELL_PROMPT_UART if SHELL is enabled
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_tsp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp_defconfig
Labels: area: Boards

drivers: i2c: Add multi-slave behavior support
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: intc_ast27xx: Change the SPDX license header
  drivers/interrupt_controller/intc_ast27xx.c
Labels: none

soc: ast27xx: Use DT_* macros to get the SCU and WDT
  soc/aspeed/ast27xx/soc.c
Labels: none

soc: ast27xx: Add macros to translate virtual/physical addresses
  soc/aspeed/ast27xx/soc.c
  soc/aspeed/ast27xx/soc.h
Labels: none

drivers: misc: aspeed: add cptra_mbox driver
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  drivers/crypto/cptra_ecdsa.c
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_mbox.c
  drivers/misc/aspeed/cptra_update.c
  include/zephyr/drivers/misc/aspeed/cptra_mbox.h
Labels: area: Boards, area: API

drivers: crypto: add Caliptra LMS driver support
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/cptra_lms.c
  dts/bindings/crypto/cptra-lms.yaml
  include/zephyr/crypto/lms.h
  include/zephyr/crypto/lms_structs.h
  include/zephyr/drivers/cptra.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

dts: riscv: ast27xx: add cptra-lms device node
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

boards: ast2700: bootmcu: enable CPTRA LMS configure
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Devicetree, area: Boards

drivers: i3c: shell: Add command to support target mqueue
  drivers/i3c/i3c_shell.c
Labels: none

prictrl: ast2700: Support privilege control driver
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/prictrl_aspeed.c
  drivers/misc/aspeed/prictrl_aspeed.h
  dts/bindings/misc/aspeed,prictrl.yaml
  dts/riscv/aspeed/ast27xx.dtsi
  include/zephyr/dt-bindings/misc/ast27xx_prictrl.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

dts: bindings: pinctrl: Add binding for Aspeed AST27xx soc1 pinctrl
  dts/arm/aspeed/ast27xx-pinctrl.dtsi
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl-groups.h
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl.h
Labels: area: Devicetree, area: API

drivers: pinctrl: Support Aspeed g7 soc1 pinctrl
  drivers/pinctrl/CMakeLists.txt
  drivers/pinctrl/Kconfig.aspeed
  drivers/pinctrl/pinctrl_aspeed_g7_soc1.c
  dts/bindings/pinctrl/aspeed,g7-soc1-pinctrl.yaml
  soc/aspeed/ast27xx/pinctrl_soc.h
Labels: area: Devicetree, area: Devicetree Binding

dts: arm: ast27xx: Add soc1 pinctrl node
  dts/arm/aspeed/ast27xx.dtsi
Labels: area: Devicetree

dts: riscv: ast27xx: Add soc1 pinctrl node
  dts/riscv/aspeed/ast27xx-pinctrl.dtsi
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

soc: ast27xx: bootmcu: Enable SYSCON
  soc/aspeed/ast27xx/Kconfig
  soc/aspeed/ast27xx/Kconfig.defconfig.bootmcu
Labels: none

soc: aspeed: ast27xx: defconfig: Enable pinctrl
  soc/aspeed/ast27xx/Kconfig.defconfig.bootmcu
  soc/aspeed/ast27xx/Kconfig.defconfig.ssp
  soc/aspeed/ast27xx/Kconfig.defconfig.tsp
Labels: none

drivers: aspeed: otp: rename mbedtls configure
  boards/aspeed/ast1030_evb/ast1030_evb_defconfig
  boards/aspeed/ast1060_evb/ast1060_evb_defconfig
  drivers/misc/aspeed/otp_aspeed.c
Labels: area: Boards

drivers: clock_control: Fix the register offset
  drivers/clock_control/clock_control_ast27xx_scu1.c
Labels: none

drivers: pinctrl: Fix the type of sig_desc property
  dts/bindings/pinctrl/aspeed,g7-soc1-pinctrl.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: aspeed: otp: rename mbedtls sha256 configure
  drivers/misc/aspeed/otp_aspeed.c
Labels: none

dt-bindings: ast27xx_reset: Correct UART reset indices for AST27xx
  include/zephyr/dt-bindings/reset/ast27xx_reset.h
Labels: area: API

dts: arm: ast27xx: Add UART7 node and its pin control
  dts/arm/aspeed/ast27xx-pinctrl.dtsi
  dts/arm/aspeed/ast27xx.dtsi
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl-groups.h
Labels: area: Devicetree, area: API

boards: ast2700_evb: Use UART7 for TSP console
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp_defconfig
Labels: area: Devicetree, area: Boards

dts: bindings: Add AST2700 irq-route-select enum value.
  dts/bindings/interrupt-controller/aspeed,ast2700-intc-global.yaml
Labels: area: Devicetree, area: Devicetree Binding

soc: ast27xx: Fix the intc select register usage
  soc/aspeed/ast27xx/irq_manage.c
Labels: none

boards: ast2700_evb: Remove UART4 node from TSP
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
Labels: area: Devicetree, area: Boards

spi_monitor: Fix potential race condition
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spim_isr.c
Labels: area: Samples

drivers: i2c: Remove wait i2c master state behavior
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Revert i2c driver back to early version
  drivers/i2c/i2c_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: I2C

i3c: aspeed: Support JESD403 timed reset
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: shell: Add the command to recovery bus
  drivers/i3c/i3c_shell.c
Labels: none

samples: boards: add ast2700_evb demo sample
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  drivers/entropy/random_shell.c
  samples/boards/ast2700_evb/demo/CMakeLists.txt
  samples/boards/ast2700_evb/demo/Kconfig
  samples/boards/ast2700_evb/demo/README.rst
  samples/boards/ast2700_evb/demo/boards/ast2700_evb.conf
  samples/boards/ast2700_evb/demo/boards/ast2700_evb.overlay
  samples/boards/ast2700_evb/demo/prj.conf
  samples/boards/ast2700_evb/demo/sample.yaml
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Devicetree, area: Boards, area: Samples, area: Documentation

dts: arm: aspeed: ast27xx_ssp: Fix IRQ status offset
  dts/arm/aspeed/ast27xx_ssp.dtsi
Labels: area: Devicetree

drivers: i2c_global: Change the driver initial stage into PRE_KERNEL_1
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C
