Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

dts: riscv: ast27xx: Add ipc nodes
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  dts/bindings/ipm/aspeed,bootmcu-ipc.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

drivers: ipm: aspeed: Add ipc driver for bootmcu
  drivers/ipm/CMakeLists.txt
  drivers/ipm/Kconfig.aspeed
  drivers/ipm/ipm_bootmcu.c
  include/zephyr/drivers/ipm.h
Labels: area: API

boards: aspeed: ast2700_evb: defconfig: Enable ipc
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

samples: borads: Add ipc in ast2700_evb demo
  samples/boards/ast2700_evb/demo/Kconfig
  samples/boards/ast2700_evb/demo/prj.conf
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

espi:aspeed:fix build errors and update safs app for ast2700 ssp
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
  drivers/espi/CMakeLists.txt
  drivers/espi/espi_aspeed_v2.c
  dts/arm/aspeed/ast27xx.dtsi
  dts/bindings/espi/aspeed,espi-v2.yaml
  samples/drivers/espi_aspeed/safs/CMakeLists.txt
  samples/drivers/espi_aspeed/safs/sample.yaml
  samples/drivers/espi_aspeed/safs/src/main.c
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: Samples

boards: aspeed: ast2700_evb: add cptra_dice device node
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

boards: aspeed: ast2700_evb: enable CPTRA_DICE config
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

drivers: misc: aspeed: add cptra dice driver
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_dice.c
  drivers/misc/aspeed/cptra_mbox.c
  dts/bindings/misc/aspeed,cptra-dice.yaml
  dts/riscv/aspeed/ast27xx.dtsi
  include/zephyr/drivers/cptra.h
  include/zephyr/drivers/misc/aspeed/cptra_mbox.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

drivers: misc: aspeed: cptra_ifc: reduce sleep time
  drivers/misc/aspeed/cptra_ifc.c
Labels: none

ipm: ast2700: Enhance callback handling and enablement for multiple IDs
  drivers/ipm/ipm_ast2700.c
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

dt-bindings: ast27xx_reset: Correct the reset IDs
  include/zephyr/dt-bindings/reset/ast27xx_reset.h
Labels: area: API

dt-bindings: ast27xx_clock: Fix typo of LTPI clocks
  include/zephyr/dt-bindings/clock/ast27xx_clock.h
Labels: area: API

drivers: reset_ast27xx: Exclude PCIE2 reset handling
  drivers/reset/reset_ast27xx.c
Labels: none

dts: Add LTPI dt-bindings
  dts/bindings/ltpi/aspeed,ast27xx-ltpi.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding

drivers: Add Aspeed AST27xx LTPI driver
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/ltpi/CMakeLists.txt
  drivers/ltpi/Kconfig
  drivers/ltpi/Kconfig.aspeed
  drivers/ltpi/ltpi_ast27xx.c
  include/zephyr/drivers/ltpi.h
Labels: area: API

drivers: ltpi: Introduce timeout mechanisim
  drivers/ltpi/ltpi_ast27xx.c
  include/zephyr/drivers/ltpi.h
Labels: area: API

samples: ast2700_evb: Enable LTPI devices for BootMCU
  samples/boards/ast2700_evb/demo/boards/ast2700_evb.conf
  samples/boards/ast2700_evb/demo/boards/ast2700_evb.overlay
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.conf
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.overlay
  samples/boards/ast2700_evb/demo/prj.conf
Labels: area: Samples

drivers: misc: aspeed: add more cptra dice driver api
  drivers/misc/aspeed/cptra_dice.c
  include/zephyr/drivers/cptra.h
  samples/boards/ast2700_evb/demo/prj.conf
Labels: area: API, area: Samples

drivers: ltpi_ast27xx: Remove 600MHz clock speed support
  drivers/ltpi/ltpi_ast27xx.c
Labels: none

drivers: ltpi_ast27xx: Refactor debug log
  drivers/ltpi/ltpi_ast27xx.c
Labels: none

ast27xx: Remove WDT reset mask configuration
  soc/aspeed/ast27xx/soc.c
Labels: none

ast27xx: Remove WDT reset mask register definition
  soc/aspeed/ast27xx/soc.c
Labels: none

aspeed: ast27xx: Add a delay after WDT register write for AST2700
  soc/aspeed/ast27xx/soc.c
Labels: none

boards: ast2700_evb: bootmcu: enable CPTRA_MISC config
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

drivers: misc: aspeed: add cptra_misc driver
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_misc.c
  dts/bindings/misc/aspeed,cptra-misc.yaml
  include/zephyr/drivers/cptra.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

dts: riscv: ast27xx: add cptra_misc device node
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Boards

soc: aspeed: ast27xx: add secp384r1 testcase
  soc/aspeed/ast27xx/crypto.h
Labels: none

drivers: ipm: Add data copying for IPC message handling
  drivers/ipm/ipm_ast2700.c
  drivers/ipm/ipm_bootmcu.c
Labels: none

dts: ast27xx: Rearrange device tree entrie by address order
  dts/arm/aspeed/ast27xx.dtsi
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

include: zephyr: drivers: add cptra dpe cmd data structure
  drivers/misc/aspeed/cptra_dice.c
  include/zephyr/drivers/cptra.h
  samples/boards/ast2700_evb/demo/prj.conf
Labels: area: API, area: Samples

soc: aspeed: ast27xx: crypto: update testcase digest
  soc/aspeed/ast27xx/crypto.c
  soc/aspeed/ast27xx/crypto.h
Labels: none

drivers: misc: aspeed: add cptra_ipc driver
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_ipc.c
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
Labels: area: API

boards: ast2700_evb: bootmcu: enable CONFIG_CPTRA_IPC
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

samples: ast2700_evb: demo: enable and register cptra ipc
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

drivers: ipm: ipm_bootmcu: fix missing id channel offset
  drivers/ipm/ipm_bootmcu.c
Labels: none

drivers: ipm: ipm_bootmcu: fix missing id channel offset
  drivers/ipm/ipm_ast2700.c
  drivers/ipm/ipm_bootmcu.c
Labels: none

drivers: espi: Fix the build warning.
  drivers/espi/espi_aspeed_v2.c
Labels: none

drivers: espi: Fix the build warning
  samples/drivers/espi_aspeed/safs/src/main.c
Labels: area: Samples

drivers: misc: aspeed: define log module
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_ipc.c
Labels: none

drivers: ipm: bootmcu: increase thread stack size
  drivers/ipm/ipm_bootmcu.c
Labels: none

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
