Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

drivers: i2c: add global right setting
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

i3c: aspeed: revise attach/deattach api
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

samples: drivers: i3c: add i2c mode test
  samples/drivers/i3c/src/main.c
Labels: area: Samples

drivers: misc/aspeed: Make snoop read nonblocking
  drivers/misc/aspeed/snoop_aspeed.c
Labels: none

samples: drivers/misc: Add sample code for Aspeed snoop
  samples/drivers/misc/aspeed/snoop/CMakeLists.txt
  samples/drivers/misc/aspeed/snoop/boards/ast1030_evb.conf
  samples/drivers/misc/aspeed/snoop/boards/ast1030_evb.overlay
  samples/drivers/misc/aspeed/snoop/prj.conf
  samples/drivers/misc/aspeed/snoop/sample.yaml
  samples/drivers/misc/aspeed/snoop/src/main.c
Labels: area: Samples

drivers: gpio: aspeed: Support permission lock.
  drivers/gpio/Kconfig.aspeed
  drivers/gpio/gpio_aspeed.c
Labels: none

drivers: i2c change i2c clk H/L ratio
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: espi_aspeed: Abort init on LPC platform
  drivers/espi/espi_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/espi/aspeed,espi.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: espi_aspeed: Remove timeout for non-blocking operations
  drivers/espi/espi_aspeed.c
Labels: none

dt-bindings: mbox_aspeed: Remove port property
  dts/bindings/misc/aspeed,mbox.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: misc/mbox_aspeed: Remove timeout for non-blocking operations
  drivers/misc/aspeed/mbox_aspeed.c
Labels: none

samples: drivers/misc: Add sample code for Aspeed mailbox
  samples/drivers/misc/aspeed/mailbox/CMakeLists.txt
  samples/drivers/misc/aspeed/mailbox/boards/ast1030_evb.conf
  samples/drivers/misc/aspeed/mailbox/boards/ast1030_evb.overlay
  samples/drivers/misc/aspeed/mailbox/prj.conf
  samples/drivers/misc/aspeed/mailbox/sample.yaml
  samples/drivers/misc/aspeed/mailbox/src/main.c
Labels: area: Samples

drivers: i3c: correct the return value
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers:i3c:aspeed: correct the queue threshold setting
  drivers/i3c/i3c_aspeed.c
Labels: none

tests: espi: Add eSPI FT test
  tests/boards/ast1030/src/espi.c
Labels: area: Tests

drivers: i3c: aspeed: setup slave static address
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers:i3c:aspeed: add slave isr
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: i3c: aspeed: add error handling for error response
  drivers/i3c/i3c_aspeed.c
Labels: none

dts: bindings: i3c: rename "assigned-addr" to "assingned-address"
  drivers/i3c/i3c_aspeed.c
  dts/bindings/i3c/aspeed,i3c.yaml
  samples/drivers/i3c/boards/ast1030_evb.overlay
  samples/drivers/i3c/boards/ast2600_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

drivers: i3c: aspeed: bugfix of incoreect DAT offset calculation
  drivers/i3c/i3c_aspeed.c
Labels: none

samples/drivers/i3c: add i3c loopback sample
  samples/drivers/i3c/Kconfig
  samples/drivers/i3c/loopback.overlay
  samples/drivers/i3c/overlay-imx3102.conf
  samples/drivers/i3c/overlay-loopback.conf
  samples/drivers/i3c/src/main.c
Labels: area: Samples

spi: aspeed: Porting aspeed_spi_nor_read_init function
  drivers/spi/spi_aspeed.c
Labels: area: SPI

gpio: aspeed: Make driver support multiple inst.
  drivers/gpio/gpio_aspeed.c
Labels: none

spi-flash: HW SFAS support
  drivers/spi/spi_aspeed.c
Labels: area: SPI

spi-flash: Add timing calibration function
  drivers/spi/spi_aspeed.c
Labels: area: SPI

drivers/i3c/aspeed: add i3c slave registration api
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

dts/bindings/i3c: add i3c slave mqueue bindings
  dts/bindings/i3c/aspeed,i3c-slave-mqueue.yaml
  dts/bindings/i3c/i3c-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers/i3c/slave: add i3c slave mqueue driver
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/slave/CMakeLists.txt
  drivers/i3c/slave/Kconfig
  drivers/i3c/slave/Kconfig.i3c_slave_mqueue
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

samples/drivers/i3c: revise i3c loopback sample
  samples/drivers/i3c/loopback.overlay
  samples/drivers/i3c/overlay-loopback.conf
  samples/drivers/i3c/prj.conf
  samples/drivers/i3c/src/main.c
Labels: area: Samples

drivers/i3c/aspeed: add ibi control registers
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers/i3c/aspeed: add ibi length IOP fix
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: i2c-filter mailbox: remove static
  drivers/i2c/pfr/i2c_filter.c
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_filter.h
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

spi-flash: Restore SPI flash controller setting
  drivers/spi/spi_aspeed.c
Labels: area: SPI

drivers/i3c/slave: revise dt-binding of the slave mqueue driver
  drivers/i3c/slave/i3c_slave_mqueue.c
  dts/bindings/i3c/aspeed,i3c-slave-mqueue.yaml
  samples/drivers/i3c/loopback.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

drivers/i3c: add common api layer
  drivers/i3c/CMakeLists.txt
  drivers/i3c/i3c_common.c
Labels: none

drivers/i3c: add macros for ibi init and access
  include/drivers/i3c/i3c.h
Labels: area: API

drivers: gpio: aspeed: Always set legacy cmd src.
  drivers/gpio/gpio_aspeed.c
Labels: none

samples/drivers/i3c: use i3c common api istead of aspeed i3c HAL
  include/drivers/i3c/i3c.h
  samples/drivers/i3c/src/main.c
Labels: area: API, area: Samples

drivers/i3c/aspeed: fix typo of the part id field of the PID
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers/i3c: add api for slave device sending SIR
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/slave/i3c_slave_mqueue.c
  include/drivers/i3c/i3c.h
Labels: area: API
