Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

samples: ast1030_evb: Add sample to demo full function
  samples/boards/ast1030_evb/demo/CMakeLists.txt
  samples/boards/ast1030_evb/demo/README.rst
  samples/boards/ast1030_evb/demo/prj.conf
  samples/boards/ast1030_evb/demo/sample.yaml
  samples/boards/ast1030_evb/demo/src/main.c
Labels: area: Samples, area: Documentation

dts: ast10x0: Fix the chosen of shell uart.
  boards/arm/ast1030_evb/ast1030_evb.dts
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Devicetree, area: Boards, area: Samples

dts: ast10x0: Remain mandatory device node.
  boards/arm/ast1030_evb/ast1030_evb.dts
Labels: area: Devicetree, area: Boards

samples: ast1030_evb: Add board's conf and overlay
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Samples

tests: boards: ast1030: add ast1030_evb configs & dts overlay
  tests/boards/ast1030/boards/ast1030_evb.conf
  tests/boards/ast1030/boards/ast1030_evb.overlay
  tests/boards/ast1030/prj.conf
Labels: area: Tests

boards: arm: aspeed: add uart download scripts
  boards/arm/ast1030_evb/tools/ast1030_uart_download.sh
  boards/arm/ast1030_evb/tools/ast1030_uart_download.ttl
Labels: area: Boards

boards: arm: aspeed: Add script to download ast2600 image via uart
  boards/arm/ast2600_evb/tools/ast2600_uart_download.ttl
Labels: area: Boards

board: arm: aspeed: modify the default image path
  boards/arm/ast1030_evb/tools/ast1030_uart_download.sh
  boards/arm/ast1030_evb/tools/ast1030_uart_download.ttl
  boards/arm/ast2600_evb/tools/ast2600_uart_download.ttl
Labels: area: Boards

drivers: i2c-filter
  drivers/i2c/CMakeLists.txt
  drivers/i2c/Kconfig
  drivers/i2c/pfr/CMakeLists.txt
  drivers/i2c/pfr/Kconfig
  drivers/i2c/pfr/Kconfig.filter
  drivers/i2c/pfr/i2c_filter.c
  dts/bindings/i2c/aspeed,i2c-filter.yaml
  include/drivers/i2c/pfr/i2c_filter.h
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: API

drivers: i2c-filter
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

drivers: i2c-filter
  drivers/i2c/pfr/i2c_filter.c
  include/drivers/i2c/pfr/i2c_filter.h
Labels: area: I2C, area: API

dts: arm: ast10x0: update udc reg range
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

usb: enable 8-bit mode UTMI
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

adc: aspeed: Change the method of cv use.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

boards: arm: ast2600_evb: correct the uart-shell device name
  boards/arm/ast2600_evb/ast2600_evb.dts
  boards/arm/ast2600_evb/ast2600_evb_defconfig
  boards/arm/ast2600_evb/ast2605_evb.dts
  boards/arm/ast2600_evb/ast2605_evb_defconfig
Labels: area: Devicetree, area: Boards

boards: arm: ast2600_evb: cleanup configurations
  boards/arm/ast2600_evb/ast2600_evb_defconfig
  boards/arm/ast2600_evb/ast2605_evb_defconfig
Labels: area: Boards

drivers: i2c-filter
  drivers/i2c/pfr/i2c_filter.c
  include/drivers/i2c/pfr/i2c_filter.h
Labels: area: I2C, area: API

drivers: cache: aspeed: add CONFIG_CACHE_ASPEED_FIXUP_INVALID
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_aspeed.c
Labels: none

tests: adc: Add 2 adc test cases.
  tests/boards/ast1030/src/adc.c
  tests/boards/ast1030/src/main.c
Labels: area: Tests

boards: ast1030_evb: Change the priority of shell
  samples/boards/ast1030_evb/demo/prj.conf
  tests/boards/ast1030/prj.conf
Labels: area: Samples, area: Tests

drivers: update license header for aspeed devices
  drivers/adc/Kconfig.aspeed
  drivers/clock_control/Kconfig.aspeed
  drivers/espi/Kconfig.aspeed
  drivers/gpio/Kconfig.aspeed
  drivers/i2c/Kconfig.aspeed
  drivers/ipmi/Kconfig
  drivers/ipmi/Kconfig.aspeed
  drivers/jtag/Kconfig.aspeed
  drivers/peci/Kconfig.aspeed
  drivers/pinmux/Kconfig.aspeed
  drivers/pwm/Kconfig.aspeed
  drivers/reset_control/Kconfig.aspeed
  drivers/spi/Kconfig.aspeed
Labels: area: PWM, area: ADC, area: I2C, area: SPI

drivers: cache: aspeed: add license header
  drivers/cache/cache_aspeed.c
Labels: none

pwm: aspeed: Add option to improve pwm accurate.
  drivers/pwm/Kconfig.aspeed
  drivers/pwm/aspeed/pwm_aspeed.c
Labels: area: PWM

test: Merge pwm.c/tach.c to pwm_tach.c
  tests/boards/ast1030/src/main.c
  tests/boards/ast1030/src/pwm_tach.c
  tests/boards/ast1030/src/tach.c
Labels: area: Tests

sensor: tach: Replace 0 to n for device delcare
  drivers/sensor/aspeed/tach_aspeed.c
Labels: none

tests: pwm/tach: Add 3 pwm/tach test cases
  tests/boards/ast1030/boards/ast1030_evb.conf
  tests/boards/ast1030/boards/ast1030_evb.overlay
  tests/boards/ast1030/src/main.c
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Tests

drivers: i2c-filter
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

drivers: i2c
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

tests: adc: Change the golden pattern.
  tests/boards/ast1030/src/adc.c
Labels: area: Tests

dts: bindings: Add two property for aspeed gpio
  dts/bindings/gpio/aspeed,gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

gpio: aspeed: Support the new property.
  drivers/gpio/gpio_aspeed.c
Labels: none

bindings: aspeed,gpio: Remove unnecessary required
  drivers/gpio/gpio_aspeed.c
  dts/bindings/gpio/aspeed,gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: i2c Add check for slave register
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: clock: add aspeed ast10x0 clock on/off api
  drivers/clock_control/clock_control_ast10x0.c
  dts/arm/aspeed/ast10x0.dtsi
  include/dt-bindings/clock/ast1030_clock.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

reset.h: correct the naming of the as1030 soc devices.
  include/dt-bindings/reset/ast1030_reset.h
Labels: area: Devicetree Binding, area: API

reset.h: correct LPC reset bit
  include/dt-bindings/reset/ast26xx_reset.h
Labels: area: Devicetree Binding, area: API

drivers: i2c mbx Add i2c mbx related files
  drivers/i2c/pfr/CMakeLists.txt
  drivers/i2c/pfr/Kconfig
  drivers/i2c/pfr/Kconfig.mailbox
  drivers/i2c/pfr/i2c_mailbox.c
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c-mbx.yaml
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: API

drivers: i2c mbx Add i2c mbx slave address function
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

dts: arm: aspeed: Add gpio node for ast26xx
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

drivers: jtag: Fix the default frequency
  drivers/jtag/jtag_aspeed.c
Labels: none
