Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

sample: ast1060: Add i2c filter demo
  samples/boards/ast1060_evb/demo_extmux/src/demo_i2c_filter.c
  samples/boards/ast1060_evb/demo_extmux/src/main.c
Labels: area: Samples

i3c: fix typo
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
  samples/drivers/i3c/src/main.c
  tests/boards/ast1030/src/i3c.c
Labels: area: API, area: Samples, area: Tests

drivers:i2c:shell:Fix the spell typo
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: i2c: global: Add iniitial SRAM value
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

Cerberus Verification Implemenation
  drivers/crypto/rsa_aspeed.c
  lib/ami_middleware/crypto/rsa_aspeed.c
  lib/ami_middleware/crypto/rsa_aspeed.h
  lib/ami_middleware/flash/flash_aspeed.c
  scripts/dts/python-devicetree/src/devicetree/__pycache__/__init__.cpython-36.pyc
  scripts/dts/python-devicetree/src/devicetree/__pycache__/dtlib.cpython-36.pyc
  scripts/dts/python-devicetree/src/devicetree/__pycache__/edtlib.cpython-36.pyc
  scripts/dts/python-devicetree/src/devicetree/__pycache__/grutils.cpython-36.pyc
  scripts/kconfig/__pycache__/kconfigfunctions.cpython-36.pyc
  scripts/kconfig/__pycache__/kconfiglib.cpython-36.pyc
  tektagon/prj.conf
  tektagon/src/common/common.c
  tektagon/src/common/common.h
  tektagon/src/engineManager/engine_manager.c
  tektagon/src/imageVerification/image_verify.c
  tektagon/src/imageVerification/image_verify.h
  tektagon/src/main.c
  tektagon/src/manifestProcessor/manifestProcessor.c
Labels: area: Devicetree Tooling, area: Kconfig

otp: remove deprecated otp config
  boards/arm/ast1030_evb/otp_config/1030A0_RSA2048_SHA256_o2_priv.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA3072_SHA384_o2_priv.json
  boards/arm/ast1030_evb/otp_config/1030A0_RSA4096_SHA512_o2_priv.json
  boards/arm/ast1060_evb/otp_config/1030A0_RSA2048_SHA256_o2_priv.json
  boards/arm/ast1060_evb/otp_config/1030A0_RSA3072_SHA384_o2_priv.json
  boards/arm/ast1060_evb/otp_config/1030A0_RSA4096_SHA512_o2_priv.json
Labels: area: Boards

crypto: Add crypto test
  tests/boards/ast1030/prj.conf
  tests/boards/ast1030/src/crypto.c
  tests/boards/ast1030/src/main.c
Labels: area: Tests

drivers: otp: Add Aspeed OTP control register
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/otp/CMakeLists.txt
  drivers/otp/Kconfig.aspeed
  drivers/otp/otp_info_10xx.h
  drivers/otp/otp_shell.c
  drivers/otp/sha256.c
  drivers/otp/sha256.h
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
Labels: area: Samples

Fix Signature Verification issues
  drivers/crypto/rsa_aspeed.c
  drivers/crypto/rsa_shell.c
  lib/ami_middleware/crypto/rsa_aspeed.c
  lib/ami_middleware/crypto/rsa_aspeed.h
  tektagon/src/common/common.c
  tektagon/src/imageVerification/image_verify.c
Labels: none

Fix Signature Verification issues
  scripts/dts/python-devicetree/src/devicetree/__pycache__/__init__.cpython-36.pyc
  scripts/dts/python-devicetree/src/devicetree/__pycache__/dtlib.cpython-36.pyc
  scripts/dts/python-devicetree/src/devicetree/__pycache__/edtlib.cpython-36.pyc
  scripts/dts/python-devicetree/src/devicetree/__pycache__/grutils.cpython-36.pyc
  scripts/kconfig/__pycache__/kconfigfunctions.cpython-36.pyc
  scripts/kconfig/__pycache__/kconfiglib.cpython-36.pyc
  tektagon/src/manifestProcessor/manifestProcessor.c
Labels: area: Devicetree Tooling, area: Kconfig

drivers/crypto: return rsa result length
  drivers/crypto/rsa_aspeed.c
Labels: none

drivers/crypto: Add sample code for RSA verify
  drivers/crypto/rsa_shell.c
Labels: none

verification issue fixed
  tektagon/src/common/common.c
  tektagon/src/common/common.h
  tektagon/src/main.c
  tektagon/src/manifestProcessor/manifestProcessor.c
  tektagon/src/manifestProcessor/manifestProcessor.h
Labels: none

drivers:swmbx:Add swmbx support
  drivers/i2c/i2c_shell.c
  drivers/i2c/slave/CMakeLists.txt
  drivers/i2c/slave/Kconfig
  drivers/i2c/slave/Kconfig.swmbx
  drivers/i2c/slave/swmbx_slave.c
  dts/bindings/i2c/aspeed,swmbx.yaml
  include/drivers/i2c/slave/swmbx.h
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: API, area: Samples

drivers:swmbx:Add swmbx fifo update function
  drivers/i2c/slave/swmbx_slave.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers: misc/aspeed: Add FIFO support for snoop
  drivers/misc/aspeed/snoop_aspeed.c
Labels: none

usb: aspeed: add dfu upload support
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

drivers:swmbx:Fix the apply protect function typo
  drivers/i2c/slave/swmbx_slave.c
Labels: area: I2C

drivers:swmbx:Add swmbx read / write functions.
  drivers/i2c/i2c_shell.c
  drivers/i2c/slave/swmbx_slave.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers:swmbx:Add enter critical section for sw mbx read / write
  drivers/i2c/slave/swmbx_slave.c
Labels: area: I2C

Alpha Release
  lib/ami_middleware/crypto/rsa_aspeed.c
  tektagon/src/engineManager/engine_manager.c
  tektagon/src/imageVerification/image_verify.c
  tektagon/src/include/definitions.h
  tektagon/src/main.c
  tektagon/src/manifestProcessor/manifestProcessor.c
  tektagon/src/manifestProcessor/manifestProcessor.h
Labels: none

drivers:swmbx:Add fifo behavior into i2c slave swmbx
  drivers/i2c/slave/swmbx_slave.c
Labels: area: I2C

drivers:swmbx:Update read request behavior
  drivers/i2c/slave/swmbx_slave.c
Labels: area: I2C

drivers:i2c:shell:Add swmbx fifo interface sample
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers:swmbx:Add fifo empty / full semaphore behavior
  drivers/i2c/slave/swmbx_slave.c
Labels: area: I2C

drivers:i2c:shell:Add thread for swmbx fifo
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers:swmbx:Add fifo behavior into swmbx write / read api
  drivers/i2c/slave/swmbx_slave.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers:i2c:shell:Add fifo control for swmbx read / write api
  drivers/i2c/i2c_shell.c
Labels: area: I2C

ipmi: kcs_aspeed: Fix the missing break
  drivers/ipmi/kcs_aspeed.c
Labels: none

board: arm: aspeed: add boot from uart image python script
  soc/arm/aspeed/ast10x0/tools/gen_uart_booting_image.py
Labels: none

soc: arm: aspeed: use python tool instead of shell script
  soc/arm/aspeed/ast10x0/CMakeLists.txt
  soc/arm/aspeed/ast10x0/tools/gen_uart_booting_image.sh
Labels: none

drivers: swmbx: Add fifo flush behavior api
  drivers/i2c/slave/swmbx_slave.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers: i2c: shell: Add fifo flush behavior usage
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: swmbx: Update the fifo notify behavior
  drivers/i2c/slave/swmbx_slave.c
  include/drivers/i2c/slave/swmbx.h
Labels: area: I2C, area: API

drivers: i2c: shell: Update the fifo notify behavior
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: i2c: Fix the hang issue when the transfer size is zero
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

soc: arm: aspeed: add gen uart boot image tool
  soc/arm/aspeed/ast10x0/tools/gen_uart_booting_image.sh
Labels: none

drivers: i2c: Update i2c bus calculation formula
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

dtsi: ast10x0: Disable 1-2-2 SPI flash mode
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

adc: aspeed: Get and set trimming data.
  drivers/adc/aspeed/adc_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/adc/aspeed,adc.yaml
Labels: area: ADC, area: Devicetree, area: Devicetree Binding
