Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

ast27xx: Solve build error without wdt0
  soc/aspeed/ast27xx/soc.c
Labels: none

soc: aspeed: ast10x0_g2: Fix CM4 DMA virt<->phys translation windows
  soc/aspeed/ast10x0_g2/soc.c
Labels: none

wdt: ast10x0-g2: Add watchdog driver support
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  drivers/watchdog/Kconfig.aspeed
  drivers/watchdog/wdt_aspeed.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/watchdog/aspeed,ast10x0-g2-watchdog.yaml
  soc/aspeed/ast10x0_g2/soc.c
Labels: area: Watchdog, area: Devicetree, area: Devicetree Binding, area: Boards

wdt: aspeed: Rename AST2700 internal symbols for consistency
  drivers/watchdog/wdt_aspeed.c
Labels: area: Watchdog

dts: Add SRAM node for AST2700 BootMCU
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_bootmcu.dts
  boards/aspeed/ast2700_haps/ast2700_haps_ast2700_bootmcu.dts
  boards/aspeed/ast2755_evb/ast2755_evb_ast2700_bootmcu.dts
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_a1_bootmcu.overlay
  samples/hello_world/ast2700_evb_ast2700_bootmcu.overlay
Labels: area: Devicetree, area: Boards, area: Samples

dts: ast27xx: extend i2c dtsi setting
  dts/arm/aspeed/ast27xx.dtsi
Labels: area: Devicetree

dtsi: ast10x0-g2: update and extend i2c controller setting
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

dtsi: ast10x0-g2: add SMBus filter pin ctrl setting
  dts/arm/aspeed/ast10x0-g2-pinctrl.dtsi
Labels: area: Devicetree

dt-bingings: ast10x0-g2: add SMBus filter group
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl-groups.h
Labels: area: API

dtsi: ast10x0-g2: fix the filter setting typo
  dts/arm/aspeed/ast10x0-g2-pinctrl.dtsi
Labels: area: Devicetree

drv: i2c_filter: add more irq hooks
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

dtsi: ast10x0-g2: add SMBus filter setting into ast10x0-g2
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

dts: ast1080_evb_cm4: enable SMBus filter node
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
Labels: area: Devicetree, area: Boards

drivers: misc: otp_ast2700: add A2_OTP_ROM_PATCH_V6 support
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

dts: aspeed: ast27xx: Add full pinctrl pin nodes and group macros
  dts/arm/aspeed/ast27xx-pinctrl.dtsi
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl-groups.h
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl.h
Labels: area: Devicetree, area: API

spi: aspeed: Add AST10X0_G2 CM4 FMC/SPI controller support
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  drivers/spi/spi_aspeed.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/spi/aspeed,ast10x0-g2-spi-controller.yaml
  dts/bindings/spi/aspeed,ast10x0-g2-spi-lite-controller.yaml
  dts/riscv/aspeed/ast1040.dtsi
  dts/riscv/aspeed/ast1080.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards

spi_nor_multi_dev: Fix MXIC quad PP fixup applied regardless of bus width
  drivers/flash/spi_nor_multi_dev.c
Labels: none

dtsi: ast10x0-g2: add software mailbox controller define
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

i2c: i2c_global_aspeed: update the mailbox base
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

include: swmbx: update the software mailbox base
  include/zephyr/drivers/i2c/pfr/swmbx.h
Labels: area: API

dts: ast1080_evb_cm4: turn on the software mailbox
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
Labels: area: Devicetree, area: Boards

dts: ast2700_evb_bootmcu: add SRAM write protection to prictrl
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

usb: aspeed: udc: Add clock and pinctrl setup
  drivers/usb/device/Kconfig
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

dts: ast10x0-g2: add USB UDC support
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  dts/arm/aspeed/ast10x0-g2-pinctrl.dtsi
  dts/arm/aspeed/ast10x0-g2.dtsi
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl-groups.h
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl.h
Labels: area: Devicetree, area: Boards, area: API

drivers: udc: aspeed: add USB device controller driver
  drivers/usb/udc/CMakeLists.txt
  drivers/usb/udc/Kconfig
  drivers/usb/udc/Kconfig.aspeed
  drivers/usb/udc/udc_aspeed.c
  dts/bindings/usb/aspeed,udc.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: cache: ast27xx: Fix invd range no-op + flush stubs
  drivers/cache/cache_ast27xx.c
Labels: none

soc: aspeed: ast27xx: Wait for INTC1 reset deassert before access
  soc/aspeed/ast27xx/irq_manage.c
Labels: none

drivers: misc: otp_ast2700: dump vendor key hash and ROM info on init
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

dts: aspeed: ast10x0-g2: Add eSPI controller node
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

espi: aspeed: Fix build error when flash-edaf-tgt-addr is absent
  drivers/espi/espi_aspeed_v2.c
Labels: none

espi: aspeed: Fix flash channel read/write/erase operations
  drivers/espi/espi_aspeed_v2.c
Labels: none

drivers: i3c: dummy_device: Configure IBI before enabling it
  drivers/i3c/i3c_dummy_device.c
  dts/bindings/i3c/i3c-dummy-device.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: aspeed: ast27xx: Add I3C HCI nodes
  dts/arm/aspeed/ast27xx.dtsi
Labels: area: Devicetree

dts: aspeed: ast10x0-g2: Add I3C0..I3C7 nodes
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

tests: drivers: i3c: Add controller/target loopback test
  tests/drivers/i3c/loopback/CMakeLists.txt
  tests/drivers/i3c/loopback/boards/ast1040_evb_ast1040_cm4.overlay
  tests/drivers/i3c/loopback/boards/ast1080_evb_ast1080_cm4.overlay
  tests/drivers/i3c/loopback/boards/ast2700_evb_ast2700_ssp.overlay
  tests/drivers/i3c/loopback/prj.conf
  tests/drivers/i3c/loopback/src/main.c
  tests/drivers/i3c/loopback/testcase.yaml
Labels: area: Tests

drivers: i3c: Add MIPI I3C HCI driver port
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/mipi_hci/CMakeLists.txt
  drivers/i3c/mipi_hci/Kconfig
  drivers/i3c/mipi_hci/cmd.h
  drivers/i3c/mipi_hci/cmd_v1.c
  drivers/i3c/mipi_hci/cmd_v2.c
  drivers/i3c/mipi_hci/core.c
  drivers/i3c/mipi_hci/dat.h
  drivers/i3c/mipi_hci/dat_v1.c
  drivers/i3c/mipi_hci/dct.h
  drivers/i3c/mipi_hci/dct_v1.c
  drivers/i3c/mipi_hci/dma.c
  drivers/i3c/mipi_hci/ext_caps.c
  drivers/i3c/mipi_hci/ext_caps.h
  drivers/i3c/mipi_hci/hci.h
  drivers/i3c/mipi_hci/hci_quirks.c
  drivers/i3c/mipi_hci/ibi.h
  drivers/i3c/mipi_hci/pio.c
  drivers/i3c/mipi_hci/target.c
  drivers/i3c/mipi_hci/xfer_mode_rate.h
  dts/bindings/i3c/mipi,i3c-hci.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: i3c: mipi_hci: Add ASPEED G7 vendor extensions
  drivers/i3c/mipi_hci/CMakeLists.txt
  drivers/i3c/mipi_hci/Kconfig
  drivers/i3c/mipi_hci/vendor_aspeed.c
  drivers/i3c/mipi_hci/vendor_aspeed.h
  dts/bindings/i3c/aspeed,g7-i3c-hci.yaml
Labels: area: Devicetree, area: Devicetree Binding

dtsi: ast10x0-g2: Update espi0 node and add ast1040 espi binding
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/espi/aspeed,espi-ast1040.yaml
  dts/bindings/espi/aspeed,espi-v2.yaml
Labels: area: Devicetree, area: Devicetree Binding

espi: aspeed: Fix and extend peripheral channel memory cycle handling for AST1040
  drivers/espi/espi_aspeed_v2.c
Labels: none

espi: aspeed: Add non-posted rx support
  drivers/espi/espi_aspeed_v2.c
  include/zephyr/drivers/espi_aspeed.h
Labels: area: API

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
