Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

dts: ast10x0: fix crypto build warning
  drivers/crypto/ecdsa_aspeed.c
  drivers/crypto/rsa_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/crypto/aspeed,ecdsa.yaml
  dts/bindings/crypto/aspeed,rsa.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: gpio: Check the status of the child node.
  drivers/gpio/gpio_aspeed.c
  drivers/gpio/gpio_aspeed_sgpiom.c
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Samples

samples: boards: ast10x0: Remove CONFIG_WDT_ASPEED=y
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
Labels: area: Samples

drivers: aspeed: otp: revise macro to get DT_REG_ADDR
  drivers/misc/aspeed/otp_aspeed.c
Labels: none

samples: ast1030_evb: demo: enable OTP configs
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Samples

boards: arm: ast10x0: revise crypto related configs
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast1060_evb/ast1060_evb_defconfig
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
Labels: area: Boards, area: Samples

hwinfo: aspeed: Rework hwinfo driver
  drivers/hwinfo/hwinfo_aspeed.c
Labels: none

soc: ast10x0: Keep sys_reset_log if hwinfo driver enabled
  soc/arm/aspeed/ast10x0/soc.c
Labels: none

samples: boards: ast1030_evb: Enable HWINFO_SHELL
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Samples

drivers: crypto: hash: aspeed: add HMAC support
  drivers/crypto/hash_aspeed.c
  drivers/crypto/hash_aspeed_priv.h
  drivers/crypto/hash_shell.c
  include/zephyr/crypto/crypto.h
  include/zephyr/crypto/hash.h
Labels: area: API

spi: aspeed: Fix build error for spi_context_complete
  drivers/spi/spi_aspeed.c
Labels: area: SPI

drivers: crypto: fix typo
  drivers/crypto/Kconfig.aspeed
Labels: none

i3c: aspeed: Fix typo
  drivers/i3c/i3c_aspeed.c
Labels: none

soc: aspeed: ast10x0: Add UART support
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  drivers/clock_control/clock_control_ast10x0.c
  drivers/serial/Kconfig
  drivers/serial/Kconfig.aspeed
  drivers/serial/uart_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/serial/aspeed,uart.yaml
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast10x0/soc.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

soc: arm: ast26xx: Remove CPU_HAS_ARM_MPU defconfig
  soc/arm/aspeed/ast26xx/Kconfig.series
Labels: none

spi: aspeed: Add support for partial pure spi mode support
  drivers/spi/spi_aspeed.c
Labels: area: SPI

drivers: timer: Add aspeed timer driver
  drivers/timer/CMakeLists.txt
  drivers/timer/Kconfig
  drivers/timer/Kconfig.aspeed
  drivers/timer/aspeed_timer.c
  drivers/timer/aspeed_timer_shell.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/timer/aspeed,timer.yaml
  include/zephyr/drivers/timer/aspeed_timer.h
Labels: area: Timer, area: Devicetree, area: Devicetree Binding, area: API

spi: aspeed: Fix build warning
  drivers/spi/spi_aspeed.c
Labels: area: SPI

drivers: sgpiom: Add the passthrough api.
  drivers/gpio/gpio_aspeed_sgpiom.c
  drivers/gpio/gpio_shell.c
  include/zephyr/drivers/gpio.h
Labels: area: API

drivers: aspeed-timer: Revise the timer device prefix
  drivers/timer/aspeed_timer_shell.c
Labels: area: Timer

upgrading pyyaml to version 6.0 for removing vulnerabilities
  scripts/dts/python-devicetree/setup.py
  scripts/requirements-base.txt
Labels: area: Devicetree Tooling

flash: spi-nor: Add support for 1-1-4 write opcode
  drivers/flash/spi_nor_multi_dev.c
Labels: none

i3c: smq: Add interface to get the I3C controller device
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

i3c: shell: Revise target stress code
  drivers/i3c/i3c_shell.c
Labels: none

drivers: i2c: Add k_mutex_init for trans_mutex
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dts: aspeed: ast26xx: Add the pwm/tach device node
  boards/arm/ast2600_evb/fun_def_list.h
  dts/arm/aspeed/ast26xx-pinctrl.dtsi
  dts/arm/aspeed/ast26xx.dtsi
  soc/arm/aspeed/ast26xx/sig_def_list.h
Labels: area: Devicetree, area: Boards

spi_monitor: Add support for 1-4-4 read and program commands
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

i3c: aspeed: Enable the IBA feature for priv_fer
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Add api to hook the reset callback
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

drivers:pfr:i2c filter: Update the filter global initiail stage
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

drivers: cache: Include text and data LMA into cached area
  drivers/cache/cache_aspeed.c
  drivers/cache/cache_ast27x0.c
Labels: none

drivers: cache_ast27x0: Add missing "CONFIG_"
  drivers/cache/cache_ast27x0.c
Labels: none

samples: Add ram_access example
  samples/ram_access/CMakeLists.txt
  samples/ram_access/README.rst
  samples/ram_access/boards/ast1030_evb.conf
  samples/ram_access/boards/ast1030_evb.overlay
  samples/ram_access/prj.conf
  samples/ram_access/sample.yaml
  samples/ram_access/src/main.c
Labels: area: Samples, area: Documentation

drivers: i2c: Move the clear i2c slave pack_done flag position
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Update i2c slave handle case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Add nak/stop + match/rx_done/wait_rx case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Move the clear i2c slave pack_done flag position
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Update i2c slave handle case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Add nak/stop + match/rx_done/wait_rx case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

ast1060: spim3: Update multiple function pin control
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
Labels: area: Devicetree
