Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

dts: arm: ast10x0: rename udc compatible name
  drivers/usb/device/usb_dc_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/usb/aspeed,udc.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: aspeed: Organize the interrupt register setting.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Separates the event of ibi and data consume.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Remove the usage of hw pec.
  drivers/i3c/i3c_aspeed.c
Labels: none

samples: ast10x0_evb: enable mbedtls sha256/sha512 configs
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
Labels: area: Samples

samples: ast10x0_evb: enable SHELL_CMDS_OTP config
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
Labels: area: Samples

otp: otp utility refactoring
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/otp_aspeed.c
  drivers/misc/aspeed/otp_info_10x0.h
  drivers/misc/aspeed/otp_shell.c
  drivers/otp/CMakeLists.txt
  drivers/otp/Kconfig.aspeed
  include/drivers/misc/aspeed/otp.h
  include/drivers/misc/aspeed/otp_aspeed.h
  soc/arm/aspeed/ast10x0/soc.h
Labels: area: API

dts: arm: aspeed: add otp device node
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/misc/aspeed,otp.yaml
Labels: area: Devicetree, area: Devicetree Binding

boards: ast1060_evb: otp: add AST1060 A2 sample config files
  boards/arm/ast1060_evb/otp_config/1060A2_ECDSA.json
  boards/arm/ast1060_evb/otp_config/1060A2_ECDSA_RSA2048_o2.json
  boards/arm/ast1060_evb/otp_config/1060A2_ECDSA_RSA3072_o2.json
  boards/arm/ast1060_evb/otp_config/1060A2_ECDSA_RSA4096_o2.json
  boards/arm/ast1060_evb/otp_config/1060A2_ECDSA_o1.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA2048_SHA256.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA2048_SHA256_o1.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA2048_SHA256_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA3072_SHA384.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA3072_SHA384_o1.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA3072_SHA384_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA4096_SHA512.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA4096_SHA512_o1.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSA4096_SHA512_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_2048_SHA256.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_2048_SHA256_o1.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_2048_SHA256_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_3072_SHA384.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_3072_SHA384_o1.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_3072_SHA384_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_4096_SHA512.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_4096_SHA512_o1.json
  boards/arm/ast1060_evb/otp_config/1060A2_RSAPSS_4096_SHA512_o2_pub.json
Labels: area: Boards

drivers: i2c: Fix i2c write a zero data P issue
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dts: arm: ast10x0: add property otpcfg & otpstrap
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/misc/aspeed,otp.yaml
  include/dt-bindings/otp/ast10x0_otp.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

drivers: aspeed: otp: pre-program otpcfg/otpstrap
  drivers/misc/aspeed/otp_aspeed.c
Labels: none

tests: boards: ast1030: increase CI test time for i3c_test
  tests/boards/ast1030/src/main.c
Labels: area: Tests

drivers: aspeed: otp: fix shell typo
  drivers/misc/aspeed/otp_shell.c
Labels: none

tests: boards: ast1030: Add yield to avoid deadlock.
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

drivers: i2c: Add read after write and change slave handle condition
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i3c: aspeed: Transfer error interrupt has the response data.
  drivers/i3c/i3c_aspeed.c
Labels: none

spi_nor: Only transmit WREN command if need
  drivers/flash/spi_nor_multi_dev.c
Labels: none

espi: aspeed: support callback management
  drivers/espi/espi_aspeed.c
Labels: none

i3c: aspeed: Return error when event flag is exhausted.
  drivers/i3c/i3c_aspeed.c
Labels: none

boards: arm: aspeed: Increase the number of event flag.
  boards/arm/ast1030_evb/ast1030_evb_defconfig
Labels: area: Boards

i3c: aspeed: Reset the i3c when ibi/wait data consume timeout.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Fixed the race issue with event flag
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Identify the ibi and master read by tid
  drivers/i3c/i3c_aspeed.c
Labels: none

soc: ast10x0: Fix the scu setting of the JTAG pin.
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: none

crypto: fix hang issue for executing hash & crypto afterwards
  drivers/crypto/hash_aspeed.c
Labels: none

usb: fix bulk endpoint configuration for high-speed capable device
  drivers/usb/device/Kconfig
  samples/net/wpanusb/src/wpanusb.c
  samples/subsys/usb/webusb/src/webusb.c
  subsys/usb/class/Kconfig.cdc
  subsys/usb/class/Kconfig.msc
  subsys/usb/class/Kconfig.test
  subsys/usb/class/netusb/Kconfig
  tests/subsys/usb/desc_sections/src/desc_sections.c
  tests/subsys/usb/device/src/main.c
Labels: area: Networking, area: Samples, area: Tests

adc: aspeed: Add the property to control the enable of channels.
  drivers/adc/aspeed/adc_aspeed.c
  dts/bindings/adc/aspeed,adc.yaml
Labels: area: ADC, area: Devicetree, area: Devicetree Binding

i3c: aspeed: Isolate the SCL/SDA to aviod i3c slave hang.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Active the enable bit by internal operations
  drivers/i3c/i3c_aspeed.c
Labels: none

soc: ast10x0: Add dependency for i3c signal to avoid abnormal behavior
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: none

soc: ast10x0: Clear the higher priority pinctrl setting.
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: none

soc: ast26xx: Add dependency for i3c signal to avoid abnormal behavior
  soc/arm/aspeed/ast26xx/sig_def_list.h
Labels: none

i3c: aspeed: Add software flag for allowing SIR.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Slove the timeout condition when sending ibi.
  drivers/i3c/i3c_aspeed.c
Labels: none

spi_nor: Add SW reset commands support
  drivers/flash/spi_nor_multi_dev.c
  include/drivers/spi_nor.h
Labels: area: API

dc-scm: Reset flash by reset commands
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spi_read.c
Labels: area: Samples

tests: boards: ast1030: Add 2s sleep for i3c test.
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

soc: ast10x0: Fix the pin for HVI3C2SDA.
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: none

i3c: aspeed: Add the missing action to release scl/sda.
  drivers/i3c/i3c_aspeed.c
Labels: none

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
