Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

serial: aspeed: program UART base for UDMA
  drivers/serial/uart_aspeed.c
Labels: none

serial: aspeed: maintain cache for UDMA buffers
  drivers/serial/uart_aspeed.c
Labels: none

serial: aspeed: cast UDMA pointers for PHY addr
  drivers/serial/uart_aspeed.c
Labels: none

dts: ast10x0-g2: switch UARTs to aspeed driver
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

samples: cpld: vme: add ast1040_evb_ast1040_cm4 overlay
  samples/cpld/vme/boards/ast1040_evb_ast1040_cm4.overlay
Labels: area: Samples

samples: cpld: vme: Use command to trigger vme program
  samples/cpld/vme/src/main.c
Labels: area: Samples

jtag: add support for running TCK clock cycles
  drivers/jtag/jtag_shell.c
Labels: none

jtag: Support HW mode 2
  drivers/jtag/Kconfig.aspeed
  drivers/jtag/jtag_aspeed.c
  drivers/jtag/jtag_aspeed.h
Labels: none

samples: cpld: vme: cpld upgrade through jtag.
  samples/cpld/vme/CMakeLists.txt
  samples/cpld/vme/Kconfig
  samples/cpld/vme/boards/ast1030_evb.conf
  samples/cpld/vme/boards/ast1030_evb.overlay
  samples/cpld/vme/overlay-fixed-vme.conf
  samples/cpld/vme/prj.conf
  samples/cpld/vme/sample.yaml
  samples/cpld/vme/src/file/vme1.c
  samples/cpld/vme/src/file/vme2.c
  samples/cpld/vme/src/file/vme3.c
  samples/cpld/vme/src/file/vme4.c
  samples/cpld/vme/src/file/vme5.c
  samples/cpld/vme/src/file/vme6.c
  samples/cpld/vme/src/file/vme7.c
  samples/cpld/vme/src/file/vme8.c
  samples/cpld/vme/src/file/vme_file.h
  samples/cpld/vme/src/hardware.c
  samples/cpld/vme/src/ivm_core.c
  samples/cpld/vme/src/main.c
  samples/cpld/vme/src/mxo2_stand.vme
  samples/cpld/vme/src/vmopcode.h
Labels: area: Samples

boards: ast1080_evb_cm4: remove unnecessary i2c ports
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
Labels: area: Devicetree, area: Boards

drivers: ipm: ast2700: fix shmem_read offset, tune cache maintenance
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  drivers/ipm/ipm_ast2700.c
Labels: area: Devicetree, area: Boards

drivers: espi: aspeed: add TAF request handling for v2
  drivers/espi/espi_aspeed_v2.c
  include/zephyr/drivers/espi_aspeed.h
Labels: area: API

samples: espi_aspeed: add v2 shell sample
  samples/drivers/espi_aspeed/v2_shell/CMakeLists.txt
  samples/drivers/espi_aspeed/v2_shell/boards/ast1040_evb_ast1040_cm4.conf
  samples/drivers/espi_aspeed/v2_shell/boards/ast1040_evb_ast1040_cm4.overlay
  samples/drivers/espi_aspeed/v2_shell/prj.conf
  samples/drivers/espi_aspeed/v2_shell/sample.yaml
  samples/drivers/espi_aspeed/v2_shell/src/CMakeLists.txt
  samples/drivers/espi_aspeed/v2_shell/src/mafs_cmd.c
  samples/drivers/espi_aspeed/v2_shell/src/main.c
  samples/drivers/espi_aspeed/v2_shell/src/oob_cmd.c
  samples/drivers/espi_aspeed/v2_shell/src/perif_cmd.c
  samples/drivers/espi_aspeed/v2_shell/src/safs_handler.c
  samples/drivers/espi_aspeed/v2_shell/src/safs_handler.h
Labels: area: Samples

spi monitor: aspeed: Move AST10X0-G2 SPIF0/1/2 pinmux to pinctrl
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  drivers/spi/spi_aspeed_pin_config.c
  dts/arm/aspeed/ast10x0-g2-pinctrl.dtsi
  dts/arm/aspeed/ast10x0-g2.dtsi
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl-groups.h
Labels: area: Devicetree, area: SPI, area: Boards, area: API

drivers: misc: otp_ast2700: restore ECC config and lock OTP masters on BootMCU
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

spi: aspeed: Remove unused AST10X0_G2 lite SPI controller variant
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu.dts
  boards/aspeed/ast1040_haps/ast1040_haps_bootmcu.dts
  boards/aspeed/ast1080_evb/ast1080_evb_bootmcu.dts
  boards/aspeed/ast1080_haps/ast1080_haps_bootmcu.dts
  drivers/spi/spi_aspeed.c
  dts/bindings/spi/aspeed,ast10x0-g2-spi-lite-controller.yaml
  dts/riscv/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards

spi monitor: aspeed: Move SPIF0/1/2 pinctrl ownership to SPI master nodes
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Boards

drivers: misc: aspeed: add Caliptra-SS MCI mailbox command driver
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  boards/aspeed/ast1080_evb/ast1080_evb_cm4_defconfig
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/cptra_mci_sha.c
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_mci_cryptographic_mbox.c
  drivers/misc/aspeed/cptra_mci_mbox.c
  drivers/misc/aspeed/cptra_mci_misc.c
  drivers/misc/aspeed/cptra_mci_shell.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/crypto/aspeed,cptra-mci-sha.yaml
  dts/bindings/misc/aspeed,cptra-mci-mbox.yaml
  include/zephyr/drivers/misc/aspeed/cptra_mci_mbox.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API

drivers: crypto: aspeed: add MCI mailbox ECDSA384/LMS/ML-DSA-87 verify drivers
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  boards/aspeed/ast1080_evb/ast1080_evb_cm4_defconfig
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/cptra_mci_ecdsa.c
  drivers/crypto/cptra_mci_lms.c
  drivers/crypto/cptra_mci_mldsa.c
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_mci_shell.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/crypto/aspeed,cptra-mci-ecdsa.yaml
  dts/bindings/crypto/aspeed,cptra-mci-lms.yaml
  dts/bindings/crypto/aspeed,cptra-mci-mldsa.yaml
  include/zephyr/crypto/mldsa.h
  include/zephyr/crypto/mldsa_structs.h
  include/zephyr/drivers/misc/aspeed/cptra_mci_mbox.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API

tests: boards: ast1040_evb: add cptra_mci ML-DSA-87 test, fold into all
  tests/boards/ast1040_evb/all/CMakeLists.txt
  tests/boards/ast1040_evb/all/prj.conf
  tests/boards/ast1040_evb/all/src/main.c
  tests/boards/ast1040_evb/cptra/CMakeLists.txt
  tests/boards/ast1040_evb/cptra/prj.conf
  tests/boards/ast1040_evb/cptra/src/main.c
  tests/boards/ast1040_evb/cptra/testcase.yaml
Labels: area: Tests

dts: aspeed: ast27xx: add drive-strength / bias-disable pincfg descriptors
  dts/arm/aspeed/ast27xx-pinctrl.dtsi
Labels: area: Devicetree

dts: aspeed: ast27xx: add dedicated FMC SPI pin nodes
  dts/arm/aspeed/ast27xx-pinctrl.dtsi
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl.h
Labels: area: Devicetree, area: API

pinctrl: aspeed_g7_soc1: allow pincfg-only pins without sig_descs
  drivers/pinctrl/pinctrl_aspeed_g7_soc1.c
  dts/bindings/pinctrl/aspeed,g7-soc1-pinctrl.yaml
  soc/aspeed/ast10x0_g2/pinctrl_soc.h
  soc/aspeed/ast27xx/pinctrl_soc.h
Labels: area: Devicetree, area: Devicetree Binding

dts: aspeed: ast27xx: share pinctrl pin table between arm and riscv
  dts/arm/aspeed/ast27xx.dtsi
  dts/common/aspeed/ast27xx-pinctrl.dtsi
  dts/riscv/aspeed/ast27xx-pinctrl.dtsi
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

pinctrl: aspeed_g7_soc1: add drive-strength / bias-disable pincfg support
  drivers/pinctrl/pinctrl_aspeed_g7_soc1.c
  dts/bindings/pinctrl/aspeed,g7-soc1-pinctrl.yaml
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl.h
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl.h
  soc/aspeed/ast10x0_g2/pinctrl_soc.h
  soc/aspeed/ast27xx/pinctrl_soc.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

spi: aspeed: Retire ast2700-lite hardcoded pinctrl/driving-strength init
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed.h
  drivers/spi/spi_aspeed_pin_config.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
  dts/riscv/aspeed/ast27xx.dtsi
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl-groups.h
Labels: area: Devicetree, area: SPI, area: API

pinctrl: aspeed: disable pin name string storage by default
  drivers/pinctrl/Kconfig.aspeed
Labels: none

drivers: misc: aspeed: add cptra_mci subsystem_info shell command
  drivers/misc/aspeed/cptra_mci_mbox.c
  drivers/misc/aspeed/cptra_mci_shell.c
  include/zephyr/drivers/misc/aspeed/cptra_mci_mbox.h
Labels: area: API

drivers: espi: aspeed: fix VW GPIO val1 reading wrong register
  drivers/espi/espi_aspeed_v2.c
Labels: none

drivers: espi: aspeed: handle DMA cache maintenance
  drivers/espi/espi_aspeed_v2.c
Labels: none

drivers: espi: aspeed: rename dma-mode to mapping-mode
  drivers/espi/espi_aspeed_v2.c
  dts/bindings/espi/aspeed,espi-v2.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: espi: aspeed: assert FLASH_NP_FREE on flash TX complete
  drivers/espi/espi_aspeed_v2.c
Labels: none

misc: aspeed: Add ast10x0_g2 anti-tamper controller TSENSE driver
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/atc_aspeed.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/misc/aspeed,ast10x0-g2-atc.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

include: i2c_filter: update SMBus filter controller define
  include/zephyr/drivers/i2c/pfr/i2c_filter.h
Labels: area: API

bindings: i2c-filter: add reset-device include
  dts/bindings/i2c/aspeed,i2c-filter.yaml
Labels: area: Devicetree, area: Devicetree Binding

dtsi: ast10x0-g2: add reset setting to the i2c filter
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

drivers: i2c_filter: add scu reset release to i2c filter
  drivers/i2c/pfr/i2c_filter.c
  include/zephyr/drivers/i2c/pfr/i2c_filter.h
Labels: area: I2C, area: API

drivers: i2c_aspeed: correct the slave target rx length
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

tests: boards: ast1040_evb: add i2c ztest suite
  tests/boards/ast1040_evb/all/CMakeLists.txt
  tests/boards/ast1040_evb/all/prj.conf
  tests/boards/ast1040_evb/all/src/main.c
  tests/boards/ast1040_evb/i2c/CMakeLists.txt
  tests/boards/ast1040_evb/i2c/boards/ast1040_evb_ast1040_cm4.overlay
  tests/boards/ast1040_evb/i2c/prj.conf
  tests/boards/ast1040_evb/i2c/src/main.c
  tests/boards/ast1040_evb/i2c/testcase.yaml
Labels: area: Tests

test: add ast1030_evb pwm_tach test
  tests/boards/ast1030_evb/all/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/pwm_tach/CMakeLists.txt
  tests/boards/ast1030_evb/pwm_tach/boards/ast1030_evb.overlay
  tests/boards/ast1030_evb/pwm_tach/prj.conf
  tests/boards/ast1030_evb/pwm_tach/src/main.c
  tests/boards/ast1030_evb/pwm_tach/testcase.yaml
Labels: area: Tests
