Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

usb: shell: remove unnecessary logs
  drivers/usb/usb_shell.c
Labels: none

drivers: i2c-mailbox: close i2c slave irq
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers: i2c-snoop: clear snoop buffer
  drivers/i2c/pfr/i2c_snoop.c
Labels: area: I2C

dts: remove unnecessary i2c pin-mux setting
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
Labels: area: Devicetree

drivers: i2c: update cache control
  drivers/i2c/i2c_aspeed.c
  tests/boards/ast1030/src/i2c.c
Labels: area: I2C, area: Tests

drivers: cache: add irq lock check
  drivers/cache/cache_aspeed.c
Labels: none

drivers: i2c-shell & mailbox: fix typo
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers: i2c-shell & mailbox: update disable behavior
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

tests: adc: Fix the FT golden value.
  tests/boards/ast1030/src/adc.c
Labels: area: Tests

tests: adc: Change the FT test tolerance to 3%
  tests/boards/ast1030/src/adc.c
Labels: area: Tests

flash: Support fixed sector size
  drivers/flash/spi_nor_multi_dev.c
Labels: none

flash: Using malloc instead of k_malloc
  drivers/flash/flash_shell.c
  tests/boards/ast1030/src/spi.c
Labels: area: Tests

drivers: i2c: add mutex to avoid re-entry
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c ipmb: fix warning and typo
  drivers/i2c/slave/ipmb_slave.c
  include/drivers/i2c/slave/ipmb.h
Labels: area: I2C, area: API

i3c: revise the comment
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: do not count the MDB into the size
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

tests: i2c: Add print result for debug
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

test/boards/ast1030: set test data buffer size to 256 bytes
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

i3c: use cmsis-rtos api for waiting slave events.
  drivers/i3c/i3c_aspeed.c
Labels: none

tests/boards/ast1030: do not request ibi repeatedly
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

i3c: add api to support private read transfer for the slave device
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

drivers: i2c: fix the buffer mode
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i3c: append pec if only MDB is sent in an IBI
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c/slave: slave sends pending-read-notification according to MDB
  drivers/i3c/slave/i3c_slave_mqueue.c
  include/drivers/i3c/i3c.h
Labels: area: API

test/boards/ast1030: support pending read notification test
  tests/boards/ast1030/boards/ast1030_evb.overlay
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

tests/boards/ast1030: enlarge the ibi test size
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

i3c: add workaround of the IBI size for AST1030A1
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: i2c: connect the virtual slave into byte mode
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

tests: boards: ast1030: increase CI test time for temp.
  tests/boards/ast1030/src/main.c
Labels: area: Tests

Revert "tests: boards: ast1030: increase CI test time for temp."
  tests/boards/ast1030/src/main.c
Labels: area: Tests

tests/boards/ast1030/i3c: master waits more time for pending data
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

tests/boards/ast1030/i3c: set the i3c slave thread to cooperative thread
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

tests/boards/ast1030/i3c: delay more time to pass i3c ci
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

i3c: revise prep_read_data api for the slave device
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/slave/i3c_slave_mqueue.c
  include/drivers/i3c/i3c.h
Labels: area: API

tests/boards/ast1030: revise i3c ci code
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

drivers: i2c-mailbox: change mailbox enable api
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers: i2c-mailbox: change fifo enable api define
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers: i2c-mailbox: add mbx_fifo_rw api
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

samples: ast1030_evb: overlay: enable pending-read-notification
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

i3c: set max ibi payload size as the hw max size
  drivers/i3c/Kconfig.aspeed
Labels: none
