Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

adc: aspeed: Fix the channel number of each ADC controller.
  drivers/adc/aspeed/adc_aspeed.c
  drivers/adc/aspeed/adc_aspeed.h
Labels: area: ADC

adc: aspeed: Always apply the cv for adc read.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

i3c: aspeed: Add do_daa for i3c controller mode
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

drivers:i2c:add byte mode handle case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

include: drivers: i3c: fix typo
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: shell: Add "i3c entdaa" shell command
  drivers/i3c/i3c_shell.c
Labels: none

drivers:i2c:add i2c transfer mode parameter
  drivers/i2c/i2c_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: I2C

drivers:i2c:add handle more byte condition
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers:i2c:move clock divider into dtsi
  drivers/i2c/i2c_global_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast26xx.dtsi
  dts/bindings/i2c/aspeed,i2c-global.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: I2C

spi_monitor: Disable reset output enable for SPM3/4
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

spi_monitor: control external mux select pin via gpio and sgpio
  drivers/spi/spi_monitor_aspeed.c
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

spi_monitor: Add a property for forcing release flash reset signal
  drivers/spi/spi_monitor_aspeed.c
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

yaml:i2c:add global yaml desciption
  dts/bindings/i2c/aspeed,i2c-global.yaml
Labels: area: Devicetree, area: Devicetree Binding

yaml:i2c:add i2c parameter yaml description
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers:i2c:add write received behavior
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: add stop then start case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: update match rxdone case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: add dma length reset
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i3c: aspeed: List the chips that require the force PEC workaround.
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers:i3c: fix calling unregistered callback function
  drivers/i3c/i3c_aspeed.c
Labels: none

adc: aspeed: Extend the delay time to meet ADC hw behavior.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

spi_nor: Add customized read function for w25q02gjv flash
  drivers/flash/spi_nor_multi_dev.c
Labels: none

spi_nor: System sleeps during waiting for busy status
  drivers/flash/spi_nor_multi_dev.c
Labels: none

spi: aspeed: Add property for disbling timing calibration
  drivers/spi/spi_aspeed.c
  dts/bindings/spi/aspeed,spi-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

tests: adc: Remove the setting of calibrate.
  tests/boards/ast1030/src/adc.c
Labels: area: Tests

tests: adc: Enlarge the error rate to 3%
  tests/boards/ast1030/src/adc.c
Labels: area: Tests

adc: aspeed: Fix the order of adc engine init.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

pwm: aspeed: Change the return value of get_cycles_per_sec.
  drivers/pwm/aspeed/pwm_aspeed.c
Labels: area: PWM

tests: pwm_tach: rand_cycles needs to be divisible by 256.
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Tests

spi: aspeed: Support timing calibration for SPIM3 flash
  drivers/spi/spi_aspeed.c
  dts/bindings/spi/aspeed,spi-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

espi: aspeed: Save memory space if features disabled
  drivers/espi/espi_aspeed.c
  dts/bindings/espi/aspeed,espi.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

soc: arm: Add Aspeed AST27x0 series SOC
  dts/arm/aspeed/ast27x0.dtsi
  soc/arm/aspeed/ast27x0/CMakeLists.txt
  soc/arm/aspeed/ast27x0/Kconfig.defconfig.ast2700
  soc/arm/aspeed/ast27x0/Kconfig.defconfig.series
  soc/arm/aspeed/ast27x0/Kconfig.series
  soc/arm/aspeed/ast27x0/Kconfig.soc
  soc/arm/aspeed/ast27x0/linker.ld
  soc/arm/aspeed/ast27x0/nocache.ld
  soc/arm/aspeed/ast27x0/sboot.ld
  soc/arm/aspeed/ast27x0/soc.c
  soc/arm/aspeed/ast27x0/soc.h
Labels: area: Devicetree

boards: arm: Add Aspeed ast2700_fpga board
  boards/arm/ast2700_fpga/Kconfig.board
  boards/arm/ast2700_fpga/Kconfig.defconfig
  boards/arm/ast2700_fpga/ast2700_fpga.dts
  boards/arm/ast2700_fpga/ast2700_fpga.yaml
  boards/arm/ast2700_fpga/ast2700_fpga_defconfig
Labels: area: Devicetree, area: Boards

boards: ast2700_fpga: disable multithreading
  boards/arm/ast2700_fpga/ast2700_fpga_defconfig
Labels: area: Boards

boards: ast2700_fpga: update ast2700 fpga board configuration
  boards/arm/ast2700_fpga/ast2700_fpga.dts
  boards/arm/ast2700_fpga/ast2700_fpga_defconfig
Labels: area: Devicetree, area: Boards

soc: ast27x0: revise ROM and RAM size
  soc/arm/aspeed/ast27x0/linker.ld
Labels: none

soc: arm: ast2700: add option for SRAM_RO_SIZE
  soc/arm/aspeed/ast27x0/Kconfig.defconfig.ast2700
  soc/arm/aspeed/ast27x0/Kconfig.soc
  soc/arm/aspeed/ast27x0/linker.ld
Labels: none

dts: Add aspeed ast2700 ipc device binding
  dts/bindings/ipm/aspeed,ast2700-ipc.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: ipm: Add Aspeed AST2700 IPM driver
  drivers/ipm/CMakeLists.txt
  drivers/ipm/Kconfig
  drivers/ipm/Kconfig.aspeed
  drivers/ipm/ipm_ast2700.c
Labels: none

dts: aspeed: re-arch AST2700 device tree
  boards/arm/ast2700_fpga/ast2700_fpga.dts
  dts/arm/aspeed/ast27x0.dtsi
  dts/arm/aspeed/ast27x0_ssp.dtsi
  dts/arm/aspeed/ast27x0_tsp.dtsi
Labels: area: Devicetree, area: Boards

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
