Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

main:ast2700_evb:add ltpi ipm into main function
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

drivers: ipm_ast: update the ast_ipm_shmem_read behavior
  drivers/ipm/ipm_aspeed_shell.c
  drivers/ipm/ipm_ast2700.c
  drivers/ipm/ipm_bootmcu.c
  include/zephyr/drivers/ipm_ast.h
Labels: area: API

boards: ast2700_evb: bootmcu: enable ipc_ns_ca35
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

drivers: misc: cptra_ipc: change log level for digest dump
  drivers/misc/aspeed/cptra_ipc.c
Labels: none

drivers: misc: aspeed: cptra: change log level to dbg
  drivers/misc/aspeed/cptra_dice.c
  drivers/misc/aspeed/cptra_mbox.c
Labels: none

dts: switch: add i2c switch tatget yaml
  dts/bindings/i2c/aspeed,switch.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: switch: fix i2c switch yaml format typo
  dts/bindings/i2c/aspeed,switch.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: switch: add 's' behind the gpio define
  dts/bindings/i2c/aspeed,switch.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: bindings: crypto: rename cptra-lms yaml file
  dts/bindings/crypto/aspeed,cptra-lms.yaml
Labels: area: Devicetree, area: Devicetree Binding

Revert "soc: ast1040: Set BMC UART selection in SCU1_MISC register"
  soc/aspeed/ast1040/soc.c
Labels: none

drivers: misc: aspeed: cptra_mbox: limit output length
  drivers/misc/aspeed/cptra_mbox.c
Labels: none

include: zephyr: cptra: update DPE profile value for v1.2
  include/zephyr/drivers/cptra.h
Labels: area: API

jtag: add support for running TCK clock cycles
  drivers/jtag/jtag_shell.c
Labels: none

jtag: Support HW mode 2
  drivers/jtag/Kconfig.aspeed
  drivers/jtag/jtag_aspeed.c
  drivers/jtag/jtag_aspeed.h
Labels: none

drivers: ltpi_ipc: add ltpi config checking in the misc
  drivers/misc/aspeed/ltpi_ipc.c
Labels: none

ast2700_haps: HAPS bringup
  boards/aspeed/ast2700_haps/Kconfig.ast2700_haps
  boards/aspeed/ast2700_haps/Kconfig.defconfig
  boards/aspeed/ast2700_haps/ast2700_haps_ast2700_bootmcu.dts
  boards/aspeed/ast2700_haps/ast2700_haps_ast2700_bootmcu.yaml
  boards/aspeed/ast2700_haps/ast2700_haps_ast2700_bootmcu_defconfig
  boards/aspeed/ast2700_haps/board.yml
Labels: area: Devicetree, area: Boards

boards: ast2700_haps: Remove system clock settings from bootmcu defconfig
  boards/aspeed/ast2700_haps/ast2700_haps_ast2700_bootmcu_defconfig
Labels: area: Boards

soc: aspeed: ast27xx: Add CONFIG_CRYPTO guard for crypto.c
  soc/aspeed/ast27xx/CMakeLists.txt
Labels: none

boards: ast2700_evb: Add OTP_27xx config
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

drivers: misc: otp_aseed: add macro to instantiate device driver
  drivers/misc/aspeed/otp_aspeed.c
Labels: none

ast1030_evb: enable OTP configurations
  boards/aspeed/ast1030_evb/ast1030_evb_defconfig
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Boards, area: Samples

drivers: aspeed: otp_shell: update OTP_DRV_NAME
  drivers/misc/aspeed/otp_shell.c
Labels: none

spi: aspeed: Set unused CS pin to GPIO output high
  drivers/spi/spi_aspeed.c
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

boards: ast2700_evb: bootmcu: add share-3 mpu
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

usb: aspeed: udc: Update UDC driver
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

spi: ast2700: Update FMC DMA usage strategy
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

i3c: aspeed: Fix incorrect SDA_TX_HOLD assignment
  drivers/i3c/i3c_aspeed.c
Labels: none

spi: aspeed: Only dynamically switch SPIM3/4 output pins
  drivers/spi/spi_aspeed.c
Labels: area: SPI

i3c: target: mqueue: make IBI PEC append configurable
  drivers/i3c/target/i3c_target_mqueue.c
  dts/bindings/i3c/i3c-target-mqueue.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: aspeed: add scu property to otp device node
  dts/bindings/misc/aspeed,ast27xx-otp.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding

drivers: misc: otp_ast2700: show rom patch version
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

drivers: update log level
  drivers/crypto/cptra_ecdsa.c
  drivers/crypto/cptra_lms.c
  drivers/crypto/cptra_sha.c
  drivers/misc/aspeed/cptra_ifc.c
  drivers/misc/aspeed/cptra_mbox.c
  drivers/misc/aspeed/cptra_misc.c
  drivers/misc/aspeed/cptra_update.c
  soc/aspeed/ast27xx/crypto.c
Labels: none

dts: arm: ast27xx: Correct ipc's compatible
  dts/arm/aspeed/ast27xx-a0_tsp.dtsi
  dts/arm/aspeed/ast27xx_tsp.dtsi
Labels: area: Devicetree

spi: aspeed: Update AST2700 SPI controller driver
  drivers/spi/spi_aspeed_ast2700.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
Labels: area: Devicetree, area: SPI

dts: aspeed: ast2700: Add SPI0 device note
  dts/riscv/aspeed/ast27xx.dtsi
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.overlay
Labels: area: Devicetree, area: Samples

drivers: misc: otp: revise boot spi flash size
  drivers/misc/aspeed/otp_info_10x0.h
Labels: none

spi_nor_multi_dev: Update strategy for transmitting EN4B command
  drivers/flash/spi_nor_multi_dev.c
Labels: none

spi_nor_multi_dev: Add bug fixup for S25HL flash parts
  drivers/flash/spi_nor_multi_dev.c
Labels: none

spi: monitor: Add C2h die-selection command
  drivers/spi/spi_monitor_aspeed.c
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: SPI, area: API, area: Samples

spi monitor: Adjust statement strategy for printing error log
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
