Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

usb: aspeed: remove AHBM Addr34 bit from PHY_CTRL0 setup
  drivers/usb/device/usb_dc_aspeed.c
  drivers/usb/udc/udc_aspeed.c
Labels: none

drivers: i2c: add buffer mode setup functions for AST2700
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: separate the i2c slave handling API
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i2c: aspeed: adjust target command triggering in the abnormal case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i2c: aspeed: adjust target command triggering in the buffer mode
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i3c: mipi_hci: sync target's registered address on target-mode CCCs
  drivers/i3c/mipi_hci/dma.c
  drivers/i3c/mipi_hci/hci.h
  drivers/i3c/mipi_hci/target.c
  drivers/i3c/mipi_hci/vendor_aspeed.c
Labels: none

drivers: i3c: mipi_hci: trace target hot-join IBI raise path
  drivers/i3c/i3c_shell.c
  drivers/i3c/mipi_hci/target.c
  drivers/i3c/mipi_hci/vendor_aspeed.c
Labels: none

drivers: i3c: shell: zero-initialize hj_req IBI request
  drivers/i3c/i3c_shell.c
Labels: none

drivers: i3c: mipi_hci: prefix all log messages with controller name
  drivers/i3c/mipi_hci/cmd_v1.c
  drivers/i3c/mipi_hci/cmd_v2.c
  drivers/i3c/mipi_hci/core.c
  drivers/i3c/mipi_hci/dat_v1.c
  drivers/i3c/mipi_hci/dma.c
  drivers/i3c/mipi_hci/ext_caps.c
  drivers/i3c/mipi_hci/hci_quirks.c
  drivers/i3c/mipi_hci/pio.c
  drivers/i3c/mipi_hci/target.c
  drivers/i3c/mipi_hci/vendor_aspeed.c
Labels: none

drivers: i3c: mipi_hci: remove unimplemented controller-role request path
  drivers/i3c/mipi_hci/target.c
Labels: none

drivers: i3c: mipi_hci: drop per-IRQ vendor status polling, now redundant
  drivers/i3c/mipi_hci/hci.h
  drivers/i3c/mipi_hci/pio.c
  drivers/i3c/mipi_hci/vendor_aspeed.c
Labels: none

drivers: misc: aspeed: add AST1040 OTP support
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  boards/aspeed/ast1040_haps/ast1040_haps_cm4.dts
  boards/aspeed/ast1040_haps/ast1040_haps_cm4_defconfig
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/otp_ast2700.c
  drivers/misc/aspeed/otp_shell_ast1040.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/misc/aspeed,ast27xx-otp.yaml
  dts/riscv/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: Boards
