Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

drivers: i2c-mailbox: fix the interrupt setting typo
  drivers/i2c/pfr/i2c_mailbox.c
Labels: area: I2C

i3c: support ENTDAA for slave mode
  drivers/i3c/i3c_aspeed.c
Labels: none

samples/drivers/i3c: revise i3c loopback test
  samples/drivers/i3c/loopback.overlay
  samples/drivers/i3c/src/main.c
Labels: area: Samples

drivers: i2c: apply multi-master always
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dts: i2c-filter: Add filter frequency setting
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c-filter.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: i2c-filter: Update filter frequency by different setting
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_filter.c
  include/drivers/i2c/pfr/i2c_filter.h
Labels: area: I2C, area: API

peci: aspeed: Clear the error event flag.
  drivers/peci/peci_aspeed.c
Labels: none

peci: aspeed: Add aw_fcs when executing peci write
  drivers/peci/peci_aspeed.c
Labels: none

drivers: peci: Add raw command for peci testing.
  drivers/peci/peci_shell.c
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Samples

peci: aspeed: Before fire need to check slave status.
  drivers/peci/peci_aspeed.c
  drivers/peci/peci_aspeed.h
Labels: none

samples/boards/ast1030_evb: enable I3C driver by board type
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Samples

drivers: misc/snoop_aspeed: Add blocking/non-blocking read support
  drivers/misc/aspeed/snoop_aspeed.c
  include/drivers/misc/aspeed/snoop_aspeed.h
  samples/drivers/misc/aspeed/snoop/src/main.c
Labels: area: API, area: Samples

soc: arm: ast10x0: Recover UART routing to default value
  soc/arm/aspeed/ast10x0/soc.c
Labels: none

tests: i2c: Decrease the transfer speed
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

soc/arm/aspeed: revise help strings of the non-cacheed sram
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.ast1030
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.ast1060
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.ast2600
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.ast2605
Labels: none

soc/arm/aspeed: clear non-cached .bss
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast26xx/soc.c
Labels: none

spi_monitor: ast1060: Early porting
  boards/arm/ast1060_evb/fun_def_list.h
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/pfr_ast1060.c
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.spi_monitor_aspeed
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo/CMakeLists.txt
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo/prj.conf
  samples/boards/ast1060_evb/demo/sample.yaml
  samples/boards/ast1060_evb/demo/src/main.c
  soc/arm/aspeed/ast10x0/pin_def_list.h
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards, area: API, area: Samples

checkpatch: remove emacs mode
  .checkpatch.conf
Labels: none

dts: ast1060: w25q512jv flash part support
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
Labels: area: Samples

board: ast1060_evb: Add i2c pfr function into project
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
Labels: area: Samples

espi: aspeed: Enable legacy mode support
  drivers/espi/espi_aspeed.c
Labels: none

drivers: espi_aspeed: Add raw packet interface
  drivers/espi/espi_aspeed.c
  include/drivers/espi_aspeed.h
Labels: area: API

samples: espi_aspeed: Add sample code for eSPI controller
  samples/drivers/espi_aspeed/oob/CMakeLists.txt
  samples/drivers/espi_aspeed/oob/boards/ast1030_evb.conf
  samples/drivers/espi_aspeed/oob/boards/ast1030_evb.overlay
  samples/drivers/espi_aspeed/oob/prj.conf
  samples/drivers/espi_aspeed/oob/sample.yaml
  samples/drivers/espi_aspeed/oob/src/main.c
  samples/drivers/espi_aspeed/safs/CMakeLists.txt
  samples/drivers/espi_aspeed/safs/boards/ast1030_evb.conf
  samples/drivers/espi_aspeed/safs/boards/ast1030_evb.overlay
  samples/drivers/espi_aspeed/safs/prj.conf
  samples/drivers/espi_aspeed/safs/sample.yaml
  samples/drivers/espi_aspeed/safs/src/main.c
Labels: area: Samples

espi: aspeed: Disable DMA
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/drivers/espi_aspeed/oob/boards/ast1030_evb.overlay
  samples/drivers/misc/aspeed/mailbox/boards/ast1030_evb.overlay
  samples/drivers/misc/aspeed/snoop/boards/ast1030_evb.overlay
  tests/boards/ast1030/boards/ast1030_evb.overlay
Labels: area: Samples, area: Tests

watchdog: ast1030: Porting WDT basic driver
  drivers/watchdog/CMakeLists.txt
  drivers/watchdog/Kconfig
  drivers/watchdog/Kconfig.aspeed
  drivers/watchdog/wdt_aspeed.c
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/watchdog/aspeed,ast-watchdog.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  soc/arm/aspeed/ast10x0/soc.c
Labels: area: Watchdog, area: Devicetree, area: Devicetree Binding, area: Samples

boot: Add booting up reason
  drivers/watchdog/wdt_aspeed.c
  samples/boards/ast1030_evb/demo/src/main.c
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast10x0/soc.h
Labels: area: Watchdog, area: Samples

dtsi: ast1030: Disable flash device node by default.
  boards/arm/ast1030_evb/ast1030_evb.dts
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  tests/boards/ast1030/boards/ast1030_evb.overlay
  tests/boards/ast1030/boards/ast1030_ft.overlay
Labels: area: Devicetree, area: Boards, area: Samples, area: Tests

dts: Adjust SPI monitor device node in .dts
  boards/arm/ast1060_evb/ast1060_evb.dts
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Boards, area: Samples

wdt: Fix build error
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.conf
  soc/arm/aspeed/ast10x0/soc.c
Labels: area: Samples

dts: ast1060: Add WDT and SPI controller device nodes
  boards/arm/ast1060_evb/ast1060_evb.dts
Labels: area: Devicetree, area: Boards

spi-monitor: Disable multiple passthrough mode by default
  drivers/spi/spi_monitor_aspeed.c
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

arm: ast1030: Show correct flash size
  soc/arm/aspeed/ast10x0/soc.c
Labels: none

dtsi: ast10x0: Fix typo
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

pfr: SPI controller master support
  boards/arm/ast1060_evb/ast1060_evb.dts
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_monitor_aspeed.c
  dts/bindings/spi/aspeed,spi-controller.yaml
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.conf
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards, area: Samples

pfr: Porting read host/BMC flash API
  samples/boards/ast1060_evb/demo/src/spi.h
  samples/boards/ast1060_evb/demo/src/spi_read.c
Labels: area: Samples

spi_nor: Both EN4B and EX4B commands support
  drivers/flash/spi_nor_multi_dev.c
  include/drivers/spi_nor.h
Labels: area: API

pfr: demo: Read host and BMC's boot flashes
  samples/boards/ast1060_evb/demo/src/main.c
  samples/boards/ast1060_evb/demo/src/spi_read.c
Labels: area: Samples

tests: i2c: Force the transfer speed
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

drivers: i2c-shell: add i2c single read / write multi byte api
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: i2c-shell: add i2c pfr demo command
  drivers/i2c/i2c_shell.c
Labels: area: I2C

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
