Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

drivers: misc: otp_ast2700: simplify A2 ROM patch version decoding
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

boards: ast1040_evb_cm4: Turn on SPI flash support
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
Labels: area: Boards

boards: ast1080_evb_cm4: Turn on SPI NOR flash support
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  boards/aspeed/ast1080_evb/ast1080_evb_cm4_defconfig
Labels: area: Devicetree, area: Boards

drivers: crypto: hace: Fix MMU compatibility issue
  drivers/crypto/hace_aspeed.c
  drivers/crypto/hace_aspeed.h
  dts/arm/aspeed/ast27xx_ssp.dtsi
Labels: area: Devicetree

drivers: misc: cptra_misc: demote fw_info logs to DBG level
  drivers/misc/aspeed/cptra_misc.c
Labels: none

espi: aspeed: Add CONFIG_ESPI_OOB_CHANNEL_RX_ASYNC support
  drivers/espi/espi_aspeed_v2.c
Labels: none

espi: aspeed: Implement read_request and write_request API
  drivers/espi/espi_aspeed_v2.c
Labels: none

dts: aspeed: update the i2c buffer register information
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast27xx.dtsi
Labels: area: Devicetree

soc: aspeed: disable stack protector in z_arm_platform_init
  soc/aspeed/ast10x0/soc.c
  soc/aspeed/ast10x0_g2/soc.c
  soc/aspeed/ast26xx/soc.c
  soc/aspeed/ast27xx/soc.c
Labels: none

i2c: aspeed_global: update reset deassertion and global parameter setup
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

i2c: aspeed: update driver to retrieve buffer information from DT
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

clock: aspeed: fork ast10x0-g2 clock driver from ast27xx scu1
  drivers/clock_control/CMakeLists.txt
  drivers/clock_control/Kconfig.aspeed
  drivers/clock_control/clock_control_ast10x0_g2.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/clock/aspeed,ast10x0-g2-clock.yaml
  dts/riscv/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree, area: Devicetree Binding

dts: ast2700_bootmcu: Reduce SRAM size to 172KB
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

dts: bindings: ast27xx-sdrammc: Add AES yaml
  dts/bindings/riscv/aspeed,ast27xx-sdrammc.yaml
Labels: area: Devicetree, area: Devicetree Binding

ast1040_evb: Rework layout to use full 14MB RAM
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
Labels: area: Devicetree, area: Boards

ast1040_evb: Add ast10x0_g2 cache driver support
  drivers/cache/cache_aspeed.c
Labels: none

ast1080_evb: Rework layout to use full 14MB RAM
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
Labels: area: Devicetree, area: Boards

udc: aspeed: fix vHUB SRAM access on AST1040/AST1080
  drivers/usb/device/usb_dc_aspeed.c
  drivers/usb/udc/udc_aspeed.c
Labels: none

boards: ast1040_evb_cm4: enable udc0, drop duplicate cdc-acm-uart
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
Labels: area: Devicetree, area: Boards

samples: usb: cdc_acm: trim ast1040_evb_cm4 footprint
  samples/subsys/usb/cdc_acm/boards/ast1040_evb_ast1040_cm4.conf
Labels: area: Samples

udc: aspeed: manage TX/RX DMA buffer cache coherency explicitly
  drivers/usb/device/usb_dc_aspeed.c
  drivers/usb/udc/udc_aspeed.c
Labels: none

drivers: misc: otp_ast2700: add AST2700-A2 OTP support and enable on SSP/TSP
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_tsp_defconfig
  drivers/misc/aspeed/lib_otp_ast2700.c
  drivers/misc/aspeed/otp_ast2700.c
  drivers/misc/aspeed/otp_info_ast27xx.h
  dts/arm/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Boards

i2c: ast2600: apply switch DMA and buffer behavior for AST2700
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i2c: aspeed: remove new for function name
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i3c: mipi_hci: Extract vendor product ID from bits [31:16]
  drivers/i3c/mipi_hci/ext_caps.c
Labels: none

pinctrl: aspeed_g7_soc1: reject conflicting ball requests
  drivers/pinctrl/pinctrl_aspeed_g7_soc1.c
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl.h
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl.h
Labels: area: API

dtsi: ast10x0-g2: fix gpio0 ngpios to match physical ball count
  dts/arm/aspeed/ast10x0-g2.dtsi
Labels: area: Devicetree

drivers: gpio: aspeed_g7: auto-request pinmux to GPIO on configure
  drivers/gpio/gpio_aspeed_g7.c
Labels: none

drivers: gpio: aspeed: fix interrupt ack ordering and add level masking
  drivers/gpio/gpio_aspeed.c
  drivers/gpio/gpio_aspeed_g7.c
  drivers/gpio/gpio_aspeed_g7_sgpiom.c
  drivers/gpio/gpio_aspeed_sgpiom.c
Labels: none

drivers: i3c: mipi_hci: drop ASPEED 128-byte payload cap
  drivers/i3c/mipi_hci/core.c
  drivers/i3c/mipi_hci/hci.h
  drivers/i3c/mipi_hci/pio.c
  drivers/i3c/mipi_hci/target.c
  drivers/i3c/mipi_hci/vendor_aspeed.c
  drivers/i3c/mipi_hci/vendor_aspeed.h
Labels: none

drivers: i3c: mipi_hci: Warn when DAA result matches no DT child
  drivers/i3c/mipi_hci/cmd_v1.c
Labels: none

dtsi: ast10x0-g2: fix SGPM1IN/WDT7 ball assignment
  dts/arm/aspeed/ast10x0-g2-pinctrl.dtsi
  include/zephyr/dt-bindings/pinctrl/ast10x0-g2-pinctrl.h
Labels: area: Devicetree, area: API

drivers: cache: aspeed: Make flush_range drain posted writes
  drivers/cache/cache_aspeed.c
Labels: none

drivers: i3c: mipi_hci: Handle the internal error in target mode only
  drivers/i3c/mipi_hci/core.c
Labels: none

drivers: i3c: shell: Enumerate MIPI I3C HCI controllers
  drivers/i3c/i3c_shell.c
Labels: none

i2c: aspeed: separate the transfer starting code by type
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i2c: aspeed: separate controller error interrupt handling
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

spi monitor: Refactor SoC dispatch and fix bugs
  drivers/spi/Kconfig.spi_monitor_aspeed
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
  dts/bindings/spi/aspeed,ast2700-spi-monitor-controller.yaml
  include/zephyr/drivers/misc/aspeed/ast2700_spim.h
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API, area: Samples

spi monitor: Add AST1080 SoC support
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/spi/aspeed,ast1080-spi-monitor-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

spi: aspeed: Add AST1080 SPI0 CS2/CS3 support via analog mux
  boards/aspeed/ast1080_evb/ast1080_evb_cm4.dts
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_aspeed.h
  drivers/spi/spi_aspeed_pin_config.c
  dts/arm/aspeed/ast10x0-g2.dtsi
  dts/bindings/spi/aspeed,spi-common.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
