Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

drivers: otp: add AST1060_A2 revision ID
  drivers/misc/aspeed/otp_aspeed.c
  include/drivers/misc/aspeed/otp_aspeed.h
Labels: area: API

adc: aspeed: Change the paremeter meaning of the adc set rate.
  drivers/adc/aspeed/adc_aspeed.c
  drivers/adc/aspeed/adc_aspeed.h
Labels: area: ADC

i3c: aspeed: Use I2C FM speed for SETHID and DEVCTRL CCCs
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: Remove missing SCL PP timing setting from send_ccc
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Add parity bit of DAT
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Fix uninitialed variable in parity calculation
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Remove unused variables
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Fix typo in LOG_ERR message
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Disable static addressing if it is not required.
  drivers/i3c/i3c_aspeed.c
  dts/bindings/i3c/aspeed,i3c.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: ast2600: Fix wrong check statement of direct CCC
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: ast2600: Add DAT initialization
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: Use "bus" to represent the bus controller in i3c_dev_desc
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/i3c_common.c
  drivers/i3c/i3c_shell.c
  include/drivers/i3c/i3c.h
Labels: area: API

soc: aspeed: change reg_read_poll_timeout() sleep time resolution
  drivers/crypto/crypto_aspeed.c
  drivers/crypto/hash_aspeed.c
  soc/arm/aspeed/aspeed_util.h
Labels: none

i3c: aspeed: drop the problematic and unsupported IBI payloads
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: Add max_payload_size to specify the max IBI payload size
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
  tests/boards/ast1030/src/i3c.c
Labels: area: API, area: Tests

i3c: aspeed: Remove SETMRL CCC from enable_ibi
  drivers/i3c/Kconfig.aspeed
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Cancel the stop when slave has a valid static address
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: shell: Clean up the code
  drivers/i3c/i3c_shell.c
Labels: none

i3c: aspeed: Generate the t-bits low to stop the ibi storm.
  drivers/i3c/i3c_aspeed.c
  soc/arm/aspeed/aspeed_util.h
Labels: none

i3c: aspeed: Support gpio to identify different BIC.
  drivers/i3c/i3c_aspeed.c
  dts/bindings/i3c/aspeed,i3c.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: aspeed: Remove the public api for PID and static address.
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: shell: Add "stress" command for bic-to-bic test
  drivers/i3c/i3c_shell.c
Labels: none

i3c: aspeed: Remove unused function.
  drivers/i3c/i3c_aspeed.c
Labels: none

samples: boards: ast1030_evb: Append PEC to I3C IBI
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

spi_monitor: Add WEAR command
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

ast10x0_evb: remove "reg" from the I3C slave mqueue device
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  tests/boards/ast1030/boards/ast1030_evb.overlay
Labels: area: Samples, area: Tests

i3c: i3c_shell: Revise the stress test flow
  drivers/i3c/i3c_shell.c
Labels: none

drivers: i2c: fix the wrong return value
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i3c: aspeed: Append the ID for ibi parse workaround.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: i3c_shell: Fix the issue of i3c stress command.
  drivers/i3c/i3c_shell.c
Labels: none

arm: aspeed: Update multiple function pin of SPIM
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: none

drivers:i2c:increase i2c data hold time
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers:i2c:add new i2c ac timing parameter
  drivers/i2c/i2c_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: I2C

i3c: aspeed: Ignore the check of ibi update bit for ibi done event
  drivers/i3c/i3c_aspeed.c
Labels: none

spi_monitor: Release control of SPIM output pins when unused
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
Labels: area: SPI, area: API, area: Samples

dcscm: Change spi-max-buswidth property from 4 to 1
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

Revert "spi_monitor: Release control of SPIM output pins when unused"
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
Labels: area: SPI, area: API, area: Samples

spi_monitor: Release control of SPIM CLK output pins
  drivers/spi/spi_aspeed.c
  dts/bindings/spi/aspeed,spi-controller.yaml
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API, area: Samples

spi_monitor: Fix bug for SPI master mode
  drivers/spi/spi_aspeed.c
Labels: area: SPI

adc: aspeed: Support deglitch feature.
  drivers/adc/aspeed/adc_aspeed.c
  include/drivers/adc.h
Labels: area: ADC, area: API
