Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

samples: ast2700_evb: demo: add cptra sample app
  samples/boards/ast2700_evb/demo/Kconfig
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
  samples/boards/ast2700_evb/demo/src/cptra_sample.h
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

soc: ast2700: crypto: add lms self-test
  drivers/crypto/cptra_lms.c
  soc/aspeed/ast27xx/crypto.c
  soc/aspeed/ast27xx/crypto.h
Labels: none

drivers: misc: aspeed: cptra_ipc: add lms verify callback
  drivers/misc/aspeed/cptra_ipc.c
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
Labels: area: API

samples: ast2700_evb: demo: add input for add_subject_alt_name sample
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
Labels: area: Samples

drivers: ipm: ast2600: Fix the SSP and TSP register define
  drivers/ipm/ipm_ast2600.c
Labels: none

drivers: ipm: ast2700: Fix wait with IPCR_STATUS check
  drivers/ipm/ipm_ast2700.c
Labels: none

drivers: ipm: Refine the ipm_send
  drivers/ipm/ipm_ast2600.c
  drivers/ipm/ipm_ast2700.c
  drivers/ipm/ipm_bootmcu.c
Labels: none

drivers: ipm: bootmcu: Set thread name for IPC thread
  drivers/ipm/ipm_bootmcu.c
Labels: none

drivers: ipm: Refactor message data check and update send logic
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

samples: ast2700_evb: demo: Split IPC sample
  drivers/ipm/ipm_bootmcu.c
  samples/boards/ast2700_evb/demo/src/ipc_sample.c
  samples/boards/ast2700_evb/demo/src/ipc_sample.h
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

drivers: ipm: Update logging to use LOG_INF and LOG_ERR
  samples/boards/ast2700_evb/demo/src/ipc_sample.c
Labels: area: Samples

drivers: ipm: Update IPC sample and bootmcu logging for clarity
  drivers/ipm/ipm_bootmcu.c
  samples/boards/ast2700_evb/demo/src/ipc_sample.c
Labels: area: Samples

ast1060: Add an udelay in the spim_isr
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spim_isr.c
Labels: area: Samples

drivers:cache_ast27xx: Force all memory area be cached
  drivers/cache/cache_ast27xx.c
Labels: none

drivers: ipm: Change logging to LOG_DBG for IPC thread status
  drivers/ipm/ipm_bootmcu.c
Labels: none

samples: boards: ast2700_evb: Turn off log message by default
  samples/boards/ast2700_evb/demo/prj.conf
Labels: area: Samples

soc: aspeed: Fix address translation for AST2700 SSP
  soc/aspeed/ast27xx/soc.c
Labels: none

spi_monitor: Fix abnormal log size calculation method
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

samples: ipc: Replace printk with LOG_INF for newline logging
  samples/boards/ast2700_evb/demo/src/ipc_sample.c
Labels: area: Samples

samples: boards: ast2700_evb: set default log level to warn
  samples/boards/ast2700_evb/demo/prj.conf
Labels: area: Samples

boards: ast2700_evb: Disable eSPI configuration to prevent potential issues
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
Labels: area: Boards

drivers: misc: aspeed: add cptra_ipc_ssp driver
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/cptra_ipc_ssp.c
  include/zephyr/drivers/ipm.h
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
Labels: area: API

samples: boards: ast2700_evb: demo: refactoring cptra sample
  samples/boards/ast2700_evb/demo/Kconfig
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.conf
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

boards: ast2700_evb: ssp: enable CPTRA_IPC_SSP config
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
Labels: area: Boards

samples: boards: ast2700_evb: bootmcu: remove cptra sample
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.conf
Labels: area: Samples

spi_monitor: Remove unnecessary pin config
  include/zephyr/dt-bindings/pinctrl/ast10x0-pinctrl-groups.h
Labels: area: API

boards: ast2700_evb: Replace soc0/1 with intc0/1 and ipc0/1
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
  drivers/interrupt_controller/intc_ast27xx.c
  drivers/ipm/ipm_ast2700.c
  dts/arm/aspeed/ast27xx-a0.dtsi
  dts/arm/aspeed/ast27xx-a0_ssp.dtsi
  dts/arm/aspeed/ast27xx-a0_tsp.dtsi
  dts/arm/aspeed/ast27xx.dtsi
  dts/arm/aspeed/ast27xx_ssp.dtsi
  dts/arm/aspeed/ast27xx_tsp.dtsi
  dts/bindings/ipm/aspeed,ast2700-ipc.yaml
  dts/riscv/aspeed/ast27xx.dtsi
  samples/drivers/ipm/ipm_aspeed/Kconfig
  samples/drivers/ipm/ipm_aspeed/boards/ast2700_evb_ast2700-a0_ssp.overlay
  samples/drivers/ipm/ipm_aspeed/boards/ast2700_evb_ast2700-a0_tsp.overlay
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: Samples

drivers: cptra: Rename IPC device define to pair name
  drivers/misc/aspeed/cptra_ipc.c
  drivers/misc/aspeed/cptra_ipc_ssp.c
  samples/boards/ast2700_evb/demo/src/ipc_sample.c
Labels: area: Samples

samples: boards: ast2700_evb: demo: ssp: increase shell stack size
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
Labels: area: Samples

drivers: misc: aspeed: cptra_ipc_ssp: fix copy wrong input address
  drivers/misc/aspeed/cptra_ipc_ssp.c
Labels: none

samples: boards: ast2700_evb: demo: add cptra crypto tests
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
  samples/boards/ast2700_evb/demo/src/cptra_sample.h
Labels: area: Samples

samples: boards: ast2700_evb: demo: fix build warning
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
Labels: area: Samples

dts: arm: aspeed: ast27xx: add rng device node
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
  dts/arm/aspeed/ast27xx.dtsi
  dts/arm/aspeed/ast27xx_ssp.dtsi
Labels: area: Devicetree, area: Boards

AST2700 irot: spi: Add support for SPI nor flash functions
  drivers/spi/Kconfig.aspeed
  drivers/spi/spi_aspeed_ast2700.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
  dts/bindings/spi/aspeed,spi-controller.yaml
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Samples

ast2700: spi: Rename for getting SPI memory FIFO offset
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

samples: ast2700: Add image loader functions
  samples/boards/ast2700_evb/demo/src/boot.c
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

AST2700: Load image only when SSP is built
  samples/boards/ast2700_evb/demo/Kconfig
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

ram_console: add device_map
  drivers/console/ram_console.c
Labels: none

samples: boards: ast2700_evb: demo: add cptra_fw_upload sample
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
Labels: area: Samples

dts: support bootmcu ram console
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Devicetree, area: Boards

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
