Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

drivers: i2c: shell: Update swmbx_update_protect usage
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: i2c: shell: Apply swmbx_update_notify for shell usage
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: i2c: shell: Apply swmbx_update_fifo usage
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: i2c: shell: Add back cpu r/w/flush for swmbx
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: Kconfig: Add swmbx slave kconfig dependency
  drivers/i2c/slave/Kconfig
Labels: area: I2C

drivers: include: swmbx: Move include file
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/swmbx.c
  drivers/i2c/slave/swmbx_slave.c
  include/drivers/i2c/pfr/swmbx.h
Labels: area: I2C, area: API

drivers: swmbx: Merge swmbx info into node structure
  drivers/i2c/pfr/swmbx.c
  include/drivers/i2c/pfr/swmbx.h
Labels: area: I2C, area: API

drivers: i2c: Add master / slave timeout behavior
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Add handling pending slave RX without stop
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

spi_monitor: shell: Fix typo
  drivers/spi/spi_monitor_shell.c
Labels: area: SPI

drivers: otp: add support for AST1060A1
  boards/arm/ast1060_evb/key/test_oem_dss_private_key_ecdsa384_0.pem
  boards/arm/ast1060_evb/key/test_oem_dss_private_key_ecdsa384_1.pem
  boards/arm/ast1060_evb/key/test_oem_dss_private_key_ecdsa384_2.pem
  boards/arm/ast1060_evb/key/test_oem_dss_private_key_ecdsa384_3.pem
  boards/arm/ast1060_evb/key/test_oem_dss_private_key_ecdsa384_4.pem
  boards/arm/ast1060_evb/key/test_oem_dss_public_key_ecdsa384_0.pem
  boards/arm/ast1060_evb/key/test_oem_dss_public_key_ecdsa384_1.pem
  boards/arm/ast1060_evb/key/test_oem_dss_public_key_ecdsa384_2.pem
  boards/arm/ast1060_evb/key/test_oem_dss_public_key_ecdsa384_3.pem
  boards/arm/ast1060_evb/key/test_oem_dss_public_key_ecdsa384_4.pem
  boards/arm/ast1060_evb/otp_config/1060A1_ECDSA.json
  boards/arm/ast1060_evb/otp_config/1060A1_ECDSA_RSA2048_o2.json
  boards/arm/ast1060_evb/otp_config/1060A1_ECDSA_RSA3072_o2.json
  boards/arm/ast1060_evb/otp_config/1060A1_ECDSA_RSA4096_o2.json
  boards/arm/ast1060_evb/otp_config/1060A1_ECDSA_o1.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA2048_SHA256.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA2048_SHA256_o1.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA2048_SHA256_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA3072_SHA384.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA3072_SHA384_o1.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA3072_SHA384_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA4096_SHA512.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA4096_SHA512_o1.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSA4096_SHA512_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_2048_SHA256.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_2048_SHA256_o1.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_2048_SHA256_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_3072_SHA384.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_3072_SHA384_o1.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_3072_SHA384_o2_pub.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_4096_SHA512.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_4096_SHA512_o1.json
  boards/arm/ast1060_evb/otp_config/1060A1_RSAPSS_4096_SHA512_o2_pub.json
  drivers/otp/otp_shell.c
Labels: area: Boards

drivers/crypto: Aspeed ecdsa driver
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/ecdsa_aspeed.c
  drivers/crypto/ecdsa_aspeed_priv.h
  drivers/crypto/ecdsa_shell.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/crypto/aspeed,ecdsa.yaml
  include/crypto/ecdsa.h
  include/crypto/ecdsa_structs.h
  samples/boards/ast1060_evb/demo_extmux/prj.conf
  samples/boards/ast1060_evb/demo_passthrough/prj.conf
  tests/boards/ast1030/prj.conf
Labels: area: Devicetree, area: Devicetree Binding, area: API, area: Samples, area: Tests

peci: aspeed: Avoid race condition of accessing peci device.
  drivers/peci/peci_aspeed.c
Labels: none

samples: ast1030_evb: Add the uart bin-xfer sample.
  samples/boards/ast1030_evb/uart_bin_xfer/CMakeLists.txt
  samples/boards/ast1030_evb/uart_bin_xfer/README.rst
  samples/boards/ast1030_evb/uart_bin_xfer/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/uart_bin_xfer/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/uart_bin_xfer/prj.conf
  samples/boards/ast1030_evb/uart_bin_xfer/sample.yaml
  samples/boards/ast1030_evb/uart_bin_xfer/src/main.c
  samples/boards/ast1030_evb/uart_bin_xfer/src/uart_binay_xfer_shell.c
Labels: area: Samples, area: Documentation

drivers: i2c: Add master read size check
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

dt-bindings: misc/aspeed: Add LPC PCC
  dts/bindings/misc/aspeed,pcc.yaml
Labels: area: Devicetree, area: Devicetree Binding

samples: misc/aspeed: Add sample code for LPC PCC
  samples/drivers/misc/aspeed/pcc/CMakeLists.txt
  samples/drivers/misc/aspeed/pcc/boards/ast1030_evb.conf
  samples/drivers/misc/aspeed/pcc/boards/ast1030_evb.overlay
  samples/drivers/misc/aspeed/pcc/prj.conf
  samples/drivers/misc/aspeed/pcc/sample.yaml
  samples/drivers/misc/aspeed/pcc/src/main.c
Labels: area: Samples

drivers: misc/aspeed: Add LPC PCC support
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/pcc_aspeed.c
  include/drivers/misc/aspeed/pcc_aspeed.h
Labels: area: API

ARM: dts: ast10x0: Add LPC PCC
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

drivers: pfr: Remove HW mailbox and snoop driver config
  drivers/i2c/pfr/Kconfig
Labels: area: I2C

i3c: aspeed: fix i3c register 0xec bit field
  drivers/i3c/i3c_aspeed.c
Labels: none

samples: ast1060: Rename GPIO property names
  drivers/misc/aspeed/pfr_ast1060.c
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_extmux/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_extmux/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_gpio.h
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_passthrough/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_gpio.h
Labels: area: Samples

aspeed: dc-scm: Aspeed DC-SCM support
  drivers/misc/aspeed/pfr_ast1060.c
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/CMakeLists.txt
  samples/boards/ast1060_evb/demo_dcscm/Kconfig
  samples/boards/ast1060_evb/demo_dcscm/README.rst
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_dcscm/prj.conf
  samples/boards/ast1060_evb/demo_dcscm/sample.yaml
  samples/boards/ast1060_evb/demo_dcscm/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_gpio.h
  samples/boards/ast1060_evb/demo_dcscm/src/demo_i2c_filter.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spi_read.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_wdt.c
  samples/boards/ast1060_evb/demo_dcscm/src/main.c
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API, area: Samples, area: Documentation

aspeed: dc-scm: Update i2c filter setting
  samples/boards/ast1060_evb/demo_dcscm/src/demo_i2c_filter.c
  samples/boards/ast1060_evb/demo_dcscm/src/main.c
Labels: area: Samples

aspeed: dc-scm: Add swmbx driver / device config
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

aspeed: dc-scm: Update swmbx dts and add swmbx demo code
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/src/demo_swmbx.c
  samples/boards/ast1060_evb/demo_dcscm/src/main.c
Labels: area: Samples

pfr: DC-SCM early bring up
  drivers/misc/aspeed/pfr_ast1060.c
  drivers/misc/aspeed/pfr_shell.c
  drivers/spi/spi_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/Kconfig
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_dcscm/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spi_read.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_dcscm/src/main.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_extmux/src/main.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_bmc_rst_notify.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_passthrough/src/main.c
  soc/arm/aspeed/ast10x0/soc.c
Labels: area: SPI, area: API, area: Samples

pfr: dc-scm: AST1030 early bring up
  drivers/misc/aspeed/pfr_ast1060.c
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_dcscm/src/demo_ast1030_img_xfer.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_wdt.c
Labels: area: Samples

clk: ast10x0: Switch reset source for UART1/2/3/4
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

pfr: dc-scm: ast1030: Create sample folder
  samples/boards/ast1030_evb/demo_dcscm/CMakeLists.txt
  samples/boards/ast1030_evb/demo_dcscm/README.rst
  samples/boards/ast1030_evb/demo_dcscm/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo_dcscm/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo_dcscm/prj.conf
  samples/boards/ast1030_evb/demo_dcscm/sample.yaml
  samples/boards/ast1030_evb/demo_dcscm/src/demo_wdt.c
  samples/boards/ast1030_evb/demo_dcscm/src/main.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_ast1030_img_xfer.c
Labels: area: Samples, area: Documentation

Revert "pfr: dc-scm: ast1030: Create sample folder"
  samples/boards/ast1030_evb/demo_dcscm/CMakeLists.txt
  samples/boards/ast1030_evb/demo_dcscm/README.rst
  samples/boards/ast1030_evb/demo_dcscm/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo_dcscm/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo_dcscm/prj.conf
  samples/boards/ast1030_evb/demo_dcscm/sample.yaml
  samples/boards/ast1030_evb/demo_dcscm/src/demo_wdt.c
  samples/boards/ast1030_evb/demo_dcscm/src/main.c
Labels: area: Samples, area: Documentation

Revert "pfr: dc-scm: AST1030 early bring up"
  drivers/misc/aspeed/pfr_ast1060.c
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/dts/bindings/demo,gpio_basic_api.yaml
  samples/boards/ast1060_evb/demo_dcscm/src/demo_ast1030_img_xfer.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
Labels: area: Samples

pfr: dc-scm: Add support for FMC_CS1 flash
  drivers/flash/spi_nor_multi_dev.c
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spi_read.c
Labels: area: Samples

aspeed: dc-scm: Update i2c filter and swmbx from real connected
  samples/boards/ast1060_evb/demo_dcscm/src/demo_i2c_filter.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_swmbx.c
Labels: area: Samples

aspeed: dc-scm: Add printk with changed new line
  samples/boards/ast1060_evb/demo_dcscm/src/demo_i2c_filter.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_swmbx.c
Labels: area: Samples

aspeed: dc_scm: Update swmbx index
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

aspeed: dc_scm: Remove i2c3 for gpio usage
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
Labels: area: Samples

drivers: i2c: Update default 100KHz setting
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

libc/minimal: locate the memory pool for malloc() to .bss
  lib/libc/minimal/source/stdlib/malloc.c
Labels: area: C Library

spim: Add SW reset API for SPI monitor controller
  drivers/spi/spi_monitor_aspeed.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_dcscm/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_spim_isr.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_passthrough/src/demo_spim_isr.c
Labels: area: SPI, area: API, area: Samples
