Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

drivers/i3c: add ibi receiving of the main master
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

samples/drivers/i3c: add sir/ibi loopback sample
  drivers/i3c/Kconfig.aspeed
  samples/drivers/i3c/prj.conf
  samples/drivers/i3c/src/main.c
Labels: area: Samples

drivers/i3c: rename structure of the i3c device
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/i3c_common.c
  include/drivers/i3c/i3c.h
  samples/drivers/i3c/src/main.c
Labels: area: API, area: Samples

drivers/i3c/aspeed: revise the ibi config data
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: mailbox: change code structure
  drivers/i2c/pfr/i2c_mailbox.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c-mbx.yaml
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: API

shell: i2c: add mailbox init command
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: adc: aspeed: Fix the unit name.
  drivers/adc/aspeed/adc_aspeed.c
Labels: area: ADC

shell: i2c: add mbx addr/enable command
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_mailbox.c
  include/drivers/i2c/pfr/i2c_mailbox.h
Labels: area: I2C, area: API

drivers/i3c/aspeed: add callback function to parse ibi status
  drivers/i3c/i3c_aspeed.c
Labels: none

dts/arm/aspeed: use hvi3c0 and hvi3c1 by default
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

include/drivers/i3c: add comments
  include/drivers/i3c/i3c.h
Labels: area: API

shell: i2c: add mbx notify/protect command
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_mailbox.c
Labels: area: I2C

samples/drivers/i3c: replace i3c_master_aspeed* to i3c_master*
  include/drivers/i3c/i3c.h
  samples/drivers/i3c/src/main.c
Labels: area: API, area: Samples

drivers: gpio: aspeed: Support persistent feature.
  drivers/gpio/gpio_aspeed.c
  dts/bindings/gpio/aspeed,gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: gpio: aspeed: Get cmd src init ret value
  drivers/gpio/gpio_aspeed.c
Labels: none

drivers: gpio: aspeed: Use default value in yaml.
  drivers/gpio/gpio_aspeed.c
  dts/bindings/gpio/aspeed,gpio.yaml
Labels: area: Devicetree, area: Devicetree Binding

boards/arm/ast1030_evb: add ast1060_evb
  boards/arm/ast1030_evb/Kconfig.board
  boards/arm/ast1030_evb/Kconfig.defconfig
  boards/arm/ast1030_evb/ast1060_evb.dts
  boards/arm/ast1030_evb/ast1060_evb.yaml
  boards/arm/ast1030_evb/ast1060_evb_defconfig
  samples/boards/ast1030_evb/demo/boards/ast1060_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1060_evb.overlay
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.ast1060
  soc/arm/aspeed/ast10x0/Kconfig.soc
Labels: area: Devicetree, area: Boards, area: Samples

shell: i2c: add mbx FIFO command
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/i2c_mailbox.c
Labels: area: I2C

usb: refine aspeed udc driver
  drivers/usb/CMakeLists.txt
  drivers/usb/Kconfig
  drivers/usb/device/usb_dc_aspeed.c
  drivers/usb/usb_shell.c
Labels: none

samples: ast1030_evb: demo: enable SHELL_CMDS_USB
  samples/boards/ast1030_evb/demo/prj.conf
  samples/boards/ast1030_evb/usb/cdc_acm/prj.conf
  samples/boards/ast1030_evb/usb/console/prj.conf
Labels: area: Samples

samples/drivers/i3c: get slave address from the bus name
  samples/drivers/i3c/src/main.c
Labels: area: Samples

test: i2c: add more print for show
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

tests/boards/ast1030: add i3c CI test
  tests/boards/ast1030/boards/ast1030_evb.conf
  tests/boards/ast1030/boards/ast1030_evb.overlay
  tests/boards/ast1030/prj.conf
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

drivers/i3c: remove unnecessary malloc
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers/i3c: remove redundant position search
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers/i3c/slave: bug fixed of the incorrect pointer updating
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

tests/boards/ast1030: do multiple times of the i3c test
  tests/boards/ast1030/src/i3c.c
Labels: area: Tests

drivers/i3c: add __ASSERT for the memory allocation
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers/i3c: fix typo
  drivers/i3c/i3c_aspeed.c
Labels: none

dts/bindings/i3c: make property "secondary" be boolean
  dts/bindings/i3c/aspeed,i3c.yaml
  samples/drivers/i3c/loopback.overlay
  tests/boards/ast1030/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples, area: Tests

dts/bindings/i3c: add pull-up resistor configuration
  drivers/i3c/i3c_global_aspeed.c
  dts/bindings/i3c/aspeed,i3c-global.yaml
  samples/drivers/i3c/boards/ast1030_evb.overlay
  samples/drivers/i3c/boards/ast2600_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

dts: i2c-filter: update for i2c-filter change
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c-filter.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: i2c: i2c filter update for new design
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

drivers/i3c: add i3c shell
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/i3c_shell.c
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Samples

dts: i2c-filter: fix the register range typo
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

drivers/i3c: add shell command for i3c slave mqueue
  drivers/i3c/i3c_shell.c
Labels: none

dts: i2c-filter: update dts structure
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/i2c/aspeed,i2c-filter.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: arm: ast10x0: Fix unused gpio pin
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

usb: refine USB related configs
  boards/arm/ast1030_evb/Kconfig.defconfig
  drivers/usb/device/Kconfig
  drivers/usb/device/usb_dc_aspeed.c
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  tests/boards/ast1030/boards/ast1030_evb.conf
  tests/boards/ast1030/prj.conf
  tests/boards/ast1030/src/usb.c
Labels: area: Boards, area: Samples, area: Tests

ast1030_evb: add ast1030_ft board configs
  boards/arm/ast1030_evb/Kconfig.board
  boards/arm/ast1030_evb/Kconfig.defconfig
  tests/boards/ast1030/boards/ast1030_ft.conf
  tests/boards/ast1030/boards/ast1030_ft.overlay
  tests/boards/ast1030/boards/ast1030_slt.conf
  tests/boards/ast1030/src/adc.c
  tests/boards/ast1030/src/main.c
  tests/boards/ast1030/src/pwm_tach.c
Labels: area: Boards, area: Tests
