Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

sys: util: add FIELD_GET and FIELD_PREP macros
  include/sys/util.h
Labels: area: API

clk: ast10x0: revise i3c core clock rate
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

tests: adc: Change the golden value for CI
  tests/boards/ast1030/src/adc.c
Labels: area: Tests

dts/bindings/i3c: add properties to control i3c scl high/low periods
  dts/bindings/i3c/aspeed,i3c.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: aspeed: set I3C timing according to the aspeed DT properties
  drivers/i3c/i3c_aspeed.c
Labels: none

ARM: dts: aspeed: Add properties for I3C SCL fine-tuning
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

ARM: aspeed: move SYS_CLOCK_HW_CYCLES_PER_SEC to SoC Kconfig
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast1060_evb/ast1060_evb_defconfig
  boards/arm/ast2600_evb/ast2600_evb_defconfig
  boards/arm/ast2600_evb/ast2605_evb_defconfig
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.series
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.series
Labels: area: Boards

i3c: aspeed: refactor the isr
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: sync slave api name to aspeed sdk kernel v5.15
  drivers/i3c/i3c_aspeed.c
  drivers/i3c/slave/i3c_slave_mqueue.c
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: aspeed: add APIs to get slave DA and event enabling
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: check hardware availability before sending message
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

i3c: common: add DISEC CCC
  drivers/i3c/i3c_common.c
  include/drivers/i3c/i3c.h
Labels: area: API

otp: fix otp_info for ast_10xx
  drivers/otp/otp_info_10xx.h
Labels: none

spi-monitor: Add 50h command support
  samples/boards/ast1060_evb/demo_dcscm/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.overlay
Labels: area: Samples

i3c: slave: mqueue: add build assertion for init priority
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

clk: ast10x0: parse PCLK rate from SCU310 register
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

crypto: add AES crypto cypher
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/crypto_aspeed.c
  drivers/crypto/crypto_aspeed_priv.h
  drivers/crypto/crypto_shell.c
  drivers/crypto/hace_aspeed.c
  drivers/crypto/hace_aspeed.h
  drivers/crypto/hash_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

crypto: aspeed: add cypher with vault key sample code
  drivers/crypto/crypto_shell.c
Labels: none

dts: bindings: Add bindings Aspeed AST2600 IPC
  dts/bindings/ipm/aspeed,ast2600-ipc.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: ipm: Add Aspeed AST2600 IPM driver
  drivers/ipm/CMakeLists.txt
  drivers/ipm/Kconfig
  drivers/ipm/ipm_ast2600.c
Labels: none

ARM: dts: aspeed: Add AST2600 IPC hardware block
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

samples: openamp: Add AST2600_EVB remote target support
  samples/subsys/ipc/openamp/remote/CMakeLists.txt
  samples/subsys/ipc/openamp/remote/boards/ast2600_evb.conf
  samples/subsys/ipc/openamp/remote/boards/ast2600_evb.overlay
Labels: area: Samples

i3c: add SETHID CCC support
  drivers/i3c/i3c_common.c
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: aspeed: use OD SCL as PP SCL when sending SETHID CCC
  drivers/i3c/i3c_aspeed.c
Labels: none

samples: i3c: send SETHID before SETAASA
  samples/drivers/i3c/src/main.c
Labels: area: Samples

i3c: aspeed: add API to set the static address in slave mode
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

boards: arm: ast2600_evb: remove ast2605 support
  boards/arm/ast2600_evb/Kconfig.board
  boards/arm/ast2600_evb/Kconfig.defconfig
  boards/arm/ast2600_evb/ast2605_evb.dts
  boards/arm/ast2600_evb/ast2605_evb.yaml
  boards/arm/ast2600_evb/ast2605_evb_defconfig
Labels: area: Devicetree, area: Boards

soc: arm: aspeed: remove ast2605 soc support
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.ast2605
  soc/arm/aspeed/ast26xx/Kconfig.soc
  soc/arm/aspeed/ast26xx/soc.c
Labels: none

spi_monitor: Remove unused driver sgpio.
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
Labels: area: Samples

drivers: entropy: aspeed: add entropy driver based on Aspeed RNG
  drivers/entropy/CMakeLists.txt
  drivers/entropy/Kconfig
  drivers/entropy/Kconfig.aspeed
  drivers/entropy/entropy_aspeed_trng.c
  drivers/entropy/random_shell.c
Labels: none

ARM: dts: ast10x0: Add RNG
  boards/arm/ast1030_evb/ast1030_evb.dts
  boards/arm/ast1060_evb/ast1060_evb.dts
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree, area: Boards

dts: bindings: Add dt-bindings for Aspeed HWRNG
  dts/bindings/rng/aspeed,hwrng.yaml
Labels: area: Devicetree, area: Devicetree Binding

samples: ast10x0_evb: add Aspeed entropy driver support
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1060_evb/demo_dcscm/prj.conf
  samples/boards/ast1060_evb/demo_extmux/prj.conf
Labels: area: Samples

i2c:drivers:aspeed:Fix register i2c slave code behavior
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

clk: ast10x0: translate i3c clock divider by formula
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

clk: ast10x0: parse HCLK rate from SCU314
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

clk: ast10x0: remove hard-coding
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

drivers: clock: remove ASPEED_CLK_APB1 from ast10x0 series soc
  drivers/clock_control/clock_control_ast10x0.c
  dts/arm/aspeed/ast10x0.dtsi
  include/dt-bindings/clock/ast10x0_clock.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

drivers: i2c_filter: Calcultion timeout count from pclk query
  drivers/i2c/pfr/i2c_filter.c
  dts/arm/aspeed/ast10x0.dtsi
  include/drivers/i2c/pfr/i2c_filter.h
  soc/arm/aspeed/ast10x0/CMakeLists_k.txt
Labels: area: Devicetree, area: I2C, area: API

drivers: soc: Delete dummy make file
  soc/arm/aspeed/ast10x0/CMakeLists_k.txt
Labels: none
