Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

drivers: sgpiom: Add driver for aspeed sgpiom.
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig.aspeed
  drivers/gpio/gpio_aspeed_sgpiom.c
  drivers/gpio/gpio_aspeed_sgpiom.h
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/gpio/aspeed,sgpiom.yaml
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

drivers: jtag: Add jtag driver for aspeed SoCs
  boards/arm/ast1030_evb/ast1030_evb_defconfig
  boards/arm/ast1060_evb/ast1060_evb_defconfig
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/jtag/CMakeLists.txt
  drivers/jtag/Kconfig
  drivers/jtag/Kconfig.aspeed
  drivers/jtag/jtag_aspeed.c
  drivers/jtag/jtag_aspeed.h
  drivers/jtag/jtag_shell.c
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/jtag/aspeed,jtag.yaml
  include/zephyr/drivers/jtag.h
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  soc/arm/aspeed/aspeed_util.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API, area: Samples

drivers: peci: Support aspeed peci controller
  drivers/peci/CMakeLists.txt
  drivers/peci/Kconfig
  drivers/peci/Kconfig.aspeed
  drivers/peci/peci_aspeed.c
  drivers/peci/peci_aspeed.h
  drivers/peci/peci_shell.c
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/peci/aspeed,peci.yaml
  include/zephyr/drivers/peci.h
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
Labels: area: Devicetree, area: Devicetree Binding, area: API, area: Samples

samples: ast1030: Update evb overlay
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

pinmux: aspeed: Disable the internal PU for i2c/i3c pin
  drivers/pinmux/aspeed/pinmux_aspeed.c
Labels: none

drivers: crypto: hash: fix uninitialized warning
  drivers/crypto/hash_shell.c
Labels: none

drivers: crypto: hash: add cache invalidate after HW triggered
  drivers/crypto/hash_aspeed.c
Labels: none

west.yml: Remove unnecessary modules.
  west.yml
Labels: area: Modules

soc: aspeed: Disable LINKER_LAST_SECTION_ID
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.series
  soc/arm/aspeed/ast27x0/Kconfig.defconfig.series
Labels: none

boards: Add Aspeed AST2700_EVB boards
  boards/arm/ast2700_evb/Kconfig.board
  boards/arm/ast2700_evb/Kconfig.defconfig
  boards/arm/ast2700_evb/ast2700_ssp_evb.dts
  boards/arm/ast2700_evb/ast2700_ssp_evb.yaml
  boards/arm/ast2700_evb/ast2700_ssp_evb_defconfig
  boards/arm/ast2700_evb/ast2700_tsp_evb.dts
  boards/arm/ast2700_evb/ast2700_tsp_evb.yaml
  boards/arm/ast2700_evb/ast2700_tsp_evb_defconfig
  dts/arm/aspeed/ast27x0.dtsi
Labels: area: Devicetree, area: Boards

soc: arm: ast27x0: Update linker script file
  soc/arm/aspeed/ast27x0/linker.ld
Labels: none

soc: aspeed: Correct the image size
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast27x0/soc.c
Labels: none

shell: devmem: Refacfor md/mw commands
  subsys/shell/modules/devmem_service.c
Labels: area: Shell

shell: devmem: Refacfor md/mw commands
  subsys/shell/modules/mem_service.c
Labels: area: Shell

i3c: Remove '\n' from the log messages
  drivers/i3c/i3c_aspeed.c
Labels: none

soc: arm: ast26xx: Split shared memory from NC memory.
  soc/arm/aspeed/aspeed_util.h
  soc/arm/aspeed/ast26xx/linker.ld
  soc/arm/aspeed/ast26xx/nocache.ld
Labels: none

samples: ast2600_evb: Add aspeed IPM support.
  samples/drivers/ipm/ipm_aspeed/CMakeLists.txt
  samples/drivers/ipm/ipm_aspeed/Kconfig
  samples/drivers/ipm/ipm_aspeed/boards/ast2600_evb.overlay
  samples/drivers/ipm/ipm_aspeed/prj.conf
  samples/drivers/ipm/ipm_aspeed/sample.yaml
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

dts: ast1060: Remove mailbox controller yaml
  dts/bindings/i2c/aspeed,i2c-mbx.yaml
Labels: area: Devicetree, area: Devicetree Binding

board: arm: Add Aspeed AST2600 SSP EVB support
  boards/arm/ast2600_evb/CMakeLists.txt
  boards/arm/ast2600_evb/Kconfig.board
  boards/arm/ast2600_evb/Kconfig.defconfig
  boards/arm/ast2600_evb/ast2600_ssp_evb.dts
  boards/arm/ast2600_evb/ast2600_ssp_evb.yaml
  boards/arm/ast2600_evb/ast2600_ssp_evb_defconfig
  boards/arm/ast2600_evb/board.cmake
  boards/arm/ast2600_evb/tools/ast2600_download.runscript
  boards/arm/ast2600_evb/tools/ast2600_uart_download.ttl
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_aspeed.c
  drivers/clock_control/CMakeLists.txt
  drivers/clock_control/Kconfig.aspeed
  drivers/clock_control/clock_control_ast26xx.c
  drivers/pinctrl/pinctrl_aspeed.c
  dts/arm/aspeed/ast26xx-pinctrl.dtsi
  dts/arm/aspeed/ast26xx.dtsi
  dts/bindings/clock/aspeed,ast26xx-clock.yaml
  include/zephyr/dt-bindings/clock/ast26xx_clock.h
  include/zephyr/dt-bindings/pinctrl/ast26xx-pinctrl-groups.h
  include/zephyr/dt-bindings/pinctrl/ast26xx-pinctrl.h
  include/zephyr/dt-bindings/reset/ast26xx_reset.h
  soc/arm/aspeed/Kconfig
  soc/arm/aspeed/ast26xx/CMakeLists.txt
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.ast2600
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.series
  soc/arm/aspeed/ast26xx/Kconfig.series
  soc/arm/aspeed/ast26xx/Kconfig.soc
  soc/arm/aspeed/ast26xx/linker.ld
  soc/arm/aspeed/ast26xx/nocache.ld
  soc/arm/aspeed/ast26xx/pinctrl_soc.h
  soc/arm/aspeed/ast26xx/sboot.ld
  soc/arm/aspeed/ast26xx/soc.c
  soc/arm/aspeed/ast26xx/soc.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API

shell: devmem: Refine the 'md' command
  subsys/shell/modules/devmem_service.c
Labels: area: Shell

shell: devmem: Refine the 'md' command
  subsys/shell/modules/mem_service.c
Labels: area: Shell

soc: ast2700: Refactor syscon nodes
  drivers/clock_control/clock_control_ast27xx_cpu.c
  drivers/clock_control/clock_control_ast27xx_io.c
  drivers/reset/reset_ast27xx.c
  dts/arm/aspeed/ast27x0.dtsi
Labels: area: Devicetree

sample: ast2600_evb: ipm: Write RX data into TX and poke CA7.
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

drivers: cache: Add Aspeed AST27X0 SSP/TSP cache driver
  drivers/cache/CMakeLists.txt
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_ast27x0.c
Labels: none

dts: aspeed: Add AST27x0 cache devices
  dts/arm/aspeed/ast27x0.dtsi
  dts/arm/aspeed/ast27x0_ssp.dtsi
  dts/arm/aspeed/ast27x0_tsp.dtsi
Labels: area: Devicetree

soc: ast27xx: Enable instruction and data caches
  soc/arm/aspeed/ast27x0/Kconfig.series
  soc/arm/aspeed/ast27x0/soc.c
Labels: none

board: ast2600_evb: Use KB to represent the memory size
  boards/arm/ast2600_evb/ast2600_ssp_evb.dts
Labels: area: Devicetree, area: Boards

boards: Fix the TSP frequency in AST2700_EVB board.
  boards/arm/ast2700_evb/ast2700_ssp_evb.dts
  boards/arm/ast2700_evb/ast2700_tsp_evb.dts
  boards/arm/ast2700_evb/ast2700_tsp_evb_defconfig
  boards/arm/ast2700_fpga/ast2700_ssp_fpga.dts
  boards/arm/ast2700_fpga/ast2700_tsp_fpga.dts
Labels: area: Devicetree, area: Boards

board: arm: Remove ast2700_fpga boards
  boards/arm/ast2700_fpga/Kconfig.board
  boards/arm/ast2700_fpga/Kconfig.defconfig
  boards/arm/ast2700_fpga/ast2700_ssp_fpga.yaml
  boards/arm/ast2700_fpga/ast2700_ssp_fpga_defconfig
  boards/arm/ast2700_fpga/ast2700_tsp_fpga.yaml
  boards/arm/ast2700_fpga/ast2700_tsp_fpga_defconfig
Labels: area: Boards

soc: aspeed: Declare the non-cached memory in DTS
  boards/arm/ast1030_evb/ast1030_evb.dts
  boards/arm/ast1060_evb/ast1060_evb.dts
  boards/arm/ast2600_evb/ast2600_ssp_evb.dts
  boards/arm/ast2700_evb/ast2700_ssp_evb.dts
  boards/arm/ast2700_evb/ast2700_tsp_evb.dts
  dts/arm/aspeed/ast27x0.dtsi
  soc/arm/aspeed/aspeed_util.h
  soc/arm/aspeed/ast10x0/CMakeLists.txt
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.ast1030
  soc/arm/aspeed/ast10x0/Kconfig.defconfig.ast1060
  soc/arm/aspeed/ast10x0/Kconfig.soc
  soc/arm/aspeed/ast10x0/linker.ld
  soc/arm/aspeed/ast10x0/nocache.ld
  soc/arm/aspeed/ast10x0/soc.c
  soc/arm/aspeed/ast26xx/CMakeLists.txt
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.ast2600
  soc/arm/aspeed/ast26xx/Kconfig.soc
  soc/arm/aspeed/ast26xx/linker.ld
  soc/arm/aspeed/ast26xx/nocache.ld
  soc/arm/aspeed/ast26xx/soc.c
  soc/arm/aspeed/ast27x0/CMakeLists.txt
  soc/arm/aspeed/ast27x0/Kconfig.defconfig.ast2700
  soc/arm/aspeed/ast27x0/Kconfig.soc
  soc/arm/aspeed/ast27x0/linker.ld
  soc/arm/aspeed/ast27x0/nocache.ld
  soc/arm/aspeed/ast27x0/soc.c
Labels: area: Devicetree, area: Boards

boards: arm: Remove ast2700_fpga board
  boards/arm/ast2700_fpga/ast2700_ssp_fpga.dts
  boards/arm/ast2700_fpga/ast2700_tsp_fpga.dts
Labels: area: Devicetree, area: Boards

dts: aspeed: Move shm-size property in ipc node.
  dts/bindings/ipm/aspeed,ast2600-ipc.yaml
  samples/drivers/ipm/ipm_aspeed/Kconfig
  samples/drivers/ipm/ipm_aspeed/boards/ast2600_evb.overlay
  soc/arm/aspeed/ast26xx/nocache.ld
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

drivers: crypto: hash: implement query_hw_caps() for app used
  drivers/crypto/hash_aspeed.c
  drivers/crypto/hash_shell.c
  include/zephyr/crypto/crypto.h
Labels: area: API

drivers: pinctrl: Change LOG_INF to LOG_DBG.
  drivers/pinctrl/pinctrl_aspeed.c
Labels: none

Rename shm-mem property into shm_mem to be used in driver code.
  dts/bindings/ipm/aspeed,ast2600-ipc.yaml
  samples/drivers/ipm/ipm_aspeed/Kconfig
  samples/drivers/ipm/ipm_aspeed/boards/ast2600_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: Samples

driver: ipm: Add ipm_max_data_size_get and ipm_send support.
  drivers/ipm/ipm_ast2600.c
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

soc: arm: aspeed: Use "RAM" instead od "SRAM" in the linker script
  soc/arm/aspeed/ast26xx/linker.ld
  soc/arm/aspeed/ast27x0/linker.ld
Labels: none

soc: aspeed: change reg_read_poll_timeout() sleep time resolution
  drivers/crypto/crypto_aspeed.c
  drivers/crypto/hash_aspeed.c
  soc/arm/aspeed/aspeed_util.h
Labels: none

spi_monitor: support to control external mux select via multiple pins
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

drivers: serial: ns16550: Add support for clock_control and reset
  drivers/serial/uart_ns16550.c
  dts/bindings/serial/ns16550.yaml
Labels: area: Devicetree, area: Devicetree Binding
