Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

drivers/ltpi: Ensure 25M speed capability is preserved
  drivers/ltpi/ltpi_ast27xx.c
Labels: none

drivers: cache_ast27xx: Skip cache area configuration
  drivers/cache/cache_ast27xx.c
Labels: none

soc: ast27xx: Remove cache enablement from SOC init
  soc/aspeed/ast27xx/soc.c
Labels: none

samples: boards: ast2700_evb: Show the build date and time
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

drivers: misc: aspeed: cptra_misc: add SET_AUTH_MANIFEST mbox cmd
  drivers/misc/aspeed/cptra_ipc.c
  drivers/misc/aspeed/cptra_misc.c
  include/zephyr/drivers/cptra.h
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
  samples/boards/ast2700_evb/demo/src/cptra_sample.h
Labels: area: API, area: Samples

samples: ast2700_evb: demo: increase stack size to support Caliptra 1.2
  include/zephyr/drivers/cptra.h
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.conf
Labels: area: API, area: Samples

drivers: misc: aspeed: cptra_misc: add AUTHORIZE_AND_STASH mbox cmd
  drivers/misc/aspeed/cptra_ipc.c
  drivers/misc/aspeed/cptra_misc.c
  include/zephyr/drivers/cptra.h
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.conf
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
  soc/aspeed/ast27xx/crypto.c
Labels: area: API, area: Samples

drivers: misc: aspeed: cptra_dice: add more mbox cmd
  drivers/misc/aspeed/cptra_dice.c
  drivers/misc/aspeed/cptra_ipc.c
  include/zephyr/drivers/cptra.h
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
Labels: area: API, area: Samples

soc: arm: aspeed: Add padding to ensure 4-byte alignment
  soc/aspeed/ast10x0/tools/gen_uart_booting_image.py
Labels: none

soc: arm: aspeed: Add padding to ensure 4-byte alignment
  soc/arm/aspeed/ast10x0/tools/gen_uart_booting_image.py
Labels: none

dts: arm: aspeed: ast27xx-a0: Fix the INTC selection setting
  dts/arm/aspeed/ast27xx-a0.dtsi
  dts/bindings/interrupt-controller/aspeed,ast2700a0-intc-global.yaml
Labels: area: Devicetree, area: Devicetree Binding

include: zephyr: cptra: backport to cptra 1.1
  include/zephyr/drivers/cptra.h
Labels: area: API

drivers: misc: aspeed: cptra_ipc: add sha acc mode support
  drivers/misc/aspeed/cptra_ipc.c
  include/zephyr/drivers/misc/aspeed/cptra_ipc.h
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
Labels: area: API, area: Samples

drivers: i2c: Add data parameter for different i2c controller
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Add ast2700 ac-timing function
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Add AST2700 master interrupt handling
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Add ast2700 slave irq handling
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Update the ast2700 chip id define
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Update the DMA address setting
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c_global: Add ast2700 chip id checked
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

dts: ast27xx: Add i2c global and controller dts
  dts/arm/aspeed/ast27xx.dtsi
Labels: area: Devicetree

drivers: i2c_global: Add ssp define for ast2700
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

drivers: i2c: Fix the ast2700 ssp usage issue
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i3c: Select SHELL_GETOPT when enabling I3C_SHELL
  drivers/i3c/Kconfig
Labels: none

drivers: ipm_ast2700: Add ipm_register_callback support
  drivers/ipm/ipm_ast2700.c
Labels: none

drivers: ipm: Update definition of shmem
  include/zephyr/drivers/ipm.h
Labels: area: API

drivers: ipm_aspeed: Add aspeed ipm shell
  drivers/ipm/CMakeLists.txt
  drivers/ipm/Kconfig.aspeed
  drivers/ipm/ipm_aspeed_shell.c
Labels: none

include: ipm: Add SRAM share size define
  include/zephyr/drivers/ipm.h
Labels: area: API

drivers: ipm_aspeed_shell: Add share memory read / write command
  drivers/ipm/ipm_aspeed_shell.c
Labels: none

prictrl: Remove privilege contorl no permission group
  drivers/misc/aspeed/prictrl_aspeed.c
Labels: none

spi: aspeed: ast2700: Update decoding address register
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

dts: arm: aspeed: ast2700_ssp: Relocate data and stack sections to SRAM and TCM
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
Labels: area: Devicetree, area: Boards

kernel/init: Support locating main stack in a custom linker section
  kernel/init.c
Labels: area: Kernel

samples: boards: ast2700_evb: Move ram console config and dts to overlay
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  samples/boards/ast2700_evb/demo/prj.conf
  samples/hello_world/ast2700_evb_ast2700_bootmcu.overlay
Labels: area: Devicetree, area: Boards, area: Samples

spi: aspeed: ast2700: Update decoding address register
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

configs: ast2700_evb_bootmcu: Move heap mem pool to prj.conf
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Boards

drivers: ipm: Update definition of shmem
  include/zephyr/drivers/ipm.h
Labels: area: API

drivers: ipm: Remove original register call back implement
  drivers/ipm/ipm_ast2700.c
Labels: none

dts: arm: aspeed: ast2700_ssp: Fix the typo
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
Labels: area: Devicetree, area: Boards

configs: ast2700_evb_bootmcu: Add SYS_CLOCK_TICKS_PER_SEC configuration
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.conf
Labels: area: Samples
