Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

soc: dts: ast1060_evb: Add i2c filter pin control
  boards/arm/ast1060_evb/fun_def_list.h
  dts/arm/aspeed/ast10x0-pinctrl.dtsi
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
  soc/arm/aspeed/ast10x0/pin_def_list.h
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: area: Devicetree, area: Boards, area: Samples

Remove unnecessary test items
  tests/boards/ast1030/boards/ast1030_ft.conf
  tests/boards/ast1030/boards/ast1030_ft.overlay
  tests/boards/ast1030/boards/ast1030_slt.conf
  tests/boards/ast1030/boards/ast1030_slt.overlay
  tests/boards/ast1030/src/spi.c
Labels: area: Tests

soc: ast10x0: Remove unused pin define
  soc/arm/aspeed/ast10x0/pin_def_list.h
Labels: none

soc: ast10x0: Add back original pin define
  soc/arm/aspeed/ast10x0/pin_def_list.h
Labels: none

soc: ast10x0: Update pin assign
  soc/arm/aspeed/ast10x0/pin_def_list.h
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: none

drivers: i2c shell: remove i2c multi-function setting
  drivers/i2c/i2c_shell.c
Labels: area: I2C

drivers: i2c: Remove i2c mailbox default setting
  drivers/i2c/i2c_shell.c
  drivers/i2c/pfr/Kconfig.filter
  drivers/i2c/pfr/Kconfig.mailbox
  drivers/i2c/pfr/Kconfig.snoop
  drivers/i2c/slave/Kconfig.ipmb
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
  samples/boards/ast1060_evb/demo/prj.conf
Labels: area: I2C, area: Samples

dts: AST1060: Add comment for internal SPI master setting
  boards/arm/ast1060_evb/ast1060_evb.dts
Labels: area: Devicetree, area: Boards

demo: ast1060: Fix typo
  samples/boards/ast1060_evb/demo/src/spi_read.c
Labels: area: Samples

ast1060: Add write commands for SPI filter
  boards/arm/ast1060_evb/ast1060_evb.dts
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Boards, area: Samples

soc: ast10x0: Fix the i2c filter multi-function typo
  drivers/i2c/slave/Kconfig.eeprom
  soc/arm/aspeed/ast10x0/sig_def_list.h
Labels: area: I2C

soc: ast10x0: Add lost pin define
  soc/arm/aspeed/ast10x0/pin_def_list.h
Labels: none

drivers: ipmb: Update behavior into FIFO
  drivers/i2c/slave/ipmb_slave.c
  include/drivers/i2c/slave/ipmb.h
Labels: area: I2C, area: API

dts: aspeed: remove fmc_cs0 partition layout
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Devicetree, area: Samples

spim: Change "spi-monitor-num" to "spi-monitor-idx"
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI

Move some board specific settings to project layer
  boards/arm/ast1030_evb/ast1030_evb.dts
  boards/arm/ast1060_evb/ast1060_evb.dts
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Boards, area: Samples

soc: ast10x0: Fix the pin define order.
  soc/arm/aspeed/ast10x0/pin_def_list.h
Labels: none

spi monitor: Fix race condition for accessing SCU0F0
  drivers/flash/spi_nor_multi_dev.c
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Samples

spi_monitor: Rename parent node
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

tests: i2c: Add re-try behavior
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

pfr: Use SPI filter control API to access SCU0F0
  boards/arm/ast1060_evb/ast1060_evb.dts
  drivers/misc/aspeed/pfr_ast1060.c
  drivers/spi/spi_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  dts/bindings/spi/aspeed,spi-controller.yaml
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: Boards, area: API

drivers: i2c: Refine i2c interrupt
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

test:i2c:Remove dummy retry
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

drivers:ipmb:Fix the overrun issue
  drivers/i2c/slave/ipmb_slave.c
  include/drivers/i2c/slave/ipmb.h
Labels: area: I2C, area: API

drivres/i3c/slave: fix checking condition of the number of messages
  drivers/i3c/slave/i3c_slave_mqueue.c
Labels: none

drivers:i2c filter:Fix the include file comments
  include/drivers/i2c/pfr/i2c_filter.h
Labels: area: API

pfr: Adjust SW lock policy
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

dts/bindings/timer: add bindings for aspeed general purpose timer
  dts/bindings/timer/aspeed,timer.yaml
Labels: area: Devicetree, area: Devicetree Binding

pfr: Add valid command table related APIs
  boards/arm/ast1060_evb/ast1060_evb.dts
  drivers/spi/CMakeLists.txt
  drivers/spi/spi_aspeed.c
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  include/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.conf
Labels: area: Devicetree, area: SPI, area: Boards, area: API, area: Samples

drivers/timer: Add Aspeed timer driver
  drivers/timer/CMakeLists.txt
  drivers/timer/Kconfig
  drivers/timer/aspeed_timer.c
  drivers/timer/aspeed_timer_shell.c
  include/drivers/timer/aspeed_timer.h
Labels: area: Timer, area: API

dts/arm/aspeed: Add general purpose timers
  dts/arm/aspeed/ast10x0-irq.h
  dts/arm/aspeed/ast10x0.dtsi
Labels: area: Devicetree

samples/boards/ast1030_evb: Enable timer0 to timer7 for demo
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

drivers/timer: revise aspeed_timer user interface
  drivers/timer/aspeed_timer.c
  drivers/timer/aspeed_timer_shell.c
  include/drivers/timer/aspeed_timer.h
Labels: area: Timer, area: API

timer/aspeed: Init the matching counters to the max value
  drivers/timer/aspeed_timer.c
Labels: area: Timer

samples/boards/ast1030_evb: add timer2 for demo app
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
Labels: area: Samples

drivers/timer/aspeed: Use k_work to handle the timer event
  drivers/timer/aspeed_timer_shell.c
Labels: area: Timer

spi_monitor: Add address RW privilege operations
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

soc/arm/aspeed: move gen_uart_booting_image_tool.sh to soc directory
  boards/arm/ast1060_evb/tools/gen_uart_booting_image.sh
  soc/arm/aspeed/ast10x0/CMakeLists.txt
  soc/arm/aspeed/ast10x0/tools/gen_uart_booting_image.sh
Labels: area: Boards

spi_monitor: Add register lock APIs
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  include/drivers/misc/aspeed/pfr_aspeed.h
Labels: area: SPI, area: API

spi_monitor: Configure RW address privilege table by .dts
  drivers/spi/spi_monitor_aspeed.c
  dts/arm/aspeed/ast10x0.dtsi
  samples/boards/ast1060_evb/demo/boards/ast1060_evb.overlay
Labels: area: Devicetree, area: SPI, area: Samples

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
