Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

spi: ast2700: Remove unnecessary non-cache memory for BootMCU
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

eDAF: add ASPEED eDAF bridge controller driver
  drivers/misc/aspeed/edaf_bridge_aspeed.c
Labels: none

dts: bindings: edaf: add bridge YAML binding file
  dts/bindings/misc/aspeed,edaf-bridge.yaml
Labels: area: Devicetree, area: Devicetree Binding

dtsi: riscv: add edaf-bridge node for ast27xx SAFS
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

dts: add binding for ASPEED EDAF Bridge Controller
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

configs: add config EDAF_BRIDGE_ASPEED for SAFS
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
Labels: none

boards: ast1040_evb: add suffix for cm4 variant
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.yaml
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
  boards/aspeed/ast1040_evb/board.yml
Labels: area: Devicetree, area: Boards

boards: ast1040_evb: add bootMCU device tree files
  boards/aspeed/ast1040_evb/Kconfig.ast1040_evb
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu.dts
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu.yaml
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu_defconfig
  dts/riscv/aspeed/ast1040-irq.h
  dts/riscv/aspeed/ast1040.dtsi
Labels: area: Devicetree, area: Boards

soc: ast1040: add bootmcu support and refactor
  soc/aspeed/ast1040/CMakeLists.txt
  soc/aspeed/ast1040/Kconfig
  soc/aspeed/ast1040/Kconfig.defconfig
  soc/aspeed/ast1040/Kconfig.defconfig.ast1040
  soc/aspeed/ast1040/Kconfig.defconfig.bootmcu
  soc/aspeed/ast1040/Kconfig.defconfig.cm4
  soc/aspeed/ast1040/Kconfig.soc
Labels: none

dtsi: add trng node for AST1040 bootmcu
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu.dts
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu_defconfig
  dts/riscv/aspeed/ast1040.dtsi
Labels: area: Devicetree, area: Boards

configs: aspeed: Customized platform config
  boards/aspeed/ast1040_evb/Kconfig.ast1040_evb
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu.dts
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_bootmcu_defconfig
  boards/aspeed/ast2700_haps/ast2700_haps_ast2700_bootmcu_defconfig
Labels: area: Devicetree, area: Boards

drivers: clock_control: Depend on Platform build
  drivers/clock_control/CMakeLists.txt
  drivers/clock_control/Kconfig.aspeed
Labels: none

dtsi: ast1040: Add device node
  dts/riscv/aspeed/ast1040.dtsi
Labels: area: Devicetree

soc: ast1040: Fix build error
  soc/aspeed/ast1040/soc.c
Labels: none

configs: remove FMC manifest address offset
  boards/aspeed/ast1040_evb/Kconfig.ast1040_evb
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_fpga/Kconfig.ast2700_fpga
  boards/aspeed/ast2700_haps/Kconfig.ast2700_haps
Labels: area: Boards

spi: ast2700: Refine FMC SPI timing calibration process
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

boards: aspeed: Add AST2700-A1/A2 chip revision
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_bootmcu.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_bootmcu_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_ssp_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_ssp_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_ssp_tsp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a1_tsp_defconfig
  boards/aspeed/ast2700_evb/board.yml
  soc/aspeed/soc.yml
Labels: area: Devicetree, area: Boards

board: aspeed: Rename chip version name from "-a1" to "_a1"
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_ssp_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_ssp_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_ssp_tsp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_tsp_defconfig
Labels: area: Devicetree, area: Boards

configs: add AST2700 A1 SoC support
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_evb/Kconfig.defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_ssp_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_tsp.yaml
  boards/aspeed/ast2700_evb/board.yml
  drivers/cache/Kconfig.aspeed
  drivers/interrupt_controller/Kconfig.aspeed
  drivers/ipm/ipm_ast2600.c
  drivers/misc/aspeed/Kconfig
  samples/drivers/ipm/ipm_aspeed/src/main.c
  soc/aspeed/ast27xx/Kconfig
  soc/aspeed/ast27xx/Kconfig.defconfig.bootmcu
  soc/aspeed/ast27xx/Kconfig.defconfig.ssp
  soc/aspeed/ast27xx/Kconfig.defconfig.tsp
  soc/aspeed/ast27xx/Kconfig.soc
  soc/aspeed/ast27xx/soc.c
  soc/aspeed/soc.yml
Labels: area: Boards, area: Samples

samples: ast2700: Add "-a1" suffix symbol for A1 platform
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_a1_bootmcu.conf
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_a1_bootmcu.overlay
Labels: area: Samples

boards: update fpga/haps SoC revision
  boards/aspeed/ast2700_fpga/board.yml
  boards/aspeed/ast2700_haps/board.yml
Labels: area: Boards

configs: add shell prompt for A1 ssp_tsp build
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
Labels: area: Boards

configs: fix AST2700 A1/A2 support condition
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
  samples/boards/ast2700_evb/demo/Kconfig
  soc/aspeed/ast27xx/CMakeLists.txt
Labels: area: I2C, area: Samples

prictrl: Permit prictrl register read for debug purpose
  drivers/misc/aspeed/prictrl_aspeed.c
Labels: none

prictrl: Fix privilege control timing issue
  drivers/misc/aspeed/prictrl_aspeed.c
  drivers/misc/aspeed/prictrl_aspeed.h
  dts/bindings/misc/aspeed,prictrl.yaml
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Devicetree Binding

prictrl: Fix build cod warning
  drivers/misc/aspeed/prictrl_aspeed.c
Labels: none

sac: Add scu0 clock policy for ast2700a1
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  dts/bindings/clock/aspeed,ast27xx-scu0-clock.yaml
  soc/aspeed/ast27xx/sac.c
  soc/aspeed/ast27xx/sac.h
  soc/aspeed/ast27xx/sac_scu.h
  soc/aspeed/ast27xx/sac_scu0.c
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

sac: Add scu0 reset policy for ast2700a1
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  dts/bindings/reset/aspeed,ast27xx-reset.yaml
  soc/aspeed/ast27xx/sac_scu.h
  soc/aspeed/ast27xx/sac_scu0.c
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

sac: Add scu1 clock policy for ast2700a1
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  dts/bindings/clock/aspeed,ast27xx-scu1-clock.yaml
  soc/aspeed/ast27xx/sac_scu.h
  soc/aspeed/ast27xx/sac_scu0.c
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

sac: Add scu1 reset policy for ast2700a1
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  soc/aspeed/ast27xx/sac_scu0.c
Labels: area: Devicetree, area: Boards

sac: Refine sac scu policy to common code
  soc/aspeed/ast27xx/sac_scu.c
Labels: none

sac: Add scu1 clock selection lock for ast2700a1
  soc/aspeed/ast27xx/sac_scu.c
  soc/aspeed/ast27xx/sac_scu.h
Labels: none

sac: Add sac framework and sac_scu build control
  soc/aspeed/ast27xx/CMakeLists.txt
  soc/aspeed/ast27xx/Kconfig.defconfig.bootmcu
Labels: none

prictrl: Enable privilege control by default
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Boards

sac: Enable sac scu policy for ast2700a1
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu_defconfig
Labels: area: Devicetree, area: Boards

spi: aspeed: Warn when calibration is skipped due to monotonic data
  drivers/spi/spi_aspeed.c
Labels: area: SPI

sac: Do not lock clock selection by default
  soc/aspeed/ast27xx/sac_scu.c
Labels: none

caliptra: Support Caliptra disabled mode
  drivers/crypto/cptra_ecdsa.c
  drivers/crypto/cptra_lms.c
  drivers/crypto/cptra_sha.c
  drivers/misc/aspeed/cptra_dice.c
  drivers/misc/aspeed/cptra_misc.c
  drivers/misc/aspeed/cptra_update.c
  soc/aspeed/ast27xx/crypto.c
Labels: none

boards: add ast2755_evb board support
  boards/aspeed/ast2755_evb/Kconfig.ast2755_evb
  boards/aspeed/ast2755_evb/Kconfig.defconfig
  boards/aspeed/ast2755_evb/ast2755_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2755_evb/ast2755_evb_ast2700_bootmcu.yaml
  boards/aspeed/ast2755_evb/ast2755_evb_ast2700_bootmcu_defconfig
  boards/aspeed/ast2755_evb/board.yml
Labels: area: Devicetree, area: Boards

soc: ast1040: Enable DWT for CM4
  soc/aspeed/ast1040/Kconfig
Labels: none
