Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

i3c: aspeed: wait resp_q_ready when slave send sir.
  drivers/i3c/i3c_aspeed.c
Labels: none

Update mbedTLS module to 3.1.0
  drivers/crypto/Kconfig
  drivers/crypto/ecdsa_shell.c
  drivers/otp/otp_shell.c
  modules/mbedtls/CMakeLists.txt
  modules/mbedtls/Kconfig
  modules/mbedtls/Kconfig.tls-generic
  modules/mbedtls/configs/config-ccm-psk-tls1_2.h
  modules/mbedtls/configs/config-coap.h
  modules/mbedtls/configs/config-mini-dtls1_2.h
  modules/mbedtls/configs/config-mini-tls1_1.h
  modules/mbedtls/configs/config-mini-tls1_2.h
  modules/mbedtls/configs/config-no-entropy.h
  modules/mbedtls/configs/config-suite-b.h
  modules/mbedtls/configs/config-thread.h
  modules/mbedtls/configs/config-threadnet.h
  modules/mbedtls/configs/config-tls-generic.h
  modules/mbedtls/debug.c
  modules/mbedtls/include/zephyr_mbedtls_priv.h
  modules/mbedtls/shell.c
  modules/mbedtls/zephyr_init.c
  west.yml
Labels: area: Modules

samples: boards: ast10x0_evb: enable crypto related shell cmds
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.conf
  samples/boards/ast1060_evb/demo_extmux/boards/ast1060_evb.conf
  samples/boards/ast1060_evb/demo_extmux/prj.conf
  samples/boards/ast1060_evb/demo_passthrough/boards/ast1060_evb.conf
Labels: area: Samples

crypto: cavp: update mbedtls usages
  drivers/crypto/cavp_shell.c
Labels: none

drivers: i2c: slave: ipmb: Add the node size for IPMB usage
  include/drivers/i2c/slave/ipmb.h
Labels: area: API

Revert "clk: ast10x0: set PCLK to 31.25M for AST1060A2"
  drivers/clock_control/Kconfig.aspeed
  drivers/clock_control/clock_control_ast10x0.c
Labels: none

dts:ast2600:Add i2c define into ast2600.dtsi
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

dts:ast2600:Fix the i2c_8 default setting
  dts/arm/aspeed/ast26xx.dtsi
Labels: area: Devicetree

Drivers:i2c:Add ast2600 ssp checking behavior
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

i3c: aspeed: wait resp_q_ready when slave send ibi_notify.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: Add the option to enable the pec for priv-xfer.
  drivers/i3c/i3c_aspeed.c
  dts/bindings/i3c/aspeed,i3c.yaml
Labels: area: Devicetree, area: Devicetree Binding

i3c: aspeed: Read rx fifo when tid == 0x8 in slave mode
  drivers/i3c/i3c_aspeed.c
Labels: none

clock: ast2600: refactor APB clock
  drivers/clock_control/clock_control_ast26xx.c
  dts/arm/aspeed/ast26xx.dtsi
  include/dt-bindings/clock/ast26xx_clock.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

Drivers:i2c:Change back the original get i2c clock source code
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

i3c: aspeed: Change the meaning of the PID[11:0]
  drivers/i3c/i3c_aspeed.c
  dts/bindings/i3c/aspeed,i3c.yaml
  include/drivers/i3c/i3c.h
Labels: area: Devicetree, area: Devicetree Binding, area: API

jtag: aspeed: Support the control of TRST pin.
  drivers/jtag/jtag_aspeed.c
Labels: none

jtag: shell: Make jtag command more user-friendly.
  drivers/jtag/jtag_shell.c
Labels: none

i3c: aspeed: Declare i3c_aspeed_set_pid_extra_info in i3c.h
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: aspeed: Check the value of pid extra info.
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

i3c: aspeed: reset the IBI queue if unregistered IBI source
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: i3c: fix uninitialized value of ccc.id
  drivers/i3c/i3c_shell.c
Labels: none

spi_monitor: Disable interal pull-down for CS pin support
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

pfr: ast1060: Adjust boot up flow
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_dcscm/src/main.c
  samples/boards/ast1060_evb/demo_extmux/src/demo_pfr_boot_up.c
  samples/boards/ast1060_evb/demo_extmux/src/main.c
Labels: area: Samples

i3c: aspeed: Automatically hj when i3c as slave mode.
  drivers/i3c/i3c_aspeed.c
Labels: none

i3c: aspeed: reject hot-join by default
  drivers/i3c/i3c_aspeed.c
Labels: none

drivers: i2c: Replace the i2c_shell.c with i2c_aspeed_shell.c
  drivers/i2c/CMakeLists.txt
  drivers/i2c/Kconfig
  drivers/i2c/i2c_aspeed_shell.c
  drivers/i2c/i2c_shell.c
Labels: area: I2C

soc: arm: ast26xx: fix system crash when SSP reset
  boards/arm/ast2600_evb/ast2600_evb_defconfig
  soc/arm/aspeed/ast26xx/Kconfig.defconfig.series
  soc/arm/aspeed/ast26xx/linker.ld
Labels: area: Boards

drivers: i2c: Add single i2c write bytes function
  drivers/i2c/i2c_aspeed_shell.c
Labels: area: I2C

otp: use non-cached data buffer to store otp contents instead
  drivers/otp/otp_shell.c
Labels: none

otp: add confirm_yesno() for user interaction
  drivers/otp/otp_shell.c
Labels: none

soc: aspeed: Fix over access problem for soc_map_table array
  soc/arm/aspeed/ast10x0/soc.c
Labels: none

json: fix parsing first array-array element
  include/data/json.h
  lib/os/json.c
  tests/lib/json/src/main.c
Labels: area: API, area: Tests

soc: aspeed: Update ast1060-a2 chip id
  soc/arm/aspeed/aspeed_util.h
Labels: none

soc: Add AST1060-A2 engineer sample support
  soc/arm/aspeed/aspeed_util.h
  soc/arm/aspeed/ast10x0/soc.c
Labels: none

drivers: i3c: shell: Fix the flow of desc find.
  drivers/i3c/i3c_shell.c
Labels: none

spi_monitor: Add push-pull support for SPI monitor IO
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

usb: add header for USB Device Framework
  include/usb/usb_ch9.h
Labels: area: API

usb: rndis: return error on incorrect/unsupported request
  subsys/usb/class/netusb/function_rndis.c
Labels: none

usb: cleanup standard interfave request handler
  subsys/usb/usb_device.c
Labels: none

usb: loopback: use class internal buffer to store request data
  subsys/usb/class/loopback.c
Labels: none
