Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

board: ast1040_evb: Enable Timing API for CM4
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
Labels: area: Boards

caliptra: Add caliptra 2.x manifest ime layout
  include/zephyr/drivers/cptra.h
Labels: area: API

ast2700: Add FPGA configuration in AST2700-A2 Kconfig
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
Labels: area: Boards

config: ast1040_evb: Disable console
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu_defconfig
Labels: area: Boards

dts: ast1040_evb: Change text base at sram
  boards/aspeed/ast1040_evb/ast1040_evb_bootmcu.dts
Labels: area: Devicetree, area: Boards

Update README.rst
  README.rst
Labels: area: Documentation

dts: bindings: pcie: Add yaml for aspeed pcie
  dts/bindings/pcie/endpoint/aspeed,ast27xx-pcie.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: aspeed: ast2700: Add pcie's nodes
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

dts: ast2700_evb: Disable PCIE EP except for VGA
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

spi: aspeed: ast2700: Fix bug when ram start address is DRAM base
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

spi: ast2700: Always check ram address region
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

soc: aspeed: ast27xx: Add SSP TCM memory region support
  soc/aspeed/ast27xx/soc.c
Labels: none

spi: aspeed: ast2700: Update timing calibration method
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

drivers: misc: privctrl: Refine privilege control driver
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  drivers/misc/aspeed/prictrl_aspeed.c
  drivers/misc/aspeed/prictrl_aspeed.h
  dts/bindings/misc/aspeed,prictrl-prot.yaml
  dts/bindings/misc/aspeed,prictrl.yaml
  dts/riscv/aspeed/ast27xx.dtsi
  include/zephyr/dt-bindings/misc/ast27xx_prictrl.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API

boards: Enable privilege control for ast2700a2
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

drivers: otp: ast2700: enhance otp read performance
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

dts: Fix privilege control ssp master configuration
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

drivers: Refine privilege control dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  drivers/misc/aspeed/prictrl_aspeed.c
  drivers/misc/aspeed/prictrl_aspeed.h
Labels: area: Devicetree, area: Boards

dts: bindings: pcie: Add property alt-pcie-node
  dts/bindings/pcie/endpoint/aspeed,ast27xx-pcie.yaml
Labels: area: Devicetree, area: Devicetree Binding

spi: ast2700: Adjust the minimum initial segment window size
  drivers/spi/spi_aspeed_ast2700.c
Labels: area: SPI

pinctrl: aspeed: Add pin and group definitions for SPI and FW SPI
  dts/arm/aspeed/ast27xx-pinctrl.dtsi
  include/zephyr/dt-bindings/pinctrl/ast27xx-soc1-pinctrl-groups.h
Labels: area: Devicetree, area: API

edaf_bridge: clear SAFS size setting for channel 3
  drivers/misc/aspeed/edaf_bridge_aspeed.c
Labels: none

spi-nor: Optimize flash ready polling
  drivers/flash/spi_nor_multi_dev.c
Labels: none

drivers: intc_ast27xx: Register with multilevel IRQ framework
  drivers/interrupt_controller/intc_ast27xx.c
Labels: none

dts: bindings: prictrl: Remove unused property
  dts/bindings/misc/aspeed,prictrl.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: bindings: mpu: Update memory protection master id
  include/zephyr/dt-bindings/memory-controller/ast27xx-mpu.h
Labels: area: API

dts: binding: mpu: Add privilege control mpu dts node
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  dts/bindings/riscv/aspeed,ast27xx-mpu.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

ast1040: Fix CM4 sys clock rate
  boards/aspeed/ast1040_evb/ast1040_evb_cm4_defconfig
Labels: area: Boards

ast1040: Fix CM4 evb dts compatible string
  boards/aspeed/ast1040_evb/ast1040_evb_cm4.dts
Labels: area: Devicetree, area: Boards

drivers: aspeed: otp: move chip version func into driver layer
  drivers/misc/aspeed/lib_otp_ast2700.c
  drivers/misc/aspeed/otp_aspeed.c
  drivers/misc/aspeed/otp_ast2700.c
  include/zephyr/drivers/misc/aspeed/otp.h
  include/zephyr/drivers/misc/aspeed/otp_ast27xx.h
Labels: area: API

sac: scu: Enable scu policy by default for ast2700a2
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu_defconfig
Labels: area: Devicetree, area: Boards

dts: bindings: usb: Add yaml for aspeed soc0 usb
  dts/bindings/usb/aspeed,ast27xx-usb.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: aspeed: ast2700: Add Soc0 USB nodes
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

dts: ast2700_evb: Enable PCIe EHCI and PCIe XHCI
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
Labels: area: Devicetree, area: Boards

dts: ast2700_evb: Enable PCIe EHCI and PCIe XHCI in A1
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_a1_bootmcu.dts
Labels: area: Devicetree, area: Boards

soc: ast27xx: factor SSP/TSP AHB matrix window translation
  soc/aspeed/ast27xx/soc.c
Labels: none

spi: monitor: aspeed: Refactor driver for cross-platform support
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/zephyr/drivers/misc/aspeed/pfr_aspeed.h
  samples/boards/ast1060_evb/demo_dcscm/src/demo_pfr_boot_up.c
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API, area: Samples

spi: monitor: Switch IRQ registration to static
  drivers/spi/spi_monitor_aspeed.c
Labels: area: SPI

spi: monitor: Add AST2700 platform support
  drivers/spi/spi_monitor_aspeed.c
  drivers/spi/spi_monitor_shell.c
  dts/arm/aspeed/ast27xx_ssp.dtsi
  dts/bindings/spi/aspeed,spi-monitor-controller.yaml
  include/zephyr/drivers/misc/aspeed/ast2700_spim.h
  include/zephyr/dt-bindings/spi/ast2700_spim.h
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.conf
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_ssp.overlay
  samples/boards/ast2700_evb/demo/src/main.c
  samples/boards/ast2700_evb/demo/src/spim_sample.c
  samples/boards/ast2700_evb/demo/src/spim_sample.h
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, area: API, area: Samples

ast1040: add support for AST1040 HAPS FPGA board
  boards/aspeed/ast1040_haps/Kconfig.ast1040_haps
  boards/aspeed/ast1040_haps/ast1040_haps_bootmcu.dts
  boards/aspeed/ast1040_haps/ast1040_haps_bootmcu.yaml
  boards/aspeed/ast1040_haps/ast1040_haps_bootmcu_defconfig
  boards/aspeed/ast1040_haps/ast1040_haps_cm4.dts
  boards/aspeed/ast1040_haps/ast1040_haps_cm4.yaml
  boards/aspeed/ast1040_haps/ast1040_haps_cm4_defconfig
  boards/aspeed/ast1040_haps/board.yml
Labels: area: Devicetree, area: Boards

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
