Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

aspeed: Extend sigal descriptor from 3 to 5
  soc/aspeed/ast10x0/pinctrl_soc.h
Labels: none

drivers: i3c: common: Support random PID
  drivers/i3c/i3c_common.c
  include/zephyr/drivers/i3c.h
Labels: area: API

drivers: cache: Rename Aspeed AST27XX cache driver
  drivers/cache/CMakeLists.txt
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_ast27xx.c
  soc/aspeed/ast27x0/Kconfig
Labels: none

soc: aspeed: Add AST2700 IBEX MCU support
  drivers/timer/CMakeLists.txt
  drivers/timer/Kconfig.aspeed
  drivers/timer/ast2700_ibex_timer.c
  dts/bindings/timer/aspeed,ast2700-ibex-timer.yaml
  dts/riscv/aspeed/ast27xx.dtsi
  soc/aspeed/ast27x0/CMakeLists.txt
  soc/aspeed/ast27x0/Kconfig
  soc/aspeed/ast27x0/Kconfig.defconfig
  soc/aspeed/ast27x0/Kconfig.soc
  soc/aspeed/ast27x0/soc.c
  soc/aspeed/soc.yml
Labels: area: Timer, area: Devicetree, area: Devicetree Binding

boards: ast2700_fpga: Add ast2700/ibex mcu support
  boards/aspeed/ast2700_fpga/Kconfig.ast2700_fpga
  boards/aspeed/ast2700_fpga/Kconfig.defconfig
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_ibex.dts
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_ibex.yaml
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_ibex_defconfig
  boards/aspeed/ast2700_fpga/board.yml
Labels: area: Devicetree, area: Boards

soc: aspeed: Rename SoC series AST27X0 to AST27XX
  drivers/cache/Kconfig.aspeed
  soc/aspeed/ast27xx/CMakeLists.txt
  soc/aspeed/ast27xx/Kconfig
  soc/aspeed/ast27xx/Kconfig.defconfig
  soc/aspeed/ast27xx/Kconfig.soc
  soc/aspeed/ast27xx/irq_init.c
  soc/aspeed/ast27xx/irq_manage.c
  soc/aspeed/ast27xx/irq_manage_a1.c
  soc/aspeed/ast27xx/sboot.ld
  soc/aspeed/ast27xx/soc.c
  soc/aspeed/ast27xx/soc.h
  soc/aspeed/soc.yml
Labels: none

dts: arm: aspeed: Rename AST27XX DTS files
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_ssp.dts
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_tsp.dts
  dts/arm/aspeed/ast27x0_ssp-a1.dtsi
  dts/arm/aspeed/ast27xx-a0.dtsi
  dts/arm/aspeed/ast27xx-a0_ssp.dtsi
  dts/arm/aspeed/ast27xx-a0_tsp.dtsi
  dts/arm/aspeed/ast27xx.dtsi
  dts/arm/aspeed/ast27xx_ssp.dtsi
  dts/arm/aspeed/ast27xx_tsp.dtsi
Labels: area: Devicetree, area: Boards

soc: ast27xx: Rename irq_manage.c
  soc/aspeed/ast27xx/CMakeLists.txt
  soc/aspeed/ast27xx/irq_manage_legacy.c
Labels: none

soc: ast27xx: Rename irq_manage_a1.c
  soc/aspeed/ast27xx/CMakeLists.txt
  soc/aspeed/ast27xx/irq_manage.c
Labels: none

soc: ast27xx: Add macros to define AST2700 A0 SoCs
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_fpga/Kconfig.defconfig
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_ibex_defconfig
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_ssp_defconfig
  boards/aspeed/ast2700_fpga/ast2700_fpga_ast2700_tsp_defconfig
  drivers/cache/Kconfig.aspeed
  drivers/cache/cache_ast27xx.c
  drivers/interrupt_controller/CMakeLists.txt
  drivers/interrupt_controller/Kconfig.aspeed
  drivers/ipm/ipm_ast2600.c
  soc/aspeed/ast27xx/CMakeLists.txt
  soc/aspeed/ast27xx/Kconfig
  soc/aspeed/ast27xx/Kconfig.defconfig
  soc/aspeed/ast27xx/Kconfig.defconfig.ibex
  soc/aspeed/ast27xx/Kconfig.defconfig.ssp
  soc/aspeed/ast27xx/Kconfig.defconfig.tsp
  soc/aspeed/ast27xx/Kconfig.soc
Labels: area: Boards

drivers: intc: Rename ast27xx INTC driver
  drivers/interrupt_controller/CMakeLists.txt
  drivers/interrupt_controller/intc_ast27xx.c
  drivers/interrupt_controller/intc_ast27xx_legacy.c
Labels: none

boards: ast2700_evb: Remove CONFIG_TIMER
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
Labels: area: Boards

soc: ast27xx: Add ast2700-a0 in soc.yml
  soc/aspeed/soc.yml
Labels: none

boards: ast2700_evb: Rename ast2700 to ast2700-a0
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_evb/Kconfig.defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700-a0_tsp_defconfig
  boards/aspeed/ast2700_evb/board.yml
Labels: area: Devicetree, area: Boards

boards: ast2700_evb: Add ast2700-a1 SoCs support
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_evb/Kconfig.defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp_defconfig
  boards/aspeed/ast2700_fpga/Kconfig.ast2700_fpga
  boards/aspeed/ast2700_fpga/Kconfig.defconfig
  boards/aspeed/ast2700_fpga/board.yml
Labels: area: Devicetree, area: Boards

samples: ipm_aspeed: Fix up the board name
  samples/drivers/ipm/ipm_aspeed/boards/ast2700_evb_ast2700-a0_ssp.overlay
  samples/drivers/ipm/ipm_aspeed/boards/ast2700_evb_ast2700-a0_tsp.overlay
  samples/drivers/ipm/ipm_aspeed/src/main.c
Labels: area: Samples

drivers: i2c: Update CPU D-cache invalid api
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Fix the lost clear DMA behavior
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Fix the lost clear DMA behavior
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

boards: ast2700_evb: Add emmc alias
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex.dts
Labels: area: Devicetree, area: Boards

drivers: i2c: Check rx length when RX done flag rise
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Check rx length when RX done flag rise
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Remove unnecessary RX length clear
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Remove unnecessary RX length clear
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i2c: Remove nak/stop + match/rx_done/wait_rx case
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

test: i2c: Remove the ipmb test for diganose
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

test: i2c: Add wait testing timing
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

test: i2c: Remove uart print
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

test: i2c: Add back the test print
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

subsys: sd: Add mmc switch part api
  include/zephyr/sd/mmc.h
  subsys/sd/mmc.c
Labels: area: API

test: i2c: Add retry behavior
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

test: i2c: Remove dummy test print
  tests/boards/ast1030/src/i2c.c
Labels: area: Tests

drivers: i2c: Remove old mode timing table
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C

drivers: i3c: aspeed: Report actual number of transferred bytes of CCCS
  drivers/i3c/i3c_aspeed.c
Labels: none

dts: riscv: ast27xx: add Caliptra ECDSA and SHA device node
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree

drivers: crypto: add Caliptra ECDSA384 driver support
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/cptra_aspeed.h
  drivers/crypto/cptra_ecdsa.c
  dts/bindings/crypto/aspeed,cptra-ecdsa.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: crypto: add Caliptra SHA2 driver support
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig.aspeed
  drivers/crypto/cptra_aspeed.h
  drivers/crypto/cptra_sha.c
  dts/bindings/crypto/aspeed,cptra-sha.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: riscv: ast27xx: add rng device node
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex.dts
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Boards

flash: multi_dev: Select FLASH_HAS_EXPLICIT_ERASE by default
  drivers/flash/Kconfig.multi_dev
Labels: none

boards: aspeed: ast2700_evb: enable cptra ecdsa & sha
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ibex_defconfig
Labels: area: Devicetree, area: Boards
