Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

drivers: ipm: Reduce sleep duration in ipc_thread function
  drivers/ipm/ipm_bootmcu.c
Labels: none

arch/arm: Add support for relocating vector table to SRAM
  arch/arm/core/cortex_m/prep_c.c
  soc/aspeed/ast27xx/CMakeLists.txt
  soc/aspeed/ast27xx/sram_vector_table.ld
Labels: area: ARM

soc: aspeed: ast27xx: Enable SRAM vector table by default
  soc/aspeed/ast27xx/Kconfig.defconfig.ssp
  soc/aspeed/ast27xx/Kconfig.defconfig.tsp
Labels: none

spi: SPI DMA SRAM destination support
  soc/aspeed/ast27xx/soc.c
Labels: none

yaml: ast2700-ipc: Add channel share memory information
  dts/bindings/ipm/aspeed,ast2700-ipc.yaml
Labels: area: Devicetree, area: Devicetree Binding

dts: riscv: ast27xx: add OTP device node
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_bootmcu.dts
  dts/riscv/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Boards

dts: add device tree binding for AST27xx OTP
  dts/bindings/misc/aspeed,ast27xx-otp.yaml
Labels: area: Devicetree, area: Devicetree Binding

drivers: misc: aspeed: add OTP driver support for AST27xx series
  drivers/misc/aspeed/CMakeLists.txt
  drivers/misc/aspeed/Kconfig
  drivers/misc/aspeed/lib_otp_ast2700.c
  drivers/misc/aspeed/otp_ast2700.c
  drivers/misc/aspeed/otp_info_ast27xx.h
  include/zephyr/drivers/misc/aspeed/otp.h
  include/zephyr/drivers/misc/aspeed/otp_ast27xx.h
Labels: area: API

drivers: misc: aspeed: fix data handling in cptra mailbox
  drivers/misc/aspeed/cptra_mbox.c
Labels: none

include: drivers: cptra: revise cptra_get_idev_cert_ia structure
  include/zephyr/drivers/cptra.h
Labels: area: API

drivers: misc: aspeed: cptra_dice: update log message
  drivers/misc/aspeed/cptra_dice.c
Labels: none

drivers: ipm: Add share memory initial flow
  drivers/ipm/ipm_aspeed_shell.c
  drivers/ipm/ipm_ast2700.c
  include/zephyr/drivers/ipm_ast.h
Labels: area: API

dts: ast2700_ssp: Add share memory define for ipm
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
Labels: area: Devicetree, area: Boards

usb: aspeed: udc: Fix ASPEED UDC driver ZLP bug
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

usb: aspeed: udc: Fix ASPEED UDC driver ZLP bug
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

samples: boards: ast2700_evb: demo: Caliptra DPE sample code refactoring
  include/zephyr/drivers/cptra.h
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
  samples/boards/ast2700_evb/demo/src/cptra_sample.h
Labels: area: API, area: Samples

samples: boards: ast2700_evb: demo: add cptra_idevid.c
  samples/boards/ast2700_evb/demo/boards/ast2700_evb_ast2700_bootmcu.conf
  samples/boards/ast2700_evb/demo/src/cptra_idevid.c
  samples/boards/ast2700_evb/demo/src/cptra_idevid.h
  samples/boards/ast2700_evb/demo/src/main.c
Labels: area: Samples

usb: aspeed: udc: Remove unnecessary memset in UDC
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

dts: arm: ast2700_evb: Follow the dts-coding-style
  dts/arm/aspeed/ast27xx_ssp.dtsi
  dts/arm/aspeed/ast27xx_tsp.dtsi
Labels: area: Devicetree

dts: arm: ast27xx: Enable intc and intc1_global in dts file
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
  dts/arm/aspeed/ast27xx.dtsi
Labels: area: Devicetree, area: Boards

ipm: ipm_shell: Add ipm stress command and query shmem informtion api
  drivers/ipm/ipm_aspeed_shell.c
  drivers/ipm/ipm_ast2700.c
  include/zephyr/drivers/ipm_ast.h
Labels: area: API

ipm: ipm_shell: Update ipm stress call back function
  drivers/ipm/ipm_aspeed_shell.c
Labels: none

drivers: crypto: cptra_sha: optimize SHA update performance
  drivers/crypto/cptra_sha.c
Labels: none

drivers: crypto: cptra_sha: fix zero length scenario
  drivers/crypto/cptra_sha.c
Labels: none

drivers: intc_ast27xx: Improve logging in interrupt controller
  drivers/interrupt_controller/intc_ast27xx.c
  soc/aspeed/ast27xx/irq_manage.c
Labels: none

drivers: misc: otp_ast2700: remove redundant lock/unlock calls
  drivers/misc/aspeed/otp_ast2700.c
Labels: none

ipm: ipm_ast2700: add dcache invalid behvior for ipm rx buffer
  drivers/ipm/ipm_ast2700.c
Labels: none

dts: ast2700_ssp: update memory region for cached memory
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  drivers/cache/cache_ast27xx.c
Labels: area: Devicetree, area: Boards

dts: ast2700_ssp: Reserve memory for IPC
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp.dts
  include/zephyr/drivers/ipm.h
Labels: area: Devicetree, area: Boards, area: API

caliptra: Support caliptra manifest verification
  include/zephyr/drivers/cptra.h
  samples/boards/ast2700_evb/demo/src/cptra_sample.c
Labels: area: API, area: Samples

espi: aspeed: Replace deprecated byte-swap macro
  drivers/espi/espi_aspeed.c
Labels: none

drivers: espi: Enable eSPI support for AST1030
  samples/boards/ast1030_evb/demo/boards/ast1030_evb.overlay
  samples/boards/ast1030_evb/demo/prj.conf
Labels: area: Samples

boards: add support for AST2700 SSP-TSP variant
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp-tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp-tsp_defconfig
  boards/aspeed/ast2700_evb/board.yml
  soc/aspeed/soc.yml
Labels: area: Devicetree, area: Boards

dts: arm: aspeed: ast2700_tsp: Relocate data and stack sections to SRAM
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_tsp_defconfig
Labels: area: Devicetree, area: Boards

boards: ast2700_evb: ssp: increase main stack size to 8192
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_defconfig
Labels: area: Boards

boards: add shell prompt for SSP_TSP configuration
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
Labels: area: Boards

usb: aspeed: udc: Update UDC driver features
  drivers/usb/device/usb_dc_aspeed.c
Labels: none

boards: rename ssp-tsp references to ssp_tsp
  boards/aspeed/ast2700_evb/Kconfig.ast2700_evb
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_tsp.dts
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_tsp.yaml
  boards/aspeed/ast2700_evb/ast2700_evb_ast2700_ssp_tsp_defconfig
  boards/aspeed/ast2700_evb/board.yml
  soc/aspeed/soc.yml
Labels: area: Devicetree, area: Boards

ipm: ast: add get tx and rx size functions
  drivers/ipm/ipm_ast2700.c
  include/zephyr/drivers/ipm_ast.h
Labels: area: API

ipm: ast: add read rx and write tx shmem apis
  drivers/ipm/ipm_ast2700.c
  include/zephyr/drivers/ipm_ast.h
Labels: area: API

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"
