Repository AspeedTech-BMC/zephyr, changes with the labels that .github/labeler.yml gives for each.
All labels: Release Notes, area: Modem, area: PWM, area: Watchdog, area: Sensors, area: ADC, area: Counter, area: CAN, area: EEPROM, area: Timer, area: I2S, area: C Library, area: Devicetree, area: Devicetree Binding, area: Devicetree Tooling, area: I2C, area: SPI, area: Boards, area: POSIX, area: native port, area: X86, area: ARM, area: ARM64, area: NIOS2, area: Xtensa, area: RISCv32/64, area: ARC, area: Networking, area: Logging, area: Shell, area: Console, area: Test Framework, area: Settings, area: File System, area: Storage, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio, area: Bluetooth Controller, area: Bluetooth Host, area: API, area: Samples, area: Tests, area: Kernel, area: Documentation, area: Build System, area: Kconfig, area: Twister, area: Modules, area: Shields, area: Power Management, platform: NXP, platform: STM32, platform: SiLabs

.github/labeler.yml:

"Release Notes":
  - "doc/releases/**/*"
"area: Modem":
  - "drivers/modem/**/*"
"area: PWM":
  - "drivers/pwm/**/*"
"area: Watchdog":
  - "drivers/watchdog/**/*"
"area: Sensors":
  - "drivers/sensors/**/*"
"area: ADC":
  - "drivers/adc/**/*"
"area: Counter":
  - "drivers/counter/**/*"
"area: CAN":
  - "include/drivers/can.h"
  - "include/canbus/*/**"
  - "drivers/can/**/*"
  - "subsys/canbus/*/**"
"area: EEPROM":
  - "include/drivers/eeprom.h"
  - "drivers/eeprom/**/*"
"area: Timer":
  - "drivers/timer/**/*"
"area: I2S":
  - "drivers/i2s/**/*"
"area: C Library":
  - "lib/libc/**/*"
"area: Devicetree":
  - "dts/**/*"
  - "**/*.dts"
  - "**/*.dtsi"
  - "include/devicetree.h"
  - "include/devicetree/*"
  - "doc/guides/dts/**/*"
"area: Devicetree Binding":
  - "include/dt-bindings/**/*"
  - "dts/bindings/**/*"
"area: Devicetree Tooling":
  - "scripts/dts/**/*"
"area: I2C":
  - "drivers/i2c/**/*"
"area: SPI":
  - "drivers/spi/**/*"
"area: Boards":
  - "boards/**/*"
"area: POSIX":
  - "lib/posix/**/*"
"area: native port":
  - "arch/posix/**/*"
  - "include/arch/posix/**/*"
  - "soc/posix/**/*"
  - "**/*native_posix*"
"area: X86":
  - "arch/x86/**/*"
  - "include/arch/x86/**/*"
"area: ARM":
  - "arch/arm/**/*"
  - "include/arch/arm/**/*"
"area: ARM64":
  - "arch/arm64/**/*"
  - "include/arch/arm64/**/*"
"area: NIOS2":
  - "arch/nios2/**/*"
  - "include/arch/nios2/**/*"
"area: Xtensa":
  - "arch/xtensa/**/*"
  - "include/arch/xtensa/**/*"
"area: RISCv32/64":
  - "arch/risv/**/*"
  - "include/arch/riscv/**/*"
"area: ARC":
  - "arch/arc/**/*"
  - "include/arch/arc/**/*"
"area: Networking":
  - "subsys/net/**/*"
  - "samples/net/**/*"
  - "tests/net/**/*"
  - "include/net/**/*"
  - "include/drivers/ieee802154/**/*"
  - "drivers/ethernet/**/*"
  - "drivers/ieee802154/**/*"
  - "drivers/wifi/**/*"
  - "drivers/ptp_clock/**/*"
  - "drivers/net/**/*"
"area: Logging":
  - "subsys/logging/**/*"
"area: Shell":
  - "subsys/shell/**/*"
"area: Console":
  - "subsys/console/**/*"
"area: Test Framework":
  - "subsys/testsuite/**/*"
"area: Settings":
  - "subsys/settings/**/*"
"area: File System":
  - "subsys/fs/**/*"
"area: Storage":
  - "subsys/storage/**/*"
"area: Bluetooth":
  - "subsys/bluetooth/**/*"
  - "**/*bluetooth*"
"area: Bluetooth Mesh":
  - "subsys/bluetooth/mesh/**/*"
"area: Bluetooth Audio":
  - "subsys/bluetooth/audio/**/*"
"area: Bluetooth Controller":
  - "subsys/bluetooth/controller/**/*"
"area: Bluetooth Host":
  - "subsys/bluetooth/host/**/*"
  - "subsys/bluetooth/services/**/*"
"area: API":
  - "include/**/*"
"area: Samples":
  - "samples/**/*"
"area: Tests":
  - "tests/**/*"
"area: Kernel":
  - "kernel/**/*"
  - "tests/kernel/**/*"
"area: Documentation":
  - "**/*.rst"
  - "**/*.md"
"area: Build System":
  - "cmake/**/*"
  - "CmakeLists.txt"
"area: Kconfig":
  - "scripts/kconfig/**/*"
  - "Kconfig"
  - "Kconfig.zephyr"
"area: Twister":
  - "scripts/twister"
  - "scripts/pylib/twister/**/*"
"area: Modules":
  - "west.yml"
  - "modules/**/*"
"area: Shields":
  - "boards/shields/**"
  - "samples/shields/**"
"area: Power Management":
  - "subsys/pm/**/*"
  - "include/pm/**/*"
  - "tests/subsys/pm/**/*"
  - "samples/subsys/pm/**/*"
"platform: NXP":
  - "boards/arm/frdm*/**"
  - "boards/arm/hexiwear*/**"
  - "boards/arm/lpcxpresso*/**"
  - "boards/arm/*imx*/**"
  - "drivers/**/*imx*"
  - "drivers/**/*mcux*"
  - "dts/arm/nxp/*/*"
  - "dts/bindings/**/nxp*"
  - "soc/arm/nxp*/**"
"platform: STM32":
  - "boards/arm/nucleo_*/**"
  - "boards/arm/*stm32*/**"
  - "drivers/**/*stm32*"
  - "dts/arm/st/*/*"
  - "include/drivers/*/*stm32*"
  - "soc/arm/st_stm32/**"
"platform: SiLabs":
  - "boards/arm/efr32_*/**/*"
  - "boards/arm/efm32_*/**/*"
  - "drivers/**/*gecko*"
  - "dts/arm/silabs/**/*"
  - "dts/bindings/**/silabs,gecko*"
  - "soc/arm/silabs_exx32/**/*"

usb: remove useless len argument from usb_data_to_host()
  subsys/usb/usb_device.c
Labels: none

usb: fix request hijack through Audio class workaround
  subsys/usb/usb_device.c
Labels: none

usb: use new USB framework header
  include/usb/class/usb_audio.h
  include/usb/class/usb_cdc.h
  include/usb/usb_device.h
  subsys/tracing/tracing_backend_usb.c
  subsys/usb/bos.c
  subsys/usb/class/audio/audio.c
  subsys/usb/class/audio/usb_audio_internal.h
  subsys/usb/class/bluetooth.c
  subsys/usb/class/bt_h4.c
  subsys/usb/class/cdc_acm.c
  subsys/usb/class/dfu/usb_dfu.c
  subsys/usb/class/hid/core.c
  subsys/usb/class/loopback.c
  subsys/usb/class/msc.c
  subsys/usb/class/netusb/function_ecm.c
  subsys/usb/class/netusb/function_eem.c
  subsys/usb/class/netusb/function_rndis.c
  subsys/usb/class/netusb/netusb.c
  subsys/usb/os_desc.c
  subsys/usb/usb_descriptor.c
  subsys/usb/usb_device.c
Labels: area: Bluetooth, area: API

usb: store alternate interface settings
  subsys/usb/Kconfig
  subsys/usb/usb_device.c
Labels: none

samples: usb: use new USB framework header
  samples/net/wpanusb/src/wpanusb.c
  samples/subsys/usb/webusb/src/main.c
  samples/subsys/usb/webusb/src/webusb.c
Labels: area: Networking, area: Samples

usb: dfu: halt endpoint on flash API error or block mismatch
  subsys/usb/class/dfu/usb_dfu.c
Labels: none

usb: cleanup standard endpoing request handler
  subsys/usb/usb_device.c
Labels: none

usb: set data stage length variable to zero by default
  subsys/usb/usb_device.c
Labels: none

usb: cdc_ecm: return error on incorrect/unsupported request
  subsys/usb/class/netusb/function_ecm.c
Labels: none

usb: check request direction in request handlers
  subsys/usb/usb_device.c
Labels: none

usb: audio: rework custom request handler callback
  subsys/usb/class/audio/audio.c
Labels: none

usb: audio: additionally check control request direction
  subsys/usb/class/audio/audio.c
Labels: none

samples: wpanusb: return -ENOTSUP on unsupported device-to-host requests
  samples/net/wpanusb/src/wpanusb.c
Labels: area: Networking, area: Samples

samples: webusb: return -ENOTSUP on host-to-device control requests
  samples/subsys/usb/webusb/src/main.c
Labels: area: Samples

usb: cdc_acm: enhance verification of the class control requests
  subsys/usb/class/cdc_acm.c
Labels: none

usb: cleanup standard device request handler
  subsys/usb/usb_device.c
Labels: none

usb: bluetooth: additionally check control request direction
  subsys/usb/class/bluetooth.c
Labels: area: Bluetooth

usb: msc: additionally check control request direction
  subsys/usb/class/msc.c
Labels: none

usb: hid: obtain the requested length from wLength
  subsys/usb/class/hid/core.c
Labels: none

usb: audio: prevent unaligned memory access
  subsys/usb/class/audio/audio.c
Labels: none

usb: bt_h4: return -ENOTSUP on vendor requests
  subsys/usb/class/bt_h4.c
Labels: none

usb: dfu: check control request direction
  subsys/usb/class/dfu/usb_dfu.c
Labels: none

usb: remove USB_SCD_ATTRIBUTES macro
  include/usb/usb_ch9.h
  subsys/usb/class/dfu/usb_dfu.c
  subsys/usb/usb_descriptor.c
Labels: area: API

subsys: usb: dfu: fix set alternate interface failed issue
  subsys/usb/class/dfu/usb_dfu.c
Labels: none

usb: function_rndis: align rndis_cmd_pool to request buffer size
  subsys/usb/Kconfig
  subsys/usb/class/netusb/function_rndis.c
Labels: none

usb: function_rndis: do not force USB_COMPOSITE_DEVICE for IAD
  subsys/usb/class/netusb/Kconfig
  subsys/usb/class/netusb/function_rndis.c
Labels: none

usb: bluetooth: check buffer tailroom before copying
  subsys/usb/class/bluetooth.c
Labels: area: Bluetooth

bluetooth: hci_raw: avoid possible memory overflow in bt_buf_get_tx()
  subsys/bluetooth/host/hci_raw.c
  subsys/usb/class/bluetooth.c
Labels: area: Bluetooth, area: Bluetooth Host

entropy: aspeed: change mode selection
  drivers/entropy/entropy_aspeed_trng.c
Labels: none

tests: ast1030: usb: remove header file
  tests/boards/ast1030/src/usb.c
Labels: area: Tests

drivers: i2c_filter: Update the timeout setting
  drivers/i2c/pfr/i2c_filter.c
Labels: area: I2C

entropy: aspeed: add retry mechanism for len is not multiple of 4
  drivers/entropy/entropy_aspeed_trng.c
Labels: none

crypto: cavp: add ecdsa verify test
  drivers/crypto/cavp_shell.c
Labels: none

otp: export more API for further used
  drivers/otp/otp_shell.c
  soc/arm/aspeed/ast10x0/soc.h
Labels: none

samples: i3c: remove i3c loopback sample
  samples/drivers/i3c/Kconfig
  samples/drivers/i3c/loopback.overlay
  samples/drivers/i3c/overlay-loopback.conf
  samples/drivers/i3c/src/main.c
Labels: area: Samples

i3c: aspeed: make slave_put_read_data be a blocking function
  drivers/i3c/i3c_aspeed.c
  include/drivers/i3c/i3c.h
Labels: area: API

drivers: gpio: aspeed: Fix the pin value for single ended mode.
  drivers/gpio/gpio_aspeed.c
Labels: none

drivers: i2c: Update comments
  drivers/i2c/i2c_aspeed.c
  drivers/i2c/i2c_aspeed_shell.c
  drivers/i2c/i2c_global_aspeed.c
Labels: area: I2C

soc: ast10x0: fix typo
  soc/arm/aspeed/ast10x0/soc.h
Labels: none

drivers: i2c: Clear any other irq status when the bus recovery fail
  drivers/i2c/i2c_aspeed.c
Labels: area: I2C
